.fa-search 
	padding: 5px 
	background-color: red 
	border-radius: 20px 
	color: #fff 

.custom-right
	position: absolute
	right: 10px
	top: 16px

.clientOwner .card,.mCard
	margin-top: 10px

.clientOwner .card,.clientOwner .card .card-header, .mCard, .mCard .card-header
	background-color: #0baeec1a

.maticon 
     margin-bottom: 14px

.mapiconcss
     transform: translate(178px, -100px);


// .save-btn
// 	position: absolute
// 	width: 100%
// 	bottom: 1px
// 	left: 0px
// 	height: 42px
// .with-icon 
// 	display: flex
// 	align-items: center
// 	justify-content: center
