<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"
  [btnIcon]="btnIcon"></app-page-title>

<div class="card main-card mb-3">

  <div class="card-body">

    <mat-horizontal-stepper linear #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>insert_drive_file</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon>done_all</mat-icon>
      </ng-template>

      <!-- Custom icon with a context variable. -->

      <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>
      <mat-step label="Client Details" [stepControl]="clientForm"
        errorMessage="Please check the form and fill details properly.">
        <ng-template matStepperIcon="number" let-index="index">
          <i class="fa fa-check" *ngIf='clientForm.valid'></i>
          <span *ngIf='!clientForm.valid'>{{i}}</span>

        </ng-template>
        <div class="main-card mb-1 p-4 card">
          <div class="card-body">
            <h3 style="color: #00aeef;">
              Client Details
            </h3>
            <form #clientForm="ngForm" (ngSubmit)="save(clientForm)">
              <div class="form-row">

                <div class="col-md-6">
                  <div class="position-relative form-group" class="form-group has-warning">
                    <mat-form-field class="full-width">
                      <mat-label>Client Type</mat-label>
                      <mat-select name="cat" id="cat" [(ngModel)]="client.categoryId" required>
                        <mat-option *ngFor="let c of cat" [value]="c.id">
                          {{c.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-md-6">
                  <div class="position-relative form-group" class="form-group has-warning">
                    <mat-form-field class="full-width">
                      <mat-label>Organization Name</mat-label>
                      <input matInput required ngModel #name="ngModel" name="name" id="name"
                        placeholder="Enter Client Organization Name" type="text" [(ngModel)]="client.name"
                        class="form-control-warning">
                      <mat-error *ngIf="name.touched && !name.valid">
                        Client Organization Name required</mat-error>
                    </mat-form-field>

                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Organization Email</mat-label>
                      <input matInput pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel #email="ngModel"
                        name="email" id="email" type="email" placeholder="Enter Client Organization Email"
                        [(ngModel)]="client.email">
                      <!-- <mat-error *ngIf="email.touched && email.errors?.required">
                        Client Organization Email required</mat-error>
                      <mat-error *ngIf="email.errors?.pattern">Invalid Email ( eg : info@example.com )</mat-error> -->
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">

                    <mat-form-field class="full-width">
                      <mat-label>Phone Number</mat-label>
                      <span matPrefix>+91 &nbsp;</span>
                      <input matInput required pattern="[0-9]{10}$" ngModel #phone="ngModel" name="phone" id="phone"
                        placeholder="Enter Phone Number" type="text" [(ngModel)]="client.phoneNo" maxlength="10">
                      <mat-error *ngIf="phone.touched && phone.errors?.required">
                        Phone required</mat-error>
                      <mat-error *ngIf="phone.errors?.pattern"> Invalid Phone Number </mat-error>
                      <mat-error *ngIf="phone.errors?.maxlength"> Invalid Phone Number </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">

                    <mat-form-field class="full-width">
                      <mat-label>Organization Land Line Number</mat-label>

                      <input matInput pattern="[0-9]{10}$" ngModel #landlineNo="ngModel" name="landlineNo"
                        id="landlineNo" placeholder="Enter Organization Land Line Number" type="text"
                        [(ngModel)]="client.landlineNo">
                      <!-- <mat-error *ngIf="landlineNo.touched && landlineNo.errors?.required">
                        landline No. required</mat-error>
                      <mat-error *ngIf="landlineNo.errors?.pattern"> Invalid landline Number </mat-error> -->
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group" class="form-group has-warning">
                    <!-- <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Route No</mat-label>
                      <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of route | async" [value]="id">
                          {{option.number}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field> -->
                    <mat-form-field class="full-width">
                      <mat-label>Route No</mat-label>
                      <mat-select name="route" id="route" [(ngModel)]="client.route.id">
                        <mat-option *ngFor="let r of route" [value]="r.id">
                          {{r.number}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>
                <!-- <div class="col-md-6">
            <div class="position-relative form-group">
              
               <mat-form-field class="full-width"> 
                <mat-label>Organization Land Line Number</mat-label>
                
                <input matInput required  pattern="[0-9]{10}$"
              ngModel
              #phone="ngModel"
              name="phone" 
              id="phone" 
              placeholder="Enter Organization Land Line Number" 
              type="text" 
               
              [(ngModel)]="client.phone">
              <mat-error *ngIf="phone.touched && phone.errors?.required">
                Phone required</mat-error>
                 <mat-error *ngIf="phone.errors?.pattern"> Invalid Phone Number </mat-error>
                 </mat-form-field> 
            </div>
          </div> -->

              </div>


              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <mat-label>Remarks</mat-label>
                  <textarea matInput ngModel #description="ngModel" name="description" id="description"
                    placeholder="Enter Description" [(ngModel)]="client.description"></textarea>
                  <!-- <mat-error *ngIf="description.touched && !description.valid ">
                    description required</mat-error> -->
                </mat-form-field>
              </div>



              <div class="position-relative form-group">
                <h3 style="color: #00aeef;">
                  Client Company Details
                </h3>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Assigned To</mat-label>
                      <mat-select name="assign" id="assign" [(ngModel)]="client.assignedTo">
                        <mat-option [value]='0'>No Exexutive Found</mat-option>
                        <mat-option *ngFor="let e of exe" [value]="e.exeId">
                          {{e.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Date Of Starting</mat-label>
                      <input matInput name="Incorporated" id="Incorporated" placeholder="Enter Incorporated Date"
                        type="date" [(ngModel)]="incorporatedAt" [(appDate)]='client.incorporatedAt'>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>No Of Employee</mat-label>
                      <input matInput ngModel #noofemployee="ngModel" name="noofemployee" id="noofemployee"
                        placeholder="Enter No Of Employee" type="text" [(ngModel)]="client.noOfEmp">
                      <!-- <mat-error *ngIf="noofemployee.touched && !noofemployee.valid">
                        No Of Employee required</mat-error> -->
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Opening Balance</mat-label>
                      <input matInput ngModel #openingbalance="ngModel" name="openingbalance" id="openingbalance"
                        placeholder="Enter Opening Balance" type="text" [(ngModel)]="client.openingBalance">
                      <!-- <mat-error *ngIf="openingbalance.touched && !openingbalance.valid">
                        Opening Balance required</mat-error> -->
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Credit Limit</mat-label>
                      <input matInput ngModel #creditlimit="ngModel" name="creditlimit" id="creditlimit"
                        placeholder="Enter Credit Limit" type="text" [(ngModel)]="client.creditLimit">
                      <!-- <mat-error *ngIf="creditlimit.touched && !creditlimit.valid">
                        Credit Limit required</mat-error> -->
                    </mat-form-field>

                  </div>
                </div>

              </div>

              <div class="form-row">
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Outstanding</mat-label>
                      <input matInput ngModel #outstanding="ngModel" name="outstanding" id="outstanding"
                        placeholder="Enter Outstanding" type="text" [(ngModel)]="client.outstanding">
                      <!-- <mat-error *ngIf="outstanding.touched && !outstanding.valid">
                        Outstanding required</mat-error> -->
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Repay Period</mat-label>
                      <input matInput ngModel #typeofpayment="ngModel" name="typeofpayment" id="typeofpayment"
                        placeholder="Enter Repay Period" type="text" [(ngModel)]="client.repayPeriod">
                      <!-- <mat-error *ngIf="typeofpayment.touched && !typeofpayment.valid">
                        Repay Period required</mat-error> -->
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>GST Number</mat-label>
                      <input matInput pattern="[0-9]{12}$" ngModel #gst="ngModel" name="gst" id="gst"
                        placeholder="Enter GST Number" type="text" [(ngModel)]="client.gstNo">
                      <!-- <mat-error *ngIf="gst.touched && !gst.valid">
                        GST no required</mat-error> -->
                    </mat-form-field>

                  </div>
                </div>

              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Address</mat-label>
                      <textarea matInput ngModel #address="ngModel" name="address" id="address"
                        placeholder="Enter Address" type="text" [(ngModel)]="client.location.address"></textarea>
                      <!-- <mat-error *ngIf="address.touched && !address.valid">
                        Organization address required</mat-error> -->
                    </mat-form-field>

                  </div>
                </div>
              </div>

              <div class="position-relative form-group clientOwner">
                <h3 style="color: #00aeef;">
                  Client Contact Details
                </h3>
                <div class="card" *ngFor="let co of client.ownerDetails; let i = index;">
                  <div class="card-header">
                    {{client.ownerDetails[i].name?'Details of '+client.ownerDetails[i].name:'Details'}}
                    <span class="custom-right cursor-pointer" *ngIf="client.ownerDetails.length > 1"
                      (click)="removeCC('ownerDetails',i)">
                      <mat-icon>close</mat-icon>
                    </span>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                            <mat-label>Contact Name</mat-label>
                            <input matInput required ngModel name="con{{i}}" id="con{{i}}"
                              placeholder="Enter Contact Name " type="text" [(ngModel)]="client.ownerDetails[i].name">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                            <mat-label>Contact Phone</mat-label>
                            <input matInput required ngModel name="cop{{i}}" id="cop{{i}}"
                              placeholder="Enter Contact Phone " type="text"
                              [(ngModel)]="client.ownerDetails[i].phoneNo" maxlength="10">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                            <mat-label>Contact Email</mat-label>
                            <input matInput ngModel name="coe{{i}}" id="coe{{i}}" placeholder="Enter Contact Email "
                              type="text" [(ngModel)]="client.ownerDetails[i].emailId">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                            <mat-label>Date Of Birth</mat-label>
                            <input matInput name="codob{{i}}" id="codob{{i}}" type="date" [(ngModel)]="codob"
                              [(appDate)]='client.ownerDetails[i].dob'>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                            <mat-label>Department</mat-label>
                            <input matInput ngModel name="codept{{i}}" id="codept{{i}}" type="text"
                              [(ngModel)]="client.ownerDetails[i].department">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                            <mat-label>Designation</mat-label>
                            <input matInput ngModel name="codesig{{i}}" id="codesig{{i}}" type="text"
                              [(ngModel)]="client.ownerDetails[i].designation">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <mat-checkbox [(ngModel)]="client.ownerDetails[i].isPrimary" name="coisp{{i}}" id="coisp{{i}}"
                          (ngModelChange)="changeStatus('ownerDetails','isPrimary',i)">Is this Contact is Primary?
                        </mat-checkbox>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="card mt-3">
                  <div class="card-body text-center cursor-pointer with-icon" (click)="addCC('ownerDetails')">
                    <mat-icon>person_add</mat-icon> Add Contact Person
                  </div>
                </div>

              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <button mat-button matStepperNext [disabled]='!clientForm.valid' type="submit"
                      class="mt-2 btn btn-warning btn-block with-icon">
                      <mat-icon class="maticon">save</mat-icon> NEXT
                    </button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <button [disabled]='!clientForm.valid' type="submit"
                      class="mt-2 btn btn-success btn-block with-icon">
                      <mat-icon>save</mat-icon> CREATE CLIENT
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-step>
      <mat-step label="Company Address">
        <div class="row" *ngFor="let ad of client.addresses; let i=index">
          <div class="col-12">
            <form #clientadForm="ngForm" (ngSubmit)="saveAddress(clientadForm,i)">
              <div class="card mCard">
                <div class="card-header">
                  Address Details
                  <span class="custom-right cursor-pointer" *ngIf="client.addresses.length > 1"
                    (click)="removeCC('addresses',i)">
                    <mat-icon>close</mat-icon>
                  </span>
                </div>
                <div class="card-body">
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Line 1</mat-label>
                          <input matInput ngModel name="line1{{i}}" id="line1{{i}}" type="text"
                            [(ngModel)]="client.addresses[i].line1">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Line 2</mat-label>
                          <input matInput ngModel name="line2{{i}}" id="line2{{i}}" type="text"
                            [(ngModel)]="client.addresses[i].line2">
                        </mat-form-field>
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>City</mat-label>
                          <input matInput required ngModel name="city{{i}}" id="city{{i}}" type="text"
                            [(ngModel)]="client.addresses[i].city">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>State</mat-label>
                          <input matInput required ngModel name="state{{i}}" id="state{{i}}" type="text"
                            [(ngModel)]="client.addresses[i].state">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>zipcode</mat-label>
                          <input matInput required ngModel name="zipcode{{i}}" id="zipcode{{i}}" type="text"
                            [(ngModel)]="client.addresses[i].zipcode" maxlength="6">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Longitude Latitude</mat-label>
                          <input matInput ngModel name="longlatitude{{i}}" id="longlatitude{{i}}" type="text"
                            [(ngModel)]="client.addresses[i].longlatitude">
                        </mat-form-field>
                        <p>Note: 17.4197783,78.552081
                          <a href="https://google.com/maps" target="_blank"><span>
                              <mat-icon> location_on</mat-icon>
                            </span> <span>Tap to Map</span></a>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Area Name</mat-label>
                          <mat-select name="area{{i}}" id="area{{i}}" [(ngModel)]="client.addresses[i].country">
                            <mat-option *ngFor="let a of arealist" [value]="a">
                              {{a}}
                            </mat-option>
                          </mat-select>
                          <!-- <mat-select name="country" id="country" [(ngModel)]="client.addresses.country" required>
                            <mat-option [value]="ameerpet">Ameerpet </mat-option>
                            <mat-option [value]="uppal">Uppal </mat-option>
                            <mat-option [value]="hightech">Hight Tech City</mat-option>
                            <mat-option [value]="madhupur">Madhapur</mat-option>
                          </mat-select> -->
                          <!-- <input matInput required ngModel name="name{{i}}" id="name{{i}}" type="text"
                            [(ngModel)]="client.addresses[i].name"> -->
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <mat-checkbox [(ngModel)]="client.addresses[i].isBilling" name="caisBilling{{i}}"
                          id="caisBilling{{i}}" (ngModelChange)="changeStatus('addresses','isBilling',i)"> is Billing
                          Address?</mat-checkbox>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <b class="float-right text-success with-icon" *ngIf="client.addresses[i].isPrimary">
                          <mat-icon>verified</mat-icon>Primary
                        </b>
                        <b class="float-right text-primary cursor-pointer" *ngIf="!client.addresses[i].isPrimary"
                          (click)="updateStatus('addresses','isPrimary',i)">Make Primary</b>


                      </div>
                    </div>
                    <!-- <div class="col-md-12 save-btn">
                      <div class="position-relative form-group">
                        <button class="btn btn-success btn-block with-icon">
                          <mat-icon>save</mat-icon> Save
                        </button>
                      </div>
                    </div> -->

                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <button mat-button matStepperNext type="submit"
                          class="mt-2 btn btn-warning btn-block with-icon">
                          <mat-icon class="maticon">save</mat-icon> NEXT
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <button type="submit" class="mt-2 btn btn-success btn-block with-icon">
                          <mat-icon>save</mat-icon> CREATE CLIENT
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card mCard mt-3">
          <div class="card-body text-center cursor-pointer with-icon" (click)="addCC('addresses')">
            <mat-icon>add_location_alt</mat-icon> Add Address
          </div>
        </div>
      </mat-step>

      <mat-step label="Account Details">
        <div class="row" *ngFor="let ad of client.accountDetails; let i=index">
          <div class="col-12">
            <form #clientAccForm="ngForm" (ngSubmit)="saveAccount(clientAccForm,i)">
              <div class="card mCard">
                <div class="card-header">
                  Account Details
                  <span class="custom-right cursor-pointer" *ngIf="client.accountDetails.length > 1"
                    (click)="removeCC('accountDetails',i)">
                    <mat-icon>close</mat-icon>
                  </span>
                </div>
                <div class="card-body">
                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Account Name</mat-label>
                          <input matInput ngModel name="acname{{i}}" id="acname{{i}}" type="text"
                            [(ngModel)]="client.accountDetails[i].name">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Account No</mat-label>
                          <input matInput ngModel name="acNo{{i}}" id="acNo{{i}}" type="text"
                            [(ngModel)]="client.accountDetails[i].accNo">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Account Type</mat-label>
                          <input matInput ngModel name="accType{{i}}" id="accType{{i}}" type="text"
                            [(ngModel)]="client.accountDetails[i].accType">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Bank Name</mat-label>
                          <input matInput ngModel name="bankName{{i}}" id="bankName{{i}}" type="text"
                            [(ngModel)]="client.accountDetails[i].bankName">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>Branch</mat-label>
                          <input matInput ngModel name="branch{{i}}" id="branch{{i}}" type="text"
                            [(ngModel)]="client.accountDetails[i].branch">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label>IFSC</mat-label>
                          <input matInput ngModel name="ifsc{{i}}" id="ifsc{{i}}" type="text"
                            [(ngModel)]="client.accountDetails[i].ifsc">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="position-relative form-group">
                        <b class="float-right with-icon text-success" *ngIf="client.accountDetails[i].isPrimary">
                          <mat-icon>verified</mat-icon> Primary
                        </b>
                        <b class="float-right text-primary cursor-pointer" *ngIf="!client.accountDetails[i].isPrimary"
                          (click)="updateStatus('accountDetails','isPrimary',i)">Make Primary</b>
                      </div>
                    </div>
                    <!-- <div class="col-md-12 save-btn">
                      <div class="position-relative form-group">
                        <button class="btn btn-success btn-block with-icon">
                          <mat-icon>save</mat-icon> Save
                        </button>
                      </div>
                    </div> -->


                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <button type="submit" mat-button matStepperNext
                          class="mt-2 btn btn-warning btn-block with-icon">
                          <mat-icon class="maticon">save</mat-icon> NEXT
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <button type="submit" class="mt-2 btn btn-success btn-block with-icon">
                          <mat-icon>save</mat-icon> CREATE CLIENT
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card mCard mt-3">
          <div class="card-body text-center cursor-pointer with-icon" (click)="addCC('accountDetails')">
            <mat-icon>payment</mat-icon> Add Account Details
          </div>
        </div>
      </mat-step>

      <mat-step label="KYC Details">
        <div class="card mCard row">
          <div class="card-body col-12">
            <form #clientKycForm="ngForm" (ngSubmit)="saveKyc(clientKycForm)">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Name </mat-label>
                      <input matInput ngModel name="kycname" id="kycname" type="text"
                        [(ngModel)]="client.kycDetail.name">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Aadhaar No </mat-label>
                      <input matInput ngModel name="aadhaarNo" id="aadhaarNo" type="text"
                        [(ngModel)]="client.kycDetail.aadhaarNo">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Pan Card </mat-label>
                      <input matInput ngModel name="panCard" id="panCard" type="text"
                        [(ngModel)]="client.kycDetail.panCard">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Date Of Birth </mat-label>
                      <input matInput ngModel name="kycdob" id="kycdob" type="date" [(ngModel)]="kycdob"
                        [(appDate)]='client.kycDetail.dob'>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Attach File</mat-label>
                      <button mat-icon-button matPrefix (click)="f_input.click()">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <input type="text" readonly matInput name="kycimage" id="kycimage"
                        [(ngModel)]="client.kycDetail.image" />
                      <input type="file" multiple hidden #f_input (change)="handleFileInputChange(f_input.files)" />
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="col-md-12">
                  <div class="position-relative form-group">
                    <button class="btn btn-success btn-block with-icon">
                      <mat-icon>save</mat-icon> Save
                    </button>
                  </div>
                </div> -->

              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <button type="submit" mat-button matStepperNext class="mt-2 btn btn-warning btn-block with-icon">
                      <mat-icon class="maticon">save</mat-icon> NEXT
                    </button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <button type="submit" class="mt-2 btn btn-success btn-block with-icon">
                      <mat-icon>save</mat-icon> CREATE CLIENT
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-step>
      <mat-step label="Social Links">
        <div class="card mCard row">
          <div class="card-body col-12">
            <form #clientSCForm="ngForm" (ngSubmit)="saveSocial(clientSCForm)">
              <div class="form-row">
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Web Site Url </mat-label>
                      <input matInput ngModel name="websiteUrl" id="websiteUrl" type="text"
                        [(ngModel)]="client.contactDetail.websiteUrl">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>LinkedIn Url </mat-label>
                      <input matInput ngModel name="linkedinUrl" id="linkedinUrl" type="text"
                        [(ngModel)]="client.contactDetail.linkedinUrl">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Facebook Url </mat-label>
                      <input matInput ngModel name="fbUrl" id="fbUrl" type="text"
                        [(ngModel)]="client.contactDetail.fbUrl">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Instagram Url </mat-label>
                      <input matInput ngModel name="instaUrl" id="instaUrl" type="text"
                        [(ngModel)]="client.contactDetail.instaUrl">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Twitter Url </mat-label>
                      <input matInput ngModel name="twitterUrl" id="twitterUrl" type="text"
                        [(ngModel)]="client.contactDetail.twitterUrl">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <mat-label>G Plus Url </mat-label>
                      <input matInput ngModel name="gplusUrl" id="gplusUrl" type="text"
                        [(ngModel)]="client.contactDetail.gplusUrl">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="col-md-12">
                  <div class="position-relative form-group">
                    <button class="btn btn-success btn-block with-icon">
                      <mat-icon>save</mat-icon> Save
                    </button>
                  </div>
                </div> -->

              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <button type="submit" mat-button matStepperNext class="mt-2 btn btn-warning btn-block with-icon">
                      <mat-icon class="maticon">save</mat-icon>NEXT
                    </button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <button type="submit" class="mt-2 btn btn-success btn-block with-icon">
                      <mat-icon>save</mat-icon> CREATE CLIENT
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>