<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>

<div class="row">
  <div class="col-md-6">
    <div class="map-container" id="map">
      <span
        ><img src="../../assets/images/NEEMiiT.png" class="neemiitlogo"
      /></span>
    </div>
  </div>

  <!-- textField Area -->
  <div class="col-md-6">
    <perfect-scrollbar style="width: 100%; max-height: 400px;" [config]="config">
    <div class="main-card mb-3 card">
      <div class="card-body trip">
        <h6>{{trip.id==0 || trip.id== undefined ? (queryParams.type == 'duplicate'?'Dupliucate':'Add'):'Update'}} Trip</h6>
        <form #tripForm="ngForm" (ngSubmit)="add(tripForm)">
          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    required
                    name="title"
                    #title="ngModel"
                    id="title"
                    [(ngModel)]="trip.title"
                    placeholder="Enter trip Title"
                    type="text"
                  />
                  <mat-error *ngIf="title.touched && !title.valid">
                    Title Required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

             <div class="col-md-12">
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <textarea
                    matInput
                    required
                    name="description"
                    #description="ngModel"
                    id="description"
                    [(ngModel)]="trip.description"
                    placeholder="Enter Description"
                    type="text"
                  ></textarea>
                  <mat-error *ngIf="description.touched && !description.valid">
                   Description Required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Priority</mat-label>
                <mat-select [(ngModel)]="trip.priorityType" #prioriti="ngModel" name="priority" id="priority" required>
                  <mat-option  *ngFor="let pre of priority" [value]="pre.name">{{
                    pre.name
                    }}</mat-option>
                </mat-select>
                <mat-error *ngIf="prioriti.touched && !prioriti.valid">
                  Priority Required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Repeat</mat-label>
                <mat-select  [(ngModel)]="trip.period" #period="ngModel" name="period" id="period" required>
                  <mat-option *ngFor="let pre of periods" [value]="pre.name">{{
                    pre.name
                    }}</mat-option>
                </mat-select>
                <mat-error *ngIf="period.touched && !period.valid">
                  Repeat Required
                </mat-error>
              </mat-form-field>
            </div>

          </div>
          <div class="form-row">
            <h6>Points</h6>
          
              <mat-accordion cdkDropList class="col-12" (cdkDropListDropped)="drop($event)">
                <mat-expansion-panel *ngFor="let p of trip.tripPoints; let i = index;" id="pvid{{i}}" [class]="p.point.type=='CLIENT'?(p.point.clientId == null || p.point.clientId==0 || !p.point.name || !p.purpose || !p.point.locCurrent.address || !expTimeValidate(p.expTym)
                        ?'pointError':'pointSuccess'):(!p.point.name || !p.purpose || !p.point.locCurrent.address || !expTimeValidate(p.expTym)
                        ?'pointError':'pointSuccess')"   cdkDrag>
                  <mat-expansion-panel-header >
                    <mat-panel-title >
                      <mat-icon [title]="p.point.type=='CLIENT'?(p.point.clientId == null ||p.point.clientId==0 || !p.point.name || !p.purpose || !p.point.locCurrent.address || !expTimeValidate(p.expTym)
                        ?'Hey, you missed some fields':''):(!p.point.name || !p.purpose || !p.point.locCurrent.address || !expTimeValidate(p.expTym)
                        ?'Hey, you missed some fields':'')">{{p.point.type=='CLIENT'?(p.point.clientId == null || p.point.clientId==0 || !p.point.name || !p.purpose || !p.point.locCurrent.address || !expTimeValidate(p.expTym)
                        ?'error':'check_circle'):(!p.point.name || !p.purpose || !p.point.locCurrent.address || !expTimeValidate(p.expTym)
                        ?'error':'check_circle')}}</mat-icon>
                      <small style="white-space: nowrap;overflow: hidden;">Point {{i+1}} </small>
                    </mat-panel-title>
                    <mat-panel-description>
                      <small [title]="p.point.locCurrent.address" style="float:right;max-width:270px;white-space: nowrap;overflow: hidden">{{p.point.locCurrent.address}}</small>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="point row" [attr.data-sequence]="sequence(i)" >
                  <i class="fa fa-times close" *ngIf="trip.tripPoints.length > 2" (click)="removePoint(i)"></i>
                  <i class="fa fa-caret-up move-up" *ngIf="i != 0" (click)="shiftUp(i)"></i>
                  <i class="fa fa-caret-down move-down" *ngIf="i+1 != trip.tripPoints.length" (click)="shiftDown(i)"></i>
                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Visit Type</mat-label>
                    <mat-select [(ngModel)]="trip.tripPoints[i].point.type" name="type{{i}}" id="type{{i}}" (selectionChange)="typeSelected(i)" required>
                      <mat-option *ngFor="let pre of visittypes" [value]="pre.name">{{
                        pre.name
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-8" *ngIf="trip.tripPoints[i].point.type=='CLIENT'">
                  <mat-form-field class="full-width" >
                    <mat-label>Select Client</mat-label>
                    <mat-select [(ngModel)]="trip.tripPoints[i].point.clientId" name="clientId{{i}}" id="clientId{{i}}" (selectionChange)="clientSelected(trip.tripPoints[i].point.clientId,i)" required>
                      <mat-option *ngFor="let pre of clients; let j = index" [value]="pre.id">{{
                        pre.name
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="col-md-12">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <input matInput required name="locCurrent{{i}}" id="locCurrent{{i}}" [(ngModel)]="trip.tripPoints[i].point.locCurrent.address"
                        placeholder="Location Address" type="text" (keyup)="ontextInLoc()" (focus)="selectPoint(i)"/>
                      <!-- <mat-error *ngIf="point[i].touched && !point{{i}}.valid"> -->
                      <!-- Point name Required</mat-error> -->
                      <mat-icon matSuffix class="text-primary" *ngIf="pointIndex==i">place</mat-icon>
                      <mat-icon matSuffix *ngIf="pointIndex!=i" (click)="selectPoint(i)">place</mat-icon>
                    </mat-form-field>
                    <span class="pointloc">LatLng : {{trip.tripPoints[i].point.locCurrent.lat!=null?trip.tripPoints[i].point.locCurrent.lat+','+trip.tripPoints[i].point.locCurrent.lng:'NA'}}</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <input matInput required name="point{{i}}"  id="point{{i}}" [(ngModel)]="trip.tripPoints[i].point.name"
                        placeholder="Enter Point Name" type="text"  (ngModelChange)="_filterName(i)"
           [matAutocomplete]="auto" (focus)="selectPoint(i)" [readonly]="trip.tripPoints[i].type =='CLIENT'"/>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedName($event)">
                          <mat-option  *ngFor="let option of filteredPoints; let i = index;" [value]="option.name">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                
                <div class="col-md-12">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <input matInput required name="purpose{{i}}" #purpose{{i}}="ngModel" id="purpose" [(ngModel)]="trip.tripPoints[i].purpose"
                        placeholder="Enter Purpose" type="text" />
                      <!-- <mat-error *ngIf="point[i].touched && !point{{i}}.valid"> -->
                      <!-- Point name Required</mat-error> -->
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-12">
                  <small class="text-secondary" >Approximate Time To Reach This Point</small>
                
                </div>
                <div class="col-md-12">
                  <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                      <input matInput required name="expTym{{i}}" id="expTym{{i}}" placeholder="Approximate Time (Hrs:Mins):" [(ngModel)]="trip.tripPoints[i].expTym" type="text" pattern="^([0-9]|[0-1][0-9]|[0-2][0-4]|24|all)[:]([0-9]|[0-5][0-9]|59|all)$"/>
                      <span matSuffix>Hrs:Mins</span>
                      
                    </mat-form-field>
                  </div>
                </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="form-row">
            <div class="col-12">
              <span class="btn btn-outline-primary mb-2 btn-block" (click)="newPoint()"> Add New Point</span>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <button class="btn btn-primary btn-block" id="savenc">Save and Continue 
                <i mat-raised-bottom matTooltipPosition="above" matTooltipHideDelay="1000" matTooltip="Info about the action" class="fa fa-info-circle"></i>
              </button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-block" id="savens">Save and Schedule
                <i mat-raised-bottom matTooltipPosition="above" matTooltipHideDelay="1000" matTooltip="Info about the action"
                  class="fa fa-info-circle"></i>
              </button>
            </div>
          </div>



        </form>
      </div>
    </div>
    </perfect-scrollbar>
  </div>
</div>

