#map 
	height: 100%
	width: 100%
	position: relative


.neemiitlogo
	display: inline-block
	position: absolute
	width: 100px
	height: 40px
	bottom: 10px
	right: 0px
	z-index: 99999

::ng-deep mat-expansion-panel-header,::ng-deep mat-expansion-panel-header.mat-expanded:hover
  position: relative
  background-color: #02afef21 !important
  padding: 0 35px !important

::ng-deep .mat-expansion-panel-content
  background-color: #02afef21

::ng-deep mat-expansion-panel-header mat-icon.mat-icon
  position: absolute
  left: 10px
  top: 50%
  transform: translateY(-50%)
  font-size: 20px

::ng-deep .mat-expansion-indicator::after
  border-color: #656565 !important

::ng-deep .pointError mat-expansion-panel-header mat-icon
  color: #f7b924

::ng-deep .pointSuccess mat-expansion-panel-header mat-icon
  color: #3ac47d


.table
	border: 1px solid #d0d0d0
.table tr
  height: 2.5rem
  border-bottom: 1px solid silver
  padding-left: .5rem
  background-color: transparent

.table td
  border-bottom: 1px solid silver
  padding-left: .5rem
  background-color: transparent

.table th
  height: 2.7rem
  text-align: left
  padding-left: .5rem
  border-bottom: 1px solid #d0d0d0
  border-top: 1px solid #d0d0d0

.placeholder
  background-color: transparent
  height: 2.5rem

.point
  // padding: 15px 20px 10px 0px
  width: 100%
  // margin-left: 1px
  margin-bottom: 5px
  // border: 1px solid transparent
  // box-shadow: 0px 0px 5px 1px #ccc
  // border-radius: 10px
  position: relative

.point
  // cursor: grab

.point .close
  position: absolute
  right: 10px
  top: 10px
  color: #9c9c9c
  cursor: pointer

.point .move-up
  position: absolute
  right: 10px
  bottom: 30px
  color: #9c9c9c
  cursor: pointer

.point .move-down
  position: absolute
  right: 10px
  bottom: 10px
  color: #9c9c9c
  cursor: pointer

.point .close:hover ,.point .move-up:hover , .point .move-down:hover
  color: #000000

.pointloc
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10px;

.trip button
  position: relative

.trip button i
  position: absolute
  right: 10px
  top: 50%
  transform: translateY(-50%)

.leaflet-default-shadow-path
  background-image: url('/../../../../assets/images/leaflet/marker-shadow.png')