<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>

<div class="row">
  <div class="col-md-6">
    <div class="map-container" id="map">
      <span
        ><img src="../../assets/images/NEEMiiT.png" class="neemiitlogo"
      /></span>
    </div>
  </div>

  <!-- textField Area -->
  <div class="col-md-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h6 class="p-2">Add Trip</h6>
        <form #tripForm="ngForm" (ngSubmit)="add(tripForm)">
          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    required
                    name="title"
                    #title="ngModel"
                    id="title"
                    [(ngModel)]="trip.title"
                    placeholder="Enter trip Title"
                    type="text"
                  />
                  <mat-error *ngIf="title.touched && !title.valid">
                    Title Required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

             <div class="col-md-12">
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <textarea
                    matInput
                    required
                    name="description"
                    #description="ngModel"
                    id="description"
                    [(ngModel)]="trip.description"
                    placeholder="Enter Description"
                    type="text"
                  ></textarea>
                  <mat-error *ngIf="title.touched && !title.valid">
                   Description Required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <!-- startLocation -->
            <div class="col-md-12">
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    required
                    name="startLocation"
                    #startLocation="ngModel"
                    id="startLocation"
                    [(ngModel)]="trip.startLocation"
                    placeholder="Enter startLocation"
                    type="text"
                  />
                  <mat-icon matSuffix class="text-primary">place</mat-icon>
                  <mat-icon matSuffix>place</mat-icon>
                  <mat-error
                    *ngIf="startLocation.touched && !startLocation.valid"
                  >
                    Start Location Required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <!-- End Location -->

            <div class="col-md-12">
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    required
                    name="endLocation"
                    #endLocation="ngModel"
                    id="endLocation"
                    [(ngModel)]="trip.endLocation"
                    placeholder="Enter End Location"
                    type="text"
                  />
                  <mat-icon matSuffix class="text-primary">place</mat-icon>
                  <mat-icon matSuffix>place</mat-icon>
                  <mat-error *ngIf="endLocation.touched && !endLocation.valid">
                    EndLocation Required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- select Option -->
          <div class="form-row">
            <!-- Clients -->
            <div class="col-md-12">
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <mat-label>Clients</mat-label>
                  <mat-select
                    [(ngModel)]="trip.client.id"
                    name="client"
                    id="client"
                    #client="ngModel"
                    required
                    multiple
                  >
                    <mat-option *ngFor="let c of clients" [value]="c.id">{{
                      c.clientname
                    }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="client.touched && !client.valid">
                    Clients Required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- startdate -->
          <div class="form-row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    matInput
                    ngxDaterangepickerMd
                    [timePicker]="true"
                    [locale]="{ format: 'DD MMM, YYYY hh:mm a' }"
                    [autoApply]="true"
                    [singleDatePicker]="true"
                    [(ngModel)]="trip.expstartDate1"
                    placeholder="Enter Start Date"
                    #expstartDate="ngModel"
                    name="expstartDate"
                    autocomplete="off"
                    required
                  />
                  <!-- <input matInput [matDatepicker]="expstartDate" name="expstartDate" [ngModel]="expstartDate1" placeholder="Enter Start Date">
                    <mat-datepicker-toggle matSuffix [for]="expstartDate"></mat-datepicker-toggle>
                    <mat-datepicker #expstartDate></mat-datepicker> -->
                  <mat-error
                    *ngIf="expstartDate.touched && !expstartDate.valid"
                  >
                    ExpStartDate Required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- Enddate   -->
            <div class="col-md-6">
              <div class="position-relative form-group">
                <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    matInput
                    ngxDaterangepickerMd
                    [timePicker]="true"
                    [locale]="{ format: 'DD MMM, YYYY hh:mm a' }"
                    [autoApply]="true"
                    [singleDatePicker]="true"
                    [(ngModel)]="trip.expEndDate1"
                    placeholder="Enter End Date"
                    name="expEndDate"
                    autocomplete="off"
                    required
                  />
                  <!-- <mat-datepicker-toggle matSuffix [for]="expEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #expEndDate></mat-datepicker> -->
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Select Priority</mat-label>
                <mat-select
                  [(ngModel)]="trip.priority"
                  #executive="ngModel"
                  name="priority"
                  id="priority"
                  required
                >
                  <mat-option *ngFor="let pre of priority" [value]="pre.name">{{
                    pre.name
                  }}</mat-option>
                </mat-select>
                <mat-error *ngIf="priority.touched && !priority.valid">
                  Priority Required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <strong
                ><span
                  style="
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    color: #0eb6f5;
                  "
                  class="material-icons"
                  >add_circle</span
                >
                Executive</strong
              >
              <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <mat-label>Select Executives</mat-label>
                  <mat-select
                    [(ngModel)]="trip.executives"
                    #executive="ngModel"
                    name="executives"
                    id="executives"
                    required
                  >
                    <mat-option
                      *ngFor="let exe of executives"
                      [value]="exe.exeid"
                      >{{ exe.name }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="executive.touched && !executive.valid">
                    Executives Required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- submit Section -->
          <div class="card main-card col-md-12">
            <div class="row">
              <div class="card-body">
                <span class="text-primary ml-3 float-left"> Preview</span>
                <button
                  mat-raised-button
                  class="btn btn-primary float-right"
                  [disabled]="!tripForm.valid"
                  type="submit"
                >
                  Save
                </button>
                <a class="text-primary float-right">Cancel</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

