<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"
  [btnIcon]="btnIcon"></app-page-title>

<div class="card main-card mb-3 mt-3 pl-4 pr-4">
  <!-- table data -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Client Category Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Created By</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categories; index as i">
        <td style="vertical-align: middle">{{ i + 1 }}</td>
        <td style="vertical-align: middle">
          {{ c.name }}
        </td>
        <td style="width: 160px; font-size: 12px">
          {{ c.description }}
        </td>

        <td style="vertical-align: middle">
          <span class="text-success" *ngIf="c.isActive; else ccstatus">Active</span>
          <ng-template #ccstatus>
            <span class="text-danger" value="false">InActive</span>
          </ng-template>
        </td>

        <td style="vertical-align: middle">
          {{ c.createdBy }}
        </td>

        <td style="vertical-align: middle">
          {{ c.createdDate | date: 'dd-MM-yyyy hh:mm a' }}
        </td>

        <td style="vertical-align: middle">
          <a class="text-primary mr-2" [href]="'client/category/' + c.id">
            <span class="material-icons "> edit </span></a>

          <span class="material-icons text-danger cursor-pointer" (click)="deleteCat(c.id)"> delete_forever </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!categories.length" class="no-records">
    No records
  </div>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>