<h5>Trip Schedule</h5>
<hr>
<perfect-scrollbar style="width: 100%; max-height: 400px;" [config]="config">
    <mat-accordion class="col-12 schedule" >
        <mat-expansion-panel *ngFor="let s of schedules; let i = index;first as isFirst" id="sid{{i}}" [class]="!isSaved(i)?'pointError':'pointSuccess'" [expanded]="isFirst" [disabled]='!s.add'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon [title]="!isSaved(i)?'Please Save To Avoid Data Loss':'No Changes To Save'" >{{!isSaved(i)?'error':'check_circle'}}</mat-icon>
                <small style="white-space: nowrap;overflow: hidden;position: relative;">
                    {{s.name?s.name:'undefined'}} 
                    <!-- <span class="badge badge-danger badge-dot badge-dot-lg top-right" *ngIf="!isSaved(i)"></span> -->
                </small>
            </mat-panel-title>
            <!-- {{isSaved(i)?'No Changes To Save':'Please Save the Changes'}} -->
            <mat-panel-description>
                <small [title]="s.name"
                    style="float:right;max-width:270px;white-space: nowrap;overflow: hidden">{{s.name?'---':'---'}}</small>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <perfect-scrollbar style="width: 100%; max-height: 400px;" [config]="config">
<form #stripForm="ngForm" (ngSubmit)="sadd(stripForm,i)" style="width: 100%;">
    <div class="row">    
    <div class="col-12">
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <input matInput required name="sname" id="sname" [(ngModel)]="schedules[i].name"
                    placeholder="Enter Schedule Name" type="text" />
                
            </mat-form-field>
        </div>
    </div>
    <div class="col-6">
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-select [(ngModel)]="schedules[i].assignedType" name="satype" id="satype" placeholder="Assigned Type"
                    required>
                    <mat-option value="EXECUTIVE_DEVICE_MOBILE">EXECUTIVE</mat-option>
                    <mat-option value="TRACKING_DEVICE">DEVICE</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-6">
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <mat-select placeholder="Assigned To" name="sato" id="sato" [(ngModel)]="schedules[i].assignedTo" required multiple>
                    <mat-select-trigger>
                        {{schedules[i].assignedTo ? exe(i) : ''}}
                        <span *ngIf="schedules[i].assignedTo?.length > 1" class="example-additional-selection">
                          (+{{schedules[i].assignedTo.length - 1}} {{schedules[i].assignedTo?.length === 2 ? 'other' : 'others'}})
                       </span>
                   </mat-select-trigger>
                  <mat-option *ngFor="let exe of executives" [value]="exe.exeId">{{exe.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="col-6">
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <input type="text" matInput ngxDaterangepickerMd [timePicker]="true" [locale]="{format: 'DD MMM, YYYY hh:mm a'}"
                    [autoApply]="true" [singleDatePicker]="true" [(ngModel)]="schedules[i].expStrTym" placeholder="Enter Expected Start Date"
                    name="sest" autocomplete="off" required />
            </mat-form-field>
        </div>
    </div>
    <div class="col-6">
        <div class="position-relative form-group">
            <mat-form-field class="full-width">
                <input type="text" matInput ngxDaterangepickerMd [timePicker]="true" [locale]="{format: 'DD MMM, YYYY hh:mm a'}"
                    [autoApply]="true" [singleDatePicker]="true" [(ngModel)]="schedules[i].expEndTym"
                    placeholder="Enter Expected End Date" name="seet" autocomplete="off" required />
            </mat-form-field>
        </div>
    </div>
   
    <div class="col-12">
        <div class="position-relative form-group">
            <button class="btn btn-primary btn-block" id="savencs">Save and Continue
                <!-- <i mat-raised-bottom matTooltipPosition="above" matTooltipHideDelay="1000" matTooltip="Info about the action"
                    class="fa fa-info-circle"></i> -->
            </button>
        </div>
    </div>
</div>
    </form>
    </perfect-scrollbar>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="btn btn-outline-primary btn-block" (click)="addS()" *ngIf="schedules[0].add">
        Add New Schedule
    </div>
</perfect-scrollbar>