::ng-deep
    .schedule 
        mat-expansion-panel-header,mat-expansion-panel-header.mat-expansion-panel-header:hover
            background-color: #00aded26 !important
        
        .badge.top-right
            position: absolute;
            border: #fff solid 2px;
            top: -5px;
            right: -5px;
        .pointError mat-expansion-panel-header mat-icon
            color: #f7b924

        .pointSuccess mat-expansion-panel-header mat-icon
            color: #3ac47d