<div class="footer-dots">
  <div class="btn-group" ngbDropdown autoClose="outside" placement="top-left">
    
   
  </div>
  <div class="dots-separator"></div>
  
  <mat-label>&copy; 2020 NEEMiiT Private Limited. All rights reserved</mat-label>

</div>