<div class="h-100">
    <div class="row h-100 no-gutters">
      <div class="d-none d-lg-block col-lg-4">
        <div class="slider-light">
          <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfig2">
            <div ngxSlickItem>
              <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
                <div class="slide-img-bg"></div>
                <div class="slider-content text-light">
                  <h3>Workforce</h3>
                  <p>
                   Workforce is like a dream. Some think it's too good to be true! Extensive collection of
                    unified Vue Bootstrap Components and Elements.
                  </p>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark">
                <div class="slide-img-bg"></div>
                <div class="slider-content text-light">
                  <h3>Scalable, Modular, Consistent</h3>
                  <p>
                    Easily exclude the components you don't require. Lightweight, consistent
                    Bootstrap based styles across all elements and components
                  </p>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning">
                <div class="slide-img-bg opacity-6"></div>
                <div class="slider-content text-light">
                  <h3>Complex, but lightweight</h3>
                  <p>
                    We've included a lot of components that cover almost all use cases for
                    any type of application.
                  </p>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
      <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
          <div class="app-logo"></div>
          <h4 class="mb-0">
            <div>Welcome to Workforce,</div>
            <span>Please create your password.</span>
          </h4>
         
          <div class="divider"></div>
          <div>
            <form #f="ngForm" (ngSubmit)="submit(f)"  >
              <div class="row">
                <div class="col-md-8">
                  <fieldset class="form-group">
                    <div tabindex="-1" role="group">
                    <label for="userPassword">New Password</label>
                     <input required 
                     ngModel 
                     name="userPassword" 
                     #userPassword="ngModel"          
                     id="userPassword"
                     type="password" 
                     placeholder="Password" 
                     class="form-control">
                     <div class="alert alert-danger"
                     *ngIf="userPassword.touched && !userPassword.valid">
                     Password Required
                     </div>
                    </div>
                  </fieldset>
                </div>
              
                <div class="col-md-8">
                  <fieldset class="form-group">
                    <div tabindex="-1" role="group">
                      <label for="userRePassword">Reenter Password</label>
                      <input required 
                      ngModel 
                      name="userRePassword" 
                      #userRePassword="ngModel" 
                      id="userRePassword" 
                      type="password" 
                      placeholder="Reenter Password"
                      class="form-control">
                      <div class="alert alert-danger"
                     *ngIf="userRePassword.touched && !userRePassword.valid">
                     Reenter Password Required
                     </div>
                    </div>
                  </fieldset>
                </div>
              </div>
           
              <div class="divider"></div>
  
              <div class="d-flex align-items-center">
                
                <div class="ml-auto">
                  <button type="submit" 
                  class="btn btn-primary btn-lg"
                  [disabled] ="!f.valid"
                  (click)=f>Create Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>