<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btnstatus]="btnstatus"></app-page-title>


  
    
      <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
              <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                  <div class="widget-title opacity-5 text-uppercase">SALES (INC. TAX)</div>
                  <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                    <div class="widget-chart-flex align-items-center">
                      <div>
                        <span class="opacity-10 text-success pr-2">
                          <fa name="angle-up"></fa>
                        </span>
                        45.8K
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
              <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                  <div class="widget-title opacity-5 text-uppercase">SALES (EX. TAX)</div>
                  <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                    <div class="widget-chart-flex align-items-center">
                      <div>
                        <span class="opacity-10 text-danger pr-2">
                          <fa name="angle-down"></fa>
                        </span>
                        47.8K
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
              <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                  <div class="widget-title opacity-5 text-uppercase">COGS</div>
                  <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                    <div class="widget-chart-flex align-items-center">
                      <div>
                        <!-- <small class="opacity-5 pr-1">-</small> -->
                        35.8K
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
              <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                  <div class="widget-title opacity-5 text-uppercase">GROSS PROFIT</div>
                  <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                    <div class="widget-chart-flex align-items-center">
                      <div>
                        <small class="text-success pr-1">+</small>
                        10.0K
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-12">
          <div class="card main-card mb-3">
            <div class="card-header" style="position: relative;">
              <small>Resuslt Searched</small> 145 
              <span class="float-right" style="position: absolute;right: 10px;top: 50%;transform: translateY(-50%);">
                <span><small>1 to 15 Aug 2020</small> 
                  <i class="fa fa-filter" style="font-size: 18px; margin: 8px;"></i></span>
                  
                <i class="lnr-download" style="color: #000;font-size: 18px; margin-right: 8px;"></i> 
                <b style="color: red;">PDF / CSV</b>
              </span>
            </div>
            <div class="row" style="padding: 20px;">
            <div class="col-md-12" style="padding-top: 25px;">
              <span style="padding-right: 15px;">View Type</span>              
              <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="Bar Chart" style="padding-left: 10px;">Bar Chart</mat-radio-button>
                  <mat-radio-button value="Line Chart" style="padding-left: 10px;">Line Chart</mat-radio-button>
                  <mat-radio-button value="Pie Chart" style="padding-left: 10px;">Pie Chart</mat-radio-button>
                  <mat-radio-button value="Table" style="padding-left: 10px;">Table</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-6" style="padding-top: 25px;">                    
                <div class="pane-right">                       
                    <div class="input-group">
                        <span style="padding-right: 15px;">Choose y-axis</span> 
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <fa name="search"></fa>
                        </div>
                      </div>
                      <input placeholder="Item, SKU, No of Item +5 is selected" type="text" class="form-control">
                    </div>
                  </div>
            </div>
            <div class="col-md-6" style="padding-top: 25px;">                    
              <div class="pane-right">                       
                  <div class="input-group">
                      <span style="padding-right: 15px;">Choose x-axis</span> 
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <fa name="search"></fa>
                      </div>
                    </div>
                    <input placeholder="Item, SKU, No of Item +5 is selected" type="text" class="form-control">
                  </div>
                </div>
          </div>
        </div>
            <div class="card-body">
              <apx-chart [series]="[
                  {
                    name: 'Client',
                    data: [31, 40, 28, 51, 42, 109, 100]
                  },
                  {
                    name: 'Executive',
                    data: [11, 32, 45, 32, 34, 52, 41]
                  }
                ]" [xaxis]="{categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']}" [chart]="{
                  height: '350',
                  type: 'area'
                }"></apx-chart>
            </div>
          </div>
          
          
          
        </div>
        <div class="col-md-12">
          <div class="card main-card mb-3">
            <div class="card-header">
              Sales Report 2
            </div>
            <div class="card-body">
              <apx-chart [series]="[
                  {
                    name: 'TEAM A',
                    type: 'column',
                    data: [23, 11, 22, 27, 13, 22, 37, 21, 44, 22, 30]
                  }, {
                    name: 'TEAM B',
                    type: 'column',
                    data: [44, 55, 41, 67, 22, 43, 21, 41, 56, 27, 43]
                  }, {
                    name: 'TEAM C',
                    type: 'column',
                    data: [30, 25, 36, 30, 45, 35, 64, 52, 59, 36, 39]
                  }
                ]" [chart]="{
                  height: '350',
                  type: 'line',
                  stacked: false
                }" [stroke]="{
                  width: [0, 2, 5],
                  curve: 'smooth'
                }" [plotOptions]="{
                  bar: {
                    columnWidth: '50%'
                  }
                }" [fill]="{
                  opacity: [0.85, 0.25, 1],
                  gradient: {
                    inverseColors: false,
                    shade: 'light',
                    type: 'vertical',
                    opacityFrom: 0.85,
                    opacityTo: 0.55,
                    stops: [0, 100, 100, 100]
                    }
                }"
                [labels]="['01/01/2003', '02/01/2003', '03/01/2003', '04/01/2003', '05/01/2003', '06/01/2003', '07/01/2003', '08/01/2003', '09/01/2003', '10/01/2003', '11/01/2003']"
                [xaxis]="{
                  type: 'datetime'
                }" [yaxis]="{
                  title: {
                    text: 'Points'
                  },
                  min: 0
                }"></apx-chart>
            </div>
          </div>
         
         
         
        </div>
      </div>
  