<div *ngIf="isLoading | async" class="overlay">
    <div class="gooey">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h5 style="font-family:sans-serif;font-size: 15px;letter-spacing: 3px;">please wait...</h5>
    </div>
</div>