.overlay
  position: fixed
  display: block
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: rgba(74, 74, 74, 0.8)
  z-index: 99999

.gooey
  position: absolute
  top: 50%
  left: 50%
  width: 142px
  height: 40px
  transform: translate(-50%,-50%)
  color: #fff
  text-align: center
  filter: contrast(20)
  .dot
    position: absolute
    width: 8px
    height: 8px
    top: 12px
    left: 15px
    filter: blur(4px)
    background: #fff
    border-radius: 50%
    transform: translateX(0)
    animation: dot 2.8s infinite
  .dots
    transform: translateX(0)
    margin-top: 12px
    margin-left: 31px
    animation: dots 2.8s infinite
    span
      display: block
      float: left
      width: 8px
      height: 8px
      margin-left: 16px
      filter: blur(3px)
      background: #fff
      border-radius: 50%
      margin-bottom: 15px

@keyframes dot
  50%
    transform: translateX(96px)
@keyframes dots
  50%
    transform: translateX(-31px)