<div >
    <div class="card-body">
      <h6 class="p-2">Add Sub Task</h6>
      <form #taskForm="ngForm" (ngSubmit)="add(taskForm)">
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Title</mat-label><br>
                <input matInput required name="title" #title="ngModel" id="title" [(ngModel)]="subtask.title"
                  placeholder="Title" type="text">
                <mat-error *ngIf="title.touched && !title.valid">
                  Title Required</mat-error>
              </mat-form-field>
            </div>
  
          </div>
          <div class="col-md-6">
            <div class="form-row">
              <div class="position-relative form-group">
                <mat-radio-group class="full-width" [(ngModel)]="subtask.priority" name="priority" required>
                  <mat-label>Priority</mat-label><br>
                  <mat-radio-button value="HIGH">High</mat-radio-button>
                  <mat-radio-button value="MEDIUM">Medium</mat-radio-button>
                  <mat-radio-button value="LOW">Low</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Description</mat-label><br>
                <input matInput required name="description" #description="ngModel" id="description" [(ngModel)]="subtask.description"
                  placeholder="Description" type="text">
                <mat-error *ngIf="description.touched && !description.valid">
                  Description Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Address</mat-label><br>
                <input matInput required name="address" #address="ngModel" id="address" [(ngModel)]="subtask.address"
                  placeholder="Address" type="text">
                <mat-error *ngIf="address.touched && !address.valid">
                  Address Required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <!-- startdate -->
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
              <mat-form-field class="full-width">
                <input type="text" matInput ngxDaterangepickerMd [timePicker]="true"
                  [locale]="{format: 'DD MMM, YYYY hh:mm a'}" [autoApply]="true" [singleDatePicker]="true"
                  [(ngModel)]="subtask.expstartDate1" placeholder="Enter Start Date" #expstartDate="ngModel"
                  name="expstartDate" autocomplete="off" required />
                <!-- <input matInput [matDatepicker]="expstartDate" name="expstartDate" [ngModel]="expstartDate1" placeholder="Enter Start Date">
                      <mat-datepicker-toggle matSuffix [for]="expstartDate"></mat-datepicker-toggle>
                      <mat-datepicker #expstartDate></mat-datepicker> -->
                <mat-error *ngIf="expstartDate.touched && !expstartDate.valid">
                  ExpStartDate Required </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Enddate   -->
          <div class="col-md-6">
            <div class="position-relative form-group">
              <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
              <mat-form-field class="full-width">
                <input type="text" matInput ngxDaterangepickerMd [timePicker]="true"
                  [locale]="{format: 'DD MMM, YYYY hh:mm a'}" [autoApply]="true" [singleDatePicker]="true"
                  [(ngModel)]="subtask.expEndDate1" placeholder="Enter Excepted Date*" name="expEndDate" autocomplete="off"
                  required>
                <!-- <mat-datepicker-toggle matSuffix [for]="expEndDate"></mat-datepicker-toggle>
                      <mat-datepicker #expEndDate></mat-datepicker> -->
              </mat-form-field>
            </div>
          </div>
        </div>
       
       
  
        <div class="form-row" style="padding-top: 20px;">
          <div class="col-md-12" >
            <div class="position-relative form-group">
              <label for="From"> Attach File</label>
              <dropzone class="dropzone-container" [config]="config"  f
              [message]="'Click or drag images here to upload'" (init)="onUploadInit($event)" (error)="onUploadError($event)"
              (success)="onUploadSuccess($event)"></dropzone>
            </div>
          </div>   
        </div>
        
        <div class="form-row">
            <div class="col-md-12">
          <div class="float-right">
              <span (click)="clear" class="btn btn-link mr-4"> Cancel</span>
              <button class="btn btn-primary">Add</button>
            </div></div>
        </div>
      </form>
    </div>
  </div>
  
