<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"
  [btnIcon]="btnIcon"></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body">
    <h6 class="p-2">Task</h6>
    <form #taskForm="ngForm" (ngSubmit)="add(taskForm)">
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <mat-label>Title</mat-label><br>
              <input matInput required name="title" #title="ngModel" id="title" [(ngModel)]="task.title"
                placeholder="Title" type="text">
              <mat-error *ngIf="title.touched && !title.valid">
                Title Required</mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-row">
            <div class="position-relative form-group">
              <mat-radio-group class="full-width" [(ngModel)]="task.priority" name="priority" required>
                <mat-label>Priority</mat-label><br>
                <mat-radio-button value="HIGH">High</mat-radio-button>
                <mat-radio-button value="MEDIUM">Medium</mat-radio-button>
                <mat-radio-button value="LOW">Low</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
         <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <mat-label>Description</mat-label><br>
              <input matInput required name="description" #description="ngModel" id="description" [(ngModel)]="task.description"
                placeholder="Address" type="text">
              <mat-error *ngIf="description.touched && !description.valid">
                Description Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <mat-label>Address</mat-label><br>
              <input matInput required name="address" #address="ngModel" id="address" [(ngModel)]="task.address"
                placeholder="Description" type="text">
              <mat-error *ngIf="address.touched && !address.valid">
                Description Required</mat-error>
            </mat-form-field>
          </div>
        </div>
       
      </div>
      <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
                <mat-radio-group class="full-width" [(ngModel)]="task.priority" name="priority" required>
                  <mat-label>Select Type</mat-label><br>
                  <mat-radio-button value="Clients">Clients</mat-radio-button>
                  <mat-radio-button value="Others">Others</mat-radio-button>
                </mat-radio-group>
              </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Client</mat-label><br>
                <input matInput required name="Client" #Client="ngModel" id="Client" [(ngModel)]="task.Client"
                  placeholder="Client" type="text">
                <mat-error *ngIf="Client.touched && !Client.valid">
                    Client Required</mat-error>
              </mat-form-field>
            </div>
          </div>
      </div>



      <!-- startdate -->
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
            <mat-form-field class="full-width">
              <input type="text" matInput ngxDaterangepickerMd [timePicker]="true"
                [locale]="{format: 'DD MMM, YYYY hh:mm a'}" [autoApply]="true" [singleDatePicker]="true"
                [(ngModel)]="task.expstartDate1" placeholder="Enter Start Date" #expstartDate="ngModel"
                name="expstartDate" autocomplete="off" required />
              <!-- <input matInput [matDatepicker]="expstartDate" name="expstartDate" [ngModel]="expstartDate1" placeholder="Enter Start Date">
                    <mat-datepicker-toggle matSuffix [for]="expstartDate"></mat-datepicker-toggle>
                    <mat-datepicker #expstartDate></mat-datepicker> -->
              <mat-error *ngIf="expstartDate.touched && !expstartDate.valid">
                ExpStartDate Required </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Enddate   -->
        <div class="col-md-6">
          <div class="position-relative form-group">
            <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
            <mat-form-field class="full-width">
              <input type="text" matInput ngxDaterangepickerMd [timePicker]="true"
                [locale]="{format: 'DD MMM, YYYY hh:mm a'}" [autoApply]="true" [singleDatePicker]="true"
                [(ngModel)]="task.expEndDate1" placeholder="Enter Excepted Date*" name="expEndDate" autocomplete="off"
                required>
              <!-- <mat-datepicker-toggle matSuffix [for]="expEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #expEndDate></mat-datepicker> -->
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-radio-group class="full-width" [(ngModel)]="task.needReminder" name="needReminder">
              <mat-label>Accessibility</mat-label>
              <mat-radio-button [value]="true">Public</mat-radio-button>
              <mat-radio-button [value]="false">Private</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Set a Reminder

                </mat-label>
                <select matNativeControl required>
                  <option value="Before 30 Minutes">Before 30 Minutes
                </option>
                  <option value="Before 1 hours
                  ">Before 1 hours
                </option>
                  <option value="Every 2 hours
                  ">Every 2 hours
                </option>
                  <option value="Every day
                  ">Every day
                </option>
                </select>
              </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-radio-group class="full-width" [(ngModel)]="task.needReminder" name="needReminder">
              <mat-label>Reminder</mat-label>
              <mat-radio-button [value]="true">On</mat-radio-button>
              <mat-radio-button [value]="false">Off</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Involved Executives
                </mat-label>
                <select matNativeControl required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
              <span style="display: inline-block;vertical-align: middle;margin-right: 10px;" class="material-icons">add_circle</span>
              <a style="vertical-align: middle;color: #51c7f4;">Add More Field</a>
        </div>
    </div>

      <div class="form-row" style="padding-top: 20px;">
        <div class="col-md-12" >
          <div class="position-relative form-group">
            <label for="From"> Attach File</label>
            <dropzone class="dropzone-container" [config]="config"  f
            [message]="'Click or drag images here to upload'" (init)="onUploadInit($event)" (error)="onUploadError($event)"
            (success)="onUploadSuccess($event)"></dropzone>
          </div>
        </div>   
      </div>
      <div class="form-row" style="padding-top: 20px;">
        <div class="col-md-6" >
          <div class="position-relative form-group">
            <label for="From"> Personal Signature</label>
           <mat-card>
               <div class="float-center">
                   <p>SIGN</p>
               </div>
           </mat-card>
          </div>
        </div>   
      </div>
      <div class="form-row">
          <div class="col-md-12">
        <div class="float-right">
            <button class="btn btn-link mr-4"> Cancel</button>
            <button class="btn btn-primary">Add</button>
          </div></div>
      </div>
    </form>
  </div>
</div>
