<h2 mat-dialog-title>Sub Task ID {{subTask.subTaskId}}  </h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-8">
<p><b>Title:</b><br> {{subTask.title}}</p>
    </div>
    <div class="col-4">
      <p><b>Priority:</b> {{subTask.priority}}</p>
         </div> 
         <div class="col-6">
          <p><b>Expected Start Date:</b><br> {{subTask.expectedStartTime}}</p>
             </div> 
             <div class="col-6">
              <p><b>Expected End Date:</b><br> {{subTask.expectedendTime}}</p>
                 </div> 
    <div class="col-12">
<p><b>Description: </b><br>{{subTask.description}}</p>
  </div>
   
   <div class="col-12 attachments mt-2">
    <b><i class="fa fa-picture-o"></i> Attachment:</b><br>
    <div *ngIf="subTask.attachments.length == 0" style="width: 100%; height:50px;position: relative;">
        <b style="position:absolute;top:50%;left: 50%; transform:translate(-50%,-50%);color:dimgray"> No Attachments :( </b>
    </div>
    <span *ngFor="let attachment of subTask.attachments"><img src="Workforce/{{attachment}}"></span>
  </div> 
</div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  
</mat-dialog-actions>
