<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btnIcon]="btnIcon" [btnLink]="btnLink" [btntext]="btntext" ></app-page-title>

<div class="main-card mb-3 card">
    <div class="card-header text-right">     
       <button class="btn btn-primary" (click)="addToDispatch()"> Dispatch List </button>
    </div>
    <div class="table-responsive">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Order ID</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Phone</th>
            <th>Total Orders</th>
            <th>Order Created on</th>
            <th>Order Approved on</th>
            <th>Order Status</th>       
          
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td><mat-checkbox (change)="toggleSelect($event,order.order.orderid)"></mat-checkbox></td>
                <td>{{ order.order.orderid }}</td>
                <td>{{ order.order.orderto.companyName }}</td>
                <td>{{ order.order.orderto.clientname }}</td>
                <td>{{ order.order.orderto.phone }}</td>
                <td>{{ order.order.total }}</td>
                <td>{{ order.order.createdat }}</td>
                <td>{{ order.order.approvedat }}</td>
                <td>{{ order.order.status }}</td>
           
               
                
              </tr>
         
        </tbody>
      </table>
    </div>
   
  </div>
   