<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12" >
        <div class="main-card card">
            <div class="card-header text-capitalize" style="color:#00aeef;font-size: 16px;">Add Brand</div>
            <div class="main-card p-3 card">
                <div class="card-body">
                  <form  #brandForm="ngForm" (ngSubmit)="add(brandForm)">
                    <div class="form-row">
                     <div class="col-md-12">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                          <input matInput
                           name="brandname" 
                           id="brandname" 
                           ngModel
                           #brandname="ngModel"
                           [(ngModel)]="brand.name"
                           placeholder="Brand Name " 
                            required>
                           <mat-error *ngIf="brandname.touched && !brandname.valid">
                            Brand Name Required</mat-error>
                            </mat-form-field>
                        </div>
                      </div>
                     
                      
                      
                      <div class="col-md-12" >
                        <mat-form-field class="full-width">
                          <mat-label>Description</mat-label>
                          <textarea matInput  name="description"  [(ngModel)]="brand.description"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12" >
                        <mat-checkbox name="isActive" [(ngModel)]="brand.isActive"> is Active?</mat-checkbox>
                      </div>
                      
                      
            </div>


    
                       

                     
            
                      

                    <div class="float-right">
                        <button type="reset" class="mt-2 btn btn-link">Cancel</button>
                        <button [disabled]="!brandForm.valid" type="submit" class="mt-2 btn btn-primary btn-lg">submit</button>
                    </div>

                  </form>
                </div>
              </div>
        </div>
    </div>
    