<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
></app-page-title>
<div class="row">
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">
            SALES (INC. TAX)
          </div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                <span class="opacity-10 text-success pr-2">
                  <fa name="angle-up"></fa>
                </span>
                45.8K
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">
            SALES (EX. TAX)
          </div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                <span class="opacity-10 text-danger pr-2">
                  <fa name="angle-down"></fa>
                </span>
                47.8K
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">COGS</div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                <!-- <small class="opacity-5 pr-1">-</small> -->
                35.8K
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">GROSS PROFIT</div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                <small class="text-success pr-1">+</small>
                10.0K
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card main-card mb-3">
      <div class="col-md-12 selectsecx">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" placeholder="Search" />
      </div>
      <div class="card-header" style="position: relative">
        <small>Result Searched</small> 145
        
        <span
          class="float-right"
          style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          <div class="d-inline-block" ngbDropdown>
            <button
              type="button"
              ngbDropdownToggle
              class="mb-2 mr-2 btn-pill btn btn-outline-secondary"
            >
              Select Option
            </button>
            <div ngbDropdownMenu>
              <button class="dropdown-item text-center">Delete Product</button>
              <mat-divider></mat-divider>
              <button class="dropdown-item">Create Bill</button>
              <mat-divider></mat-divider>
              <button class="dropdown-item">Create Innvoice</button>
              <mat-divider></mat-divider>
              <button class="dropdown-item">In active product</button>
            </div>
          </div>
          <span
            ><small>1 to 15 Aug 2020</small>
            <i class="fa fa-filter" style="font-size: 18px; margin: 8px"></i
          ></span>
        </span>
      </div>

      <div class="card-body" style="padding-top: 25px">
        <div class="responsive-table">
          <table
            class="align-middle mb-0 table table-borderless trips-data-table"
          >
            <thead>
              <tr style="white-space: nowrap">
                <th>
                  <mat-checkbox></mat-checkbox>
                </th>
                <th>Titles</th>
                <th>Duration</th>
                <th>Executive/Devices</th>
                <th>Priority</th>
                <th>Repeat</th>
                <th>Period</th>
                <th>Upcoming</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="font-size: 15px"
                *ngFor="let trip of trips; let i = index"
              >
                <td>
                  <p>
                    <b ><a href="/trips/rounds/{{trip.id}}" class="pt-4 inline-block">{{ i + 1 }}</a></b>
                  </p>
                  <br />
                  <span class="desc"
                    ><b>Description : </b> {{ trip.description }}</span
                  >
                </td>
                <td>
                  <p>
                    NT00010<br />
                    <b>{{ trip.title }}</b>
                  </p>
                </td>
                <td>
                  <p>
                    12 Aug 2020 <b>To</b> 13 Aug 2020
                  </p>
                </td>
                <td>
                  <b *ngFor="let tripexe of trip.executiveResponses; let isLast=last">
                    {{tripexe.name}}{{isLast ? '' : ', '}}<br>
                  </b>
                  <b *ngIf="trip.executiveResponses.length === 0"><small class="text-danger">No Executives</small></b>
                  <!-- <div class="d-inline-block" ngbDropdown>
                    <button
                      type="button"
                      ngbDropdownToggle
                      class="mb-2 mr-2 btn-pill btn btn-outline-secondary"
                    >
                      Venkat&nbsp;&nbsp;
                    </button>
                    <div ngbDropdownMenu>
                      <button class="dropdown-item">Abhinay</button>
                      <button class="dropdown-item">Deepak</button>
                    </div>
                  </div>
                  <br />
                  <b>AP 28 GE 4321</b> -->
                </td>
                <td>
                  <b
                    [class]="
                      trip.priorityType == '`'
                        ? 'text-danger'
                        : trip.priorityType == 'MEDIUM'
                        ? 'text-warning'
                        : 'text-success'
                    "
                    >{{ trip.priorityType }}
                  </b>
                </td>
                <td>
                  <b *ngIf="trip.count == null; else count">NULL</b>
                  <b *ngIf="trip.count !== null">{{ trip.count }}</b>
                  <!-- <template #count></template> -->
                </td>
                <td>
                  <p>{{ trip.period }}</p>
                </td>

                <td>
                  <p>---</p>
                </td>
                <td [class]="
                           trip.status == 'CREATED'
                            ? 'text-muted'
                            : trip.status == 'ALLOCATED'
                            ? 'text-secondary'
                            : trip.status == 'PENDING'
                            ? 'text-warning'
                            : trip.status == 'REJECTED ' || 'CANCELLED'
                            ? 'text-danger'
                            : trip.status == 'CHECK_IN || CHECK_OUT'
                            ? 'text-info'
                            : trip.status == 'ACCEPTED'
                            ? 'text-primary'
                            : 'text-light'
                        ">
                  {{trip.status}}
                </td>
                <hr />
              </tr>
              <tr
                style="font-size: 15px"
                *ngIf="trips.length < 1"
              ><td colspan="9" style="text-align:center">
                <b style="text-align:center;color:#00000064;padding:50px;display: inline-block">No Trips Available</b>
              </td>
            </tr>
            </tbody>
          </table>
          <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
