.selectsecx
    width: 90%
    border-radius: 10px
    border: 1px solid #d6d6d6
    margin: 15px 

.fa-search
	color: #00AEEF

::ng-deep .trips-data-table tbody tr td
    padding-bottom: 30px

::ng-deep .trips-data-table tbody tr td .desc
    position: absolute
    padding: 10px
    display: block
    border-bottom: 1px solid #d4d4d4;
    width: calc(100% - 90px);
    background-color: #eaedef
    color: #0000007a

