.task-status
    text-align: end

.task
    .card
        border-radius : 10px
        overflow: hidden

        .status
            position: absolute
            width : 10px
            height : 100%

            &.ACCEPTED
                background-color: #3ac47d
            
            &.REJECTED
                background-color: #d92550
            
            &.ADDED
                background-color: #444054
            
            &.ON_HOLD
                background-color: #f7b924
            
            &.SCHEDULED
                background-color: #794c8a

            &.ASSIGNED
                background-color: #16aaff
            
        span
            width: 100%
            display: inline-block
            white-space: nowrap
            padding: 0px 0px
            overflow: hidden


.fa
    &.LOW
        color: #3ac47d

    &.MEDIUM
        color: #f7b924

    &.HIGH
        color: #d92550

    

.status  
    
    &.ACCEPTED
    color: #3ac47d
    &.REJECTED
    color: #d92550
    &.ADDED
    color: #444054
    &.ON_HOLD
    color: #f7b924
    &.SCHEDULED
    color: #794c8a
    &.ASSIGNED
    color: #16aaff 


ul
    li
        padding-left: 0px
    

.attachments
    span
        width: 100px
        height: 100px
        display: inline-block
        border-radius: 50%
        overflow: hidden
        margin: 2px

        img
            width: 100%
            height: 100%

        
    
.subTask-card
    font-size: 11px
    margin-top: 10px

    .card
        cursor: pointer

    ul
        margin-bottom: 5px

        li
            &:first-child
                font-weight: bold