<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
></app-page-title>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-12">
          <div class="card main-card mb-3">
            <div style="background-color: #eaedef">
              <!-- <h4 class="card-title">Full Width Slider</h4> -->
              <!-- <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfigs"> -->
              <!-- <div ngxSlickItem > -->
              <!-- <div class="slider-item">{{ slide.img }}</div> -->
              <div class="row">
                <div class="col-md-2 col-xl-2">
                  <div
                    class="card p-0 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success"
                  >
                    <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-content pt-3 pl-3 pb-1">
                        <div class="widget-chart-flex">
                          <div class="widget-numbers">
                            <div class="widget-chart-flex">
                              <div class="fsize-4">
                                <!-- <small class="opacity-5">$</small> -->
                                <span>30</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <h6 class="widget-subheading mb-0 opacity-5">
                          All Executives
                        </h6>
                      </div>
                      <div
                        class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row"
                      >
                        <div class="col-md-12">
                          <ngx-trend
                            height="80"
                            strokeLinecap="round"
                            stroke="var(--success)"
                            strokeWidth="4"
                            smooth="true"
                            radius="15"
                            [data]="[0, 10, 5, 22, 3.6, 11]"
                            autoDraw="true"
                            autoDrawDuration="1500"
                            autoDrawEasing="ease-in"
                          ></ngx-trend>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-xl-2">
                  <div
                    class="card p-0 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success"
                  >
                    <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-content pt-3 pl-3 pb-1">
                        <div class="widget-chart-flex">
                          <div class="widget-numbers">
                            <div class="widget-chart-flex">
                              <div class="fsize-4">
                                <!-- <small class="opacity-5">$</small> -->
                                <span>10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <h6 class="widget-subheading mb-0 opacity-5">
                          Assigned
                        </h6>
                      </div>
                      <div
                        class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row"
                      >
                        <div class="col-md-12">
                          <ngx-trend
                            height="80"
                            strokeLinecap="round"
                            stroke="var(--success)"
                            strokeWidth="4"
                            smooth="true"
                            radius="15"
                            [data]="[0, 10, 5, 22, 3.6, 11]"
                            autoDraw="true"
                            autoDrawDuration="1500"
                            autoDrawEasing="ease-in"
                          ></ngx-trend>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-xl-2">
                  <div
                    class="card p-0 widget-chart widget-chart2 text-left card-btm-border card-shadow-primary border-primary"
                  >
                    <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-content pt-3 pl-3 pb-1">
                        <div class="widget-chart-flex">
                          <div class="widget-numbers">
                            <div class="widget-chart-flex">
                              <div class="fsize-4">
                                <!-- <small class="opacity-5">$</small> -->
                                <span>04</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <h6 class="widget-subheading mb-0 opacity-5">
                          Scheduled
                        </h6>
                      </div>
                      <div
                        class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row"
                      >
                        <div class="col-md-12">
                          <ngx-trend
                            height="80"
                            strokeLinecap="round"
                            stroke="var(--primary)"
                            strokeWidth="4"
                            smooth="true"
                            radius="15"
                            [data]="[120, 149, 193.4, 200, 92]"
                            autoDraw="true"
                            autoDrawDuration="1500"
                            autoDrawEasing="ease-in"
                          ></ngx-trend>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-xl-2">
                  <div
                    class="card p-0 widget-chart widget-chart2 text-left card-btm-border card-shadow-warning border-warning"
                  >
                    <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-content pt-3 pl-3 pb-1">
                        <div class="widget-chart-flex">
                          <div class="widget-numbers">
                            <div class="widget-chart-flex">
                              <div class="fsize-4">
                                <!-- <small class="opacity-5">$</small> -->
                                <span>03</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <h6 class="widget-subheading mb-0 opacity-5">
                          Assigned
                        </h6>
                      </div>
                      <div
                        class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row"
                      >
                        <div class="col-md-12">
                          <ngx-trend
                            height="80"
                            strokeLinecap="round"
                            stroke="var(--warning)"
                            strokeWidth="4"
                            smooth="true"
                            radius="15"
                            [data]="[3, 7, 6, 16, 3.6, 23]"
                            autoDraw="true"
                            autoDrawDuration="1500"
                            autoDrawEasing="ease-in"
                          ></ngx-trend>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-xl-2">
                  <div
                    class="card p-0 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success"
                  >
                    <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-content pt-3 pl-3 pb-1">
                        <div class="widget-chart-flex">
                          <div class="widget-numbers">
                            <div class="widget-chart-flex">
                              <div class="fsize-4">
                                <!-- <small class="opacity-5">$</small> -->
                                <span>05</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <h6 class="widget-subheading mb-0 opacity-5">
                          Assigned
                        </h6>
                      </div>
                      <div
                        class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row"
                      >
                        <div class="col-md-12">
                          <ngx-trend
                            height="80"
                            strokeLinecap="round"
                            stroke="var(--success)"
                            strokeWidth="4"
                            smooth="true"
                            radius="15"
                            [data]="[0, 10, 5, 22, 3.6, 11]"
                            autoDraw="true"
                            autoDrawDuration="1500"
                            autoDrawEasing="ease-in"
                          ></ngx-trend>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-xl-2">
                  <div
                    class="card mb-3 p-0 widget-chart widget-chart2 text-left card-btm-border card-shadow-danger border-danger"
                  >
                    <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-content pt-3 pl-3 pb-1">
                        <div class="widget-chart-flex">
                          <div class="widget-numbers">
                            <div class="widget-chart-flex">
                              <div class="fsize-4">
                                <!-- <small class="opacity-5">$</small> -->
                                <span>04</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <h6 class="widget-subheading mb-0 opacity-5">
                          Assigned
                        </h6>
                      </div>
                      <div
                        class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row"
                      >
                        <div class="col-md-12">
                          <ngx-trend
                            height="80"
                            strokeLinecap="round"
                            stroke="var(--danger)"
                            strokeWidth="4"
                            smooth="true"
                            radius="15"
                            [data]="[0, 10, 5, 22, 3.6, 11]"
                            autoDraw="true"
                            autoDrawDuration="1500"
                            autoDrawEasing="ease-in"
                          ></ngx-trend>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- </div> -->
              <!-- </ngx-slick-carousel> -->
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- <div class="main-card card">
  <div class="main-card searchdiv p-3 card">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
      <div class="row">
         <div class="col-md-12"> 
        <div class="col-md-1">
          <i class="fa fa-search search ml-2" aria-hidden="true"></i>
          <i class="fa fa-comment-o sms ml-2" aria-hidden="true"></i>
          <i class="fas fa-sms"></i>
        </div>

        <div class="col-md-2">
          <div class="position-relative">
            <select name="" id="" class="selectsec">
              <option value="">Select Category</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="position-relative">
            <select name="" id="" class="selectsec">
              <option value="">Approved</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="position-relative">
            <select name="" id="" class="selectsec">
              <option value="">ClientID/Name/Phone</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="position-relative">
            <select name="" id="" class="selectsec">
              <option value="">Export</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <i class="fa fa-th-large large ml-2" aria-hidden="true"></i>
          <i class="fa fa-bars bars ml-2" aria-hidden="true"></i>
        </div>
        <div class="col-md-1">
          <i class="fa fa-times times float-right"></i>
        </div>
      </div>
    </form>
  </div>
</div> -->

<!-- table view  -->

<div class="card main-card mb-3 mt-3 pl-4 pr-4">
  <div class="card-header">
    <div role="group" class="btn-group-sm btn-group filters col-md-6">
      <p class="m-0">Resuslt Searched 145</p>
    </div>
    <div class="col-md-6 text-right">
      1 to 15 Aug 2020<i class="fa fa-filter filter float-right"></i>
    </div>
  </div>

  <!-- table data -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Aadhaar Number</th>
        <th scope="col">Vehicle Number</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of  executives; index as i">
        <th scope="row">{{ i + 1 }}</th>
                <td>{{ e.name }}</td>
                <td>{{ e.phone }}</td>
                <td>{{ e.aadhaarNumber }}</td>
                <td>{{ e.vehicleNumber }}</td>
                <td>{{ e.address.streetname }},
                    {{ e.address.city }},
                    {{ e.address.state }}
                </td>

         <td style="vertical-align: middle">
          <a matTooltip="Edit {{e.name}}"
            class="text-primary mr-2"
            [href]="'executive/' + e.exeId"
          >
            <span   class="material-icons "> edit </span></a
          >

          <a matTooltip="View {{e.name}}"
            class="text-primary mr-2"
            [href]="'executive/view/' + e.exeId"
          >
            <span class="material-icons " > remove_red_eye </span></a
          >
          
          <!-- <span  matTooltip="Delete {{e.name}}" class="material-icons text-danger cursor-pointer" (click)="deleteCat(e.exeId)"> delete_forever </span> -->
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>

<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"></app-page-title>



  
  <div class="main-card mb-3 card"  *ngIf="executives.length > 0">
    <div class="card-header">
      <filter-common class="btn-actions-pane-right"></filter-common>
       
    </div>
    <div class="table-responsive">
        
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th >ID</th>
            <th > Name</th>
            <th > Number</th>
            <th > Email</th>
            <th>DOB</th>
            <th >ESI Number</th>
            <th >PAN CardNumber</th>
            <th >PF Number</th>
            <th >Aadhaar Number</th>
            <th >Qualification</th> 
            <th >Vehicle Number</th> 
            <th >Address</th> 
            <th >Remarks </th>
            <th >Joined Date </th>
            <th class="actiontd">Action</th> 
          </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let e of executives; index as i ">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ e.name }}</td>
                <td>{{ e.phone }}</td>
                <td>{{ e.email }}</td>
                <td>{{ e.dob }}</td>
                <td>{{ e.esiNumber }}</td>
                <td>{{ e.panCardNumber }}</td>
                <td>{{ e.pfNumber }}</td>
                <td>{{ e.aadhaarNumber }}</td>
                <td>{{ e.qualification }}</td>
                <td>{{ e.vehicleNumber }}</td>
                <td>{{ e.address.hno }},
                    {{ e.address.streetname }},
                    {{ e.address.city }},
                    {{ e.address.state }},
                    {{ e.address.pincode }}
                </td>
                <td>{{ e.remarks }}</td>
                <td>{{ e.joinedDate }}</td>
                <td><a class="btn btn-primary btn-sm btn-block mb-2 " href="executive/{{e.exeId}}"><i class="fa fa-edit"></i> Edit</a> <button class="btn btn-danger btn-sm btn-block mb-2"><i class="fa fa-trash"></i> Remove</button>   </td>
                
              </tr>
         
        </tbody>
      </table>
    </div>
   
  </div>

  <div class="col-md-12" style="width: 40%;margin: auto;" *ngIf="executives.length < 1"> 
    <small>No Executives Found Click <b>Add Executive</b> Button to add new Executive</small>
    <img  src="../../../../assets/images/nodata.jpg" alt="No Data Found">
  </div>
   
   
 -->
