.task-status
    text-align: end

.task
    .card
        border-radius : 10px
        overflow: hidden

        .status
            position: absolute
            width : 10px
            height : 100%

            &.ACCEPTED
                background-color: #3ac47d
            
            &.REJECTED
                background-color: #d92550
            
            &.CREATED
                background-color: #444054
            
            &.ON_HOLD
                background-color: #f7b924
            
            &.SCHEDULED
                background-color: #794c8a

            &.ASSIGNED
                background-color: #16aaff
        
        span
            width: 100%
            display: inline-block
            white-space: nowrap
            padding: 1px 0px
            overflow: hidden


.fa
    &.LOW
        color: #3ac47d

    &.MEDIUM
        color: #f7b924

    &.HIGH
        color: #d92550

    

.card-body
    padding: 0.25rem 1.25rem

a
    color : #000
    text-decoration: none

.card-actions
    position: absolute
    right: 5px
    top: 5px

.actiontd 
	width: 200px 

.search 
	padding: 0px 
	background-color: #71d0ef
	border-radius: 20px 
	color: #fff 

.sms 
	padding: 5px 
	background-color: #35c8e3 
	border-radius: 20px 
	color: #fff 

.large 
	padding: 5px 
	color: #fff 
	font-size: 30px

.bars 
	padding: 5px 
	color: #fff 
	font-size: 30px

.times
	padding: 5px 
	color: #fff 
	font-size: 30px
	cursor: pointer

.fa-times
	cursor: pointer
	
.filter
	padding: 5px 
	color: #000 
	font-size: 30px
	margin-left: 10px

.selectsec 
	width: 100% 
	padding: 5px 
	border-radius: 20px 
	background-color: transparent 
	border: 1px solid #fff 
	color: #fff 

.selectsecs
	padding: 5px 
	border-radius: 20px 
	background-color: transparent 
	border: 1px solid #000 
	color: #000 
	outline: none
	margin-left: 10px  

.selectsecx
	width: 100%
	padding: 5px 
	border-radius: 20px 
	background-color: transparent 
	border: 1px solid #000 
	color: #000 
	outline: none
	margin-left: 10px  



.searchdiv
	background-color: #00aeef		     

.cardshape
	background-color: #e4e4e4
    clip-path: polygon(0% -350%, 100% 100%, 0% 100%)
	
.cardimg
	width: 100px
    padding: 10px
    margin: 25px
	border-radius: 100px    