<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btnLink]="btnLink" [btntext]="btntext" ></app-page-title>



<div style="max-width:1024px;padding:20px;margin: 50px auto;">

     
    <div style="text-align: end;padding: 10px 104px;">
    
    </div>

  <table mat-table [dataSource]="dataStudentsList" multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Dispatch List ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef> Orders </th>
      <td mat-cell *matCellDef="let element"> {{element.order}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Dispatch Date </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <!-- <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container> -->


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button href="javascript:void()" (click)="element.isExpanded = !element.isExpanded">
          View Details</a>
      </td>
    </ng-container>


    <!-- Template for details row -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedStudentsColumnsList.length">

        <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
          <table class="table">
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product hsncode</th>
                <th>Product Price</th>
                <th>Product qty</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let subject of element.subjects">
                <td>{{subject.pid}}</td>
                <td>{{subject.name}}</td>
                <td>{{subject.hsncode}}</td>
                <td>{{subject.price}}</td>
                <td>{{subject.qty}}</td>
              </tr>
            </tbody>
          </table>


        </div>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedStudentsColumnsList;sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedStudentsColumnsList;" class="student-element-row"
      [class.student-expanded-row]="element.isExpanded"></tr>

    <!-- Extra row to show detail content column -->
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>

  </table>



</div>
























<!-- <div class="card main-card mb-3">
    <div class="card-header">
      <div  class="btn-actions-pane-right" >   

       <div role="group" class="btn-group-sm btn-group filters">
       
          <div class="search ">
            <input type="text" value="" placeholder="Search.." class="form-control">
          </div>
        </div>
        </div>
    </div>

    <table class="table table-striped">
       
      <thead>
        <tr >
          <th scope="col">Dispatch List ID</th>
          <th scope="col">Orders</th>
          <th scope="col">Products</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of dispatchlist">
          <td scope="row">  {{ l.dlid }}</td>
          <td>{{l.orders}}</td>
          <td ><mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title *ngFor="let item of dispatchlist.products">
                {{item.name}}
              </mat-panel-title>
               </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel></td>
          
        </tr>
      </tbody>
    </table>
  </div> -->
