.task-status
    text-align: end

.task
    .card
        border-radius : 10px
        overflow: hidden

        .status
            position: absolute
            width : 10px
            height : 100%

            &.ACCEPTED
                background-color: #3ac47d
            
            &.REJECTED
                background-color: #d92550
            
            &.CREATED
                background-color: #444054
            
            &.ON_HOLD
                background-color: #f7b924
            
            &.SCHEDULED
                background-color: #794c8a

            &.ASSIGNED
                background-color: #16aaff
        
        span
            width: 100%
            display: inline-block
            white-space: nowrap
            padding: 1px 0px
            overflow: hidden


.fa
    &.LOW
        color: #3ac47d

    &.MEDIUM
        color: #f7b924

    &.HIGH
        color: #d92550

    

.card-body
    padding: 0.25rem 1.25rem

a
    color : #000
    text-decoration: none

.card-actions
    position: absolute
    right: 5px
    top: 5px

.text-one-line
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;