<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>

    <div class="task-status">
        <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-focus">Total 17</button>
        <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-info">Assigned 7</button>
        <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-success">Accepted 5</button>
        <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-danger">Rejected 2</button>
        <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-warning">On Hold 1</button>
        <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-alternate">Scheduled 2</button>
    </div>

<div class="main-card mb-3 card">
    <div class="card-header"></div>
    <div class="card-body">
        <div class="row task">


            <div class="col-12 col-sm-6 col-md-4" *ngFor="let t of tasks;">

                <div class="main-card mb-3 card">
                    <!-- <div class="card-header"></div> -->
                    <div class="status {{t.status}}"></div>
                    <div class="card-actions">
                        <small class="float-right"><a href="task/{{t.tid}}" class="fa fa-edit"></a>      </small>
                    </div>
                    <div class="card-body" style="cursor: pointer;" (click)="view(t.tid)">
                        <h5 class="text-one-line"><i class="fa fa-certificate"></i> {{t.title}} </h5>
                        <span><i class="fa fa-hashtag"></i> NT000{{t.tid}}</span>
                        <span class="text-one-line"><i class="fa fa-file-text-o"></i> {{t.description}}</span>
                        <span class="text-one-line"><i class="fa fa-map-marker"></i> {{ t.address }}</span>
                        <span><i class="fa fa-calendar"></i> {{t.expstartDate}} to {{t.expEndDate}}</span>
                        <span><i class="fa fa-calendar-check-o"></i> 4 Sub tasks</span>
                    </div>
                    <div class="card-footer">
                        <span><i class="fa fa-arrow-{{t.priority=='HIGH'?'up':'down'}} {{t.priority}}"></i>  {{t.priority}}</span>
                        <span><i class="fa fa-envelope"></i></span>
                        <span><i class="fa fa-phone-square"></i></span>
                        <!-- <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-success">Accept</button>
                        <button class="mb-2 mr-2 btn-transition btn-pill btn btn-outline-danger">Reject</button> -->
                    </div>
                </div>

            </div>
       
            <div *ngIf="tasks.length < 1" style="width: 100%;">
                <h4 style="padding:100px 50px;text-align: center;">No Data Available</h4>
            </div>


        </div>
    </div>
</div>