<!-- page title -->
<div>
    <div class="main-card mb-2 m-1 p-3 card">
<div class="app-page-title m-0 p-0">
  <div class="page-title-wrapper">
    <div class="page-title-heading col-md-6">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions col-md-6 float-right" #top>
      <div >
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="executives" >Executives</mat-radio-button>
        <mat-radio-button value="clients">Clients</mat-radio-button>
        <mat-radio-button value="devices"><a (click)="scroll(target)">Devices</a></mat-radio-button>
      </mat-radio-group>
    </div>
      
    </div>
  </div>
</div>
</div>
</div>
<!-- page title -->


<div class="shadow-lg m-0  p-4 bg-white rounded row">
      
    <div class="col-md-7 selectsecx">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" placeholder="Search" class="selectsecx">
    </div>
    <div class="col-md-5">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="online">Online<sup class="sup">10</sup></mat-radio-button>
        <mat-radio-button value="offline">Offline<sup class="sup">20</sup></mat-radio-button>
        <mat-radio-button value="notyetlogin">Not Yet Login<sup class="sup">30</sup></mat-radio-button>
      </mat-radio-group>
    </div>
    
    </div>

<div class="map-container" id="map">
<span><img src="../../assets/images/NEEMiiT.png" class="neemiitlogo" /></span>
</div>

 <!-- List View of Executive Details -->

  <div class="col-md-12 mt-3" #target>
    <div class="main-card mb-3 p-3 card">
      <div class="card-header">
        <div style="color:#007bff" class="mb-4">
          <h6><b>Executive Details</b> </h6></div>
        <div class="btn-actions-pane-right">
          <div style="display: inline-block">
            <i
              class="lnr-printer ml-3"
              style="
                font-size: 25px;
                font-weight: bolder;
                vertical-align: bottom;
                color: #949494;
              "
            ></i>
            <i
              class="fa fa-share-alt ml-3"
              style="font-size: 25px; vertical-align: bottom; color: #949494"
            ></i>
            <div class="d-inline-block ml-3" ngbDropdown>
              <button
                type="button"
                ngbDropdownToggle
                class="btn btn-outline-link"
                style="
                  font-size: 17px;
                  padding: 0px;
                  font-weight: bolder;
                  vertical-align: bottom;
                  color: #949494;
                "
              >
                Export
              </button>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Excel</button>
                <button class="dropdown-item">Doc</button>
                <button class="dropdown-item">Pdf</button>
              </div>
            </div>
          </div>
         </div>
      </div>

      <!-- timeline with tab history & timeline -->
<div class="card main-card mb-3 mt-3">
  <div class="card-body">
    <mat-tab-group>
       
      <mat-tab label="Tracking Details">
          <div class="container-fluid">
           <div class="table-responsive">
        <table
          class="align-middle mb-0 table table-borderless table-striped table-hover">
          
          <thead>
            <tr>
              <th>S.no.</th>
              <th >Time </th>
              <th >Battery</th>

              <th >Address/Location</th>
              <th >Distance(Km)</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let e of devicetrack let i = index">
              <td><b>{{i+1}}</b></td>
              <td><b><i class="fa fa-clock-o"> {{e.time}}</i></b></td>
              <td><b><i class="fa fa-battery-three-quarters"> {{e.battery}}%</i></b></td>
              <td><b><i class="fa fa-map"> {{e.address}}</i></b></td>
              <td><b>{{e.distance}}<sub>Km</sub></b></td>

            </tr>

            <tr *ngIf="devicetrack.length == 0">
              <td colspan="5" ><b>No Data Found</b></td>
            </tr>
          </tbody>
        </table>
        <!-- <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator> -->
      </div>
         
        </div>
        
      </mat-tab>

      <mat-tab label="Device Details ">
          <!-- filter 
          <div class="card-header" style="position: relative;">
              <small>Resuslt Searched</small> 145 
              <span class="float-right" style="position: absolute;right: 10px;top: 50%;transform: translateY(-50%);">
                <span>
                   <small>1 to 15 Aug 2020</small>  
                  <i class="fa fa-filter" style="font-size: 18px; margin: 8px;"></i></span>
                  
                <i class="lnr-download" style="color: #000;font-size: 18px; margin-right: 8px;"></i> 
                <b style="color: red;">PDF / CSV</b>
              </span>
            </div>
             filter -->
        <div class="container-fluid">
           <div class="table-responsive">
        <table
          class="align-middle mb-0 table table-borderless table-striped table-hover">
          
          <thead>
            <tr>
              <th><mat-checkbox></mat-checkbox></th>
              <th >Vehicle No.</th>

              <th >Assigned To</th>
              <th >Signal Strength</th>

              <th >Time (Start/Stop)</th>
              <th >Speed(Kmph)</th>
              <th >Distance(Km)</th>
              <th >Status</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let e of exedetails let i = index">
              <td>{{i + 1 }}</td>
               <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                   <div class="widget-content-left flex2">
                      <div class="widget-heading">
                        <strong>{{ e.Vehical_No }} </strong>
                      </div>
                      <div class="widget-subheading opacity-7">
                        {{ e.Vehical_Model }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                   <div class="widget-content-left flex2">
                      <div class="widget-heading">
                        {{ e.name }} 
                      </div>
                      <div class="widget-subheading opacity-7">
                        {{ e.phone }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
             

               <td><b>{{ e.signal }}%</b></td>

              <td >
               <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                   <div class="widget-content-left flex2">
                      <div class="widget-heading text-primary">
                        {{ e.date }} 
                      </div>
                      <div class="widget-subheading opacity-7">
                        <b>{{e.start_time}}</b>to
                        <b>{{e.end_time}}</b>
                      </div>
                    </div>
                  </div>
                </div>
                </td>
                <td>
                  <b>{{ e.speed}}<sub>Km/h</sub></b>
                </td>
                <td><b>{{e.distance}}<sub>Km</sub></b></td>
                <td> <b class="{{e.status=='offline'?'text-danger':'text-success'}}" >{{e.status}}</b></td>
            </tr>

            <tr *ngIf="exedetails.length == 0">
              <td colspan="8" ><b>No Data Found</b></td>
            </tr>
          </tbody>
        </table>
        <!-- <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator> -->
      </div>
         
        </div>
      </mat-tab>
     
    </mat-tab-group>
  </div>
</div>




     
    </div>
      <mat-icon class="top" (click)="scroll(top)">keyboard_arrow_up</mat-icon>

  </div>