<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body">
    <form #executiveForm="ngForm" (ngSubmit)="add(executiveForm)">
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                name="exename"
                id="exename"
                ngModel
                #exename="ngModel"
                [(ngModel)]="executive.name"
                placeholder="Executive Name "
                required
              />
              <mat-error *ngIf="exename.touched && !exename.valid">
                Executive Name Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                name="phone"
                id="phone"
                ngModel
                #phone="ngModel"
                [(ngModel)]="executive.phone"
                placeholder="Executive Phone "
                required
              />
              <mat-error *ngIf="phone.touched && !phone.valid">
                Executive Phone Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                ngModel
                #email="ngModel"
                name="email"
                id="email"
                type="email"
                placeholder="Enter Client Organization Email"
                [(ngModel)]="executive.email"
              />
              <mat-error *ngIf="email.touched && email.errors?.required">
                Executive Email required</mat-error
              >
              <mat-error *ngIf="email.errors?.pattern"
                >Invalid Email ( eg : info@example.com )</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field color="accent" class="full-width">
                    <mat-label> Date Of Birth</mat-label>
                    <input
                      matInput
                      type="date"
                      ngModel
                      placeholder="From Date"
                      #dob="ngModel"
                      name="dob"
                      id="dob"
                      [(appDate)]='executive.dob'
                      [(ngModel)]="dobs"
                      required
                    />
                    <!-- <mat-datepicker-toggle
                      matSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> -->
                    <mat-error *ngIf="dob.touched && !dob.valid">
                     DOB required</mat-error>
                  </mat-form-field>


          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                name="esiNumber"
                id="esiNumber"
                ngModel
                #esiNumber="ngModel"
                [(ngModel)]="executive.esiNumber"
                placeholder="Executive ESI Number "
                required
              />
              <mat-error *ngIf="esiNumber.touched && !esiNumber.valid">
                Executive ESI Number Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
            <input
               matInput
              name="panCardNumber"
              id="panCardNumber"
              type="text"
              ngModel
              #panCardNumber="ngModel"
              [(ngModel)]="executive.panCardNumber"
              placeholder="Enter PAN Card Number"
              required
            />
             <mat-error *ngIf="esiNumber.touched && !esiNumber.valid">
                Executive Pan Card Number Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
            <input
               matInput
              name="pfNumber"
              id="pfNumber"
               ngModel
              #pfNumber="ngModel"
              type="text"
              placeholder="Enter PF No."
              [(ngModel)]="executive.pfNumber"
              required
            />
             <mat-error *ngIf="pfNumber.touched && !pfNumber.valid">
                Executive PF Number Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
             <mat-form-field class="full-width">
              <input
                matInput
                required
                pattern="[0-9]{12}$"
                ngModel
                #aadhaarNumber="ngModel"
              name="aadhaarNumber"
              id="aadhaarNumber"
              placeholder="Enter Aadhaar Number"
              type="number"
              [(ngModel)]="executive.aadhaarNumber"
              required
            />
            <mat-error *ngIf="aadhaarNumber.touched && aadhaarNumber.errors?.required">
                Executive Aadhar Number required</mat-error
              >
              <mat-error *ngIf="aadhaarNumber.errors?.pattern"
                >Aadhar Number ( 12 Numbers )</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
         <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
            <input
               matInput
              name="qualification"
              id="qualification"
               ngModel
              #qualification="ngModel"
              type="text"
              placeholder="Enter Qualification"
              [(ngModel)]="executive.qualification"
              required
            />
             <mat-error *ngIf="qualification.touched && !qualification.valid">
                Qualification Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
            <input
               matInput
              name="vehicleNumber"
              id="vehicleNumber"
               ngModel
              #vehicleNumber="ngModel"
              type="text"
              placeholder="Enter Vehicle Number"
              [(ngModel)]="executive.vehicleNumber"
              required
            />
             <mat-error *ngIf="vehicleNumber.touched && !vehicleNumber.valid">
                Vehicle Number Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
            <input
               matInput
              name="remarks"
              id="remarks"
               ngModel
              #remarks="ngModel"
              type="text"
              placeholder="Enter remarks"
              [(ngModel)]="executive.remarks"
              required
            />
             <mat-error *ngIf="remarks.touched && !remarks.valid">
                Remarks Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
            <input
              matInput
              type="date"
              ngModel
              name="joinedDate"
              id="joinedDate"
              #joinedDate="ngModel"
              placeholder="Enter joinedDate"
              [(appDate)]='executive.joinedDate'
              [(ngModel)]="joiningDt"
              required
            />
             <!-- <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> -->
            <mat-error *ngIf="joinedDate.touched && !joinedDate.valid">
               joinedDate Required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="position-relative form-group">
        <label><b>Address</b></label>
      </div>
      <div class="form-row">
        <div class="col-md-4">
           <mat-form-field class="full-width">
            <input
              matInput
               ngModel
                #hno="ngModel"
            name="hno"
            id="hno"
            type="text"
            placeholder="Hno."
            
            [(ngModel)]="executive.address.hno"
            required
          />
           <mat-error *ngIf="hno.touched && !hno.valid">
               joinedDate Required</mat-error
             >
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input
              matInput
               ngModel
                #streetname="ngModel"
            name="streetname"
            id="streetname"
            type="text"
            placeholder="Street"
            
            [(ngModel)]="executive.address.streetname"
            required
          />
          <mat-error *ngIf="streetname.touched && !streetname.valid">
               StreetName Required</mat-error
             >
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
        <input
              matInput
               ngModel
                #city="ngModel"
            name="city"
            id="city"
            type="text"
            placeholder="City"
            
            [(ngModel)]="executive.address.city"
            required
          />
           <mat-error *ngIf="city.touched && !city.valid">
               city Required</mat-error
             >
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
           <input
              matInput
               ngModel
                #state="ngModel"
            name="state"
            id="state"
            type="text"
            placeholder="State"
            
            [(ngModel)]="executive.address.state"
            required
          />
           <mat-error *ngIf="state.touched && !state.valid">
               State Required</mat-error
             >
          </mat-form-field>
        </div>
        <div class="col-md-4">
         <mat-form-field class="full-width">
           <input
              matInput
               ngModel
                #pincode="ngModel"
            name="pincode"
            id="pincode"
            type="text"
            placeholder="Pin Code"
            [(ngModel)]="executive.address.pincode"
            required
          />
          <mat-error *ngIf="pincode.touched && !pincode.valid">
               Pincode Required</mat-error
             >
          </mat-form-field>
        </div>
      </div>

      <a *ngIf="executive.exeId" class="text-primary m-2 p-1 float-left" [href]="'executive/view/' +executive.exeId"><b> Go To View</b></a>
      <button [disabled]="!executiveForm.valid" type="submit" class="mt-2 btn btn-primary float-right">Submit</button>
    </form>
  </div>
</div>
