<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>

<div class="main-card mb-3 card">
    <div class="card-body">
      <h6 class="p-2">Task</h6>
      <form  #taskForm="ngForm" (ngSubmit)="add(taskForm)">
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
             
              <mat-form-field class="full-width">
              <input matInput required  
               name="title"
               #title="ngModel"
               id="title"
               [(ngModel)]="task.title"
               placeholder="Enter Task Title"
               type="text">
               <mat-error *ngIf="title.touched && !title.valid">
                Title Required</mat-error>
               </mat-form-field>

              
            </div>

          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-label>Priority</mat-label>
                <mat-radio-group class="full-width" [(ngModel)]="task.priority" name="priority" required>
                    <mat-radio-button value="HIGH">High</mat-radio-button>
                    <mat-radio-button value="MEDIUM">Medium</mat-radio-button>
                    <mat-radio-button value="LOW">Low</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>
        

          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
              <input matInput required  
               name="description"
               id="description"
               #description="ngModel"
               [(ngModel)]="task.description"
               placeholder="Enter Description"
               type="text">
               <mat-error *ngIf="description.touched && !description.valid">
                Description Required</mat-error>
              
               </mat-form-field>
             </div>
          </div>

          <div class="col-md-6">
            <mat-form-field class="full-width">
                <input matInput [(ngModel)]="task.address" #address="ngModel" type="text" name="address" id="address" placeholder="Enter Address"   required>
                <mat-error *ngIf="address.touched && !address.valid">
                  Address Required </mat-error>
              </mat-form-field>
        </div>

        </div>

        <!-- select Option -->
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <mat-radio-group class="full-width" [(ngModel)]="task.taskTo" name="taskTo">
                        <mat-label>Select Type</mat-label>
                        <mat-radio-button  [value]="'clients'">Clients</mat-radio-button>
                        <mat-radio-button  [value]="'others'">others</mat-radio-button>
                      </mat-radio-group>
                </div>
              </div>
                <!-- type -->
                <div class="col-md-6" *ngIf="task.taskTo=='clients'">
                <div class="position-relative form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Clients</mat-label>
                    <mat-select [(ngModel)]="task.clientId"  name="client" id="client" #client="ngModel"  [required]="task.taskTo == 'clients'">
                        <mat-option  *ngFor="let c of clients" [value]="c.id">{{c.clientname}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="client.touched && !client.valid">
                      Clients Required</mat-error>
                      
                      </mat-form-field>
                  </div>
                </div> 
            <!-- textField -->
            <div class="col-md-6" *ngIf="task.taskTo != 'clients'">
                <div class="position-relative form-group">
                  <mat-form-field class="full-width">
                  <input matInput required  
                   name="other"
                   id="other"
                   #other="ngModel"
                   [(ngModel)]="task.other"
                   placeholder="Enter Other"
                   type="text">
                   <mat-error *ngIf="other.touched && !other.valid">
                    Others Required</mat-error>
                  </mat-form-field>
                </div>
            </div>
        </div>    

        <!-- startdate -->       
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
                  <mat-form-field class="full-width">
                    <input type="text" matInput
    ngxDaterangepickerMd
    [timePicker]="true"
    [locale]="{format: 'DD MMM, YYYY hh:mm a'}"
    [autoApply]="true"
    [singleDatePicker]="true"
    [(ngModel)]="task.expstartDate1"
    placeholder="Enter Start Date"
    #expstartDate="ngModel"
    name="expstartDate" autocomplete="off" required/>
                    <!-- <input matInput [matDatepicker]="expstartDate" name="expstartDate" [ngModel]="expstartDate1" placeholder="Enter Start Date">
                    <mat-datepicker-toggle matSuffix [for]="expstartDate"></mat-datepicker-toggle>
                    <mat-datepicker #expstartDate></mat-datepicker> -->
                    <mat-error *ngIf="expstartDate.touched && !expstartDate.valid">
                      ExpStartDate Required </mat-error>
                  </mat-form-field>
                </div>
            </div>
          <!-- Enddate   -->
          <div class="col-md-6">
              <div class="position-relative form-group">
                  <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
                  <mat-form-field class="full-width">
                     <input type="text" matInput
                     ngxDaterangepickerMd
                     [timePicker]="true"
                     [locale]="{format: 'DD MMM, YYYY hh:mm a'}"
                     [autoApply]="true"
                     [singleDatePicker]="true"
                     [(ngModel)]="task.expEndDate1"
                     placeholder="Enter End Date"
                     name="expEndDate" autocomplete="off"
                     required>
                     <!-- <mat-datepicker-toggle matSuffix [for]="expEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #expEndDate></mat-datepicker> -->
                   </mat-form-field>
                </div>
            </div>
        </div>

    
          
            <div class="form-row">
              <div class="col-md-6">
                <div class="position-relative form-group">
                    <mat-radio-group class="full-width" [(ngModel)]="task.needReminder" name="needReminder">
                        <mat-label>Reminder</mat-label>
                        <mat-radio-button   [value]="true">On</mat-radio-button>
                        <mat-radio-button   [value]="false">Off</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                <div class="col-md-6" *ngIf="task.needReminder">
                  <div class="position-relative form-group" >
                    <mat-form-field class="full-width">
                      <input type="text" matInput
                      ngxDaterangepickerMd
                      [timePicker]="true"
                      [locale]="{format: 'DD MMM, YYYY hh:mm a'}"
                      [autoApply]="true"
                      [singleDatePicker]="true"
                      [(ngModel)]="task.reminderTime1"
                      placeholder="Enter Reminder Time"
                      #reminderTime="ngModel"
                      name="reminderTime" autocomplete="off"
                      required>
                      <mat-error *ngIf="reminderTime.touched && !reminderTime.valid">
                        Reminder Time Required </mat-error>
                    </mat-form-field>
                  </div>           
                </div>
            </div>

            <div class="form-row">

              <div class="col-md-6">
                <div class="position-relative form-group">
                    <mat-radio-group class="full-width"  name="accessibility" #accessibility="ngModel"  [(ngModel)]="task.accessibility" required>
                        <mat-label>Accessibility</mat-label>
                        <mat-radio-button value="PUBLIC">Group</mat-radio-button>
                        <mat-radio-button value="PRIVATE">Individual</mat-radio-button>
                      </mat-radio-group>
                </div>
              </div>
           
              <div class="col-md-6">
                <div class="position-relative form-group" *ngIf="task.accessibility == 'PUBLIC'">
                  <mat-form-field class="full-width">
                      <mat-label>Select Multiple Executives</mat-label>
                      <mat-select [(ngModel)]="task.exeIds" #executive="ngModel"  name="executives" id="executives" required multiple>
                        <mat-option  *ngFor="let exe of executives" [value]="exe.exeid" >{{exe.name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="executive.touched && !executive.valid">
                        Executives Required </mat-error>
                    </mat-form-field>
                </div>    
                <div class="position-relative form-group" *ngIf="task.accessibility == 'PRIVATE'">
                  <mat-form-field class="full-width">
                      <mat-label>Select Executive</mat-label>
                      <mat-select [(ngModel)]="task.exeIds" #executive="ngModel"   name="executives" id="executives" required>
                        <mat-option  *ngFor="let exe of executives" [value]="exe.exeid" >{{exe.name}}</mat-option>
                      </mat-select>
                       <mat-error *ngIf="executive.touched && !executive.valid">
                        Executive Required </mat-error>
                    </mat-form-field>
                </div>        
              </div>
          </div>

            


        

        
        <button mat-raised-button class="btn btn-primary"  [disabled]="!taskForm.valid" type="submit">Submit</button>
      </form>
    </div>
  </div>


  <!-- Sub Task div -->
  
  <div class="main-card mb-3" *ngIf="task.tid>0">
    <div class="card-body">
      <h6 class="p-2">Sub Task</h6>
      <div class="row">
        <div class="col-md-3" style="height:150px;cursor: pointer;padding:5px;" *ngFor="let st of subtasks; let i = index">
          <div class="card" style="height:142px;" (click)="subtaskModel(st.subTaskId,i)">
            <div  style="padding:8px 15px">
              <div>
                <b>Sub Task ID <i class="fa fa-hashtag"></i>NT000{{st.subTaskId}}</b>
                <ul>
                  <li><i class="fa fa-certificate"></i> <b> Title</b></li>
                  <li style="padding-left: 20px;">{{st.title}}</li>
                </ul>
                <ul>
                  <li> <i class="fa fa-file-text-o"></i> <b> Descriptions</b></li>
                  <li style="padding-left: 20px;">{{st.description}} </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="cursor: pointer;padding:5px;height:150px;">
          <div class="card" style="background-color: #01579b;width:100%;height: 100%;" title="add sub task" (click)="subtaskModel(0,-1)">
            <div class="card-body">
              <i class="fa fa-plus" style="font-size: 40px;color:#00000054;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);"></i>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>