<div class="app-header-left">
  <app-search-box (click)="hideMegamenu()"></app-search-box>
  <ul [ngStyle]="{'opacity': value ? '0' : '1'}" class="header-megamenu nav">
    <li class="nav-item">
      <button [ngbPopover]="headerMegaPopover" [autoClose]="'outside'" placement="bottom-left"
        popoverClass="rm-max-width" type="button" class="btn btn-link dropdown-toggle">
        <span>
          <i class="nav-link-icon pe-7s-gift"></i>
         Quick Links
        </span>
      </button>
    </li>
     
  </ul>
</div>

<ng-template #headerMegaPopover>
  <div class="dropdown-mega-menu">
    <div class="grid-menu grid-menu-3col">
      <div class="no-gutters row">
        <div class="col-sm-6 col-xl-4">
          <ul class="nav flex-column">
            <li class="nav-item-header nav-item">Overview</li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                <i class="nav-link-icon lnr-inbox"></i>
                <span>Contacts</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                <i class="nav-link-icon lnr-book"></i>
                <span>Incidents</span>
                <div class="ml-auto badge badge-pill badge-danger">5</div>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                <i class="nav-link-icon lnr-picture"></i>
                <span>Companies</span>
              </a>
            </li>
            <li class="nav-item">
              <a disabled="disabled" [routerLink]="" class="nav-link disabled">
                <i class="nav-link-icon lnr-file-empty"></i>
                <span>Dashboards</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-xl-4">
          <ul class="nav flex-column">
            <li class="nav-item-header nav-item">Favourites</li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Reports Conversions</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Quick Start
                <div class="ml-auto badge badge-success">New</div>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Users &amp; Groups</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Proprieties</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-xl-4">
          <ul class="nav flex-column">
            <li class="nav-item-header nav-item">Sales &amp; Marketing</li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Queues</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Resource Groups</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Goal Metrics
                <div class="ml-auto badge badge-warning">3</div>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" class="nav-link">Campaigns</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>