<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="icon {{icon}}"></i>
        </div>
        <div>
          {{heading}}
          <div class="page-title-subheading">
            {{subheading}}
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <!-- <button type="button" class="btn-shadow mr-3 btn btn-dark">
          <fa name="star"></fa>
        </button> -->
        <a  type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success mr-2" href="product/bulk">
          Add Bulk Product
        </a>
        <a  type="button" class="btn-shadow d-inline-flex align-items-center btn btn-primary" href="product/0">
          Add Product
        </a>
        
      </div>
    </div>
  </div>


<div class="row">
   
        <div class="col-md-6 col-lg-3" >
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card" >
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase" >All Product</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100" >
                    <div class="widget-chart-flex align-items-center">
                      <div>                        
                        23K                   
                      </div>                      
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase">Stock</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                  <div class="widget-chart-flex align-items-center">
                    <div>                      
                      71K                    
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase">Low Stock</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                  <div class="widget-chart-flex align-items-center">
                    <div>                     
                      14K
                    </div>
               
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase">Active Product</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                  <div class="widget-chart-flex align-items-center">
                    <div>                     
                      34K                    
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
    <div class="col-md-12">
        <div class="card">
            <div class="col-md-11" style="padding-top: 25px;">                    
                <div class="pane-right">                       
                    <div class="input-group">                       
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <fa name="search"></fa>
                        </div>
                      </div>
                      <input placeholder="Search Products " type="text" class="form-control">
                    </div>
                  </div>
            </div>
            <div class="card-header" style="border: none;">Result Searched 145
                <div class="btn-actions-pane-right" style="font-size: 15px;">
                    <div class="col-md-8 "> <span style="display: inline-block;vertical-align: middle;margin-right: 10px;" class="material-icons">add_circle</span>
                        <a style="vertical-align: middle; padding-right: 25px;">Add Category</a>   
                        <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Select Option</button>
                            <div ngbDropdownMenu>
                              <button class="dropdown-item text-center">Delete Product
                            </button>
                            <mat-divider></mat-divider>
                              <button class="dropdown-item">Create Bill
                            </button>
                            <mat-divider></mat-divider>
                            <button class="dropdown-item">Create Innvoice

                          </button>
                          <mat-divider></mat-divider>
                          <button class="dropdown-item">In active product

                        </button>
                   
                            </div>
                          </div>              
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>  
            <div class="card-body" style="padding-top: 25px;">
                <div class="responsive-table">
                    <table class="align-middle mb-0 table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>
                                    <mat-checkbox></mat-checkbox>
                                </th>
                                <th>Product</th>
                                <th class="text-center">HSN/HSC Code</th>
                                <th>Type</th>
                                <th>Quantity</th>
                                <th>Stock</th>
                                <th>MRP</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>  
                          <tr *ngIf="products.length < 1">
                            <td colspan="10" style="text-align: center;" class="p-5">
                              No Product Available
                            </td>
                              
                          </tr>                          
                            <!-- <tr style="font-size: 15px;">
                                <td>
                                    <p><b>1</b> </p>
                                </td>
                                <td>
                                    <p>
                                    NT0010<br>
                                    <b>0452Jean</b> <br>
                                    Fashion</p>
                                </td>
                                <td class="text-center">
                                  <p>xhry39430 </p>
                                </td>
                                <td>
                                    <p>Color : Red<br>
                                        Size: L </p>
                                </td>
                                <td>
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">1pcs&nbsp;&nbsp;</button>
                                        <div ngbDropdownMenu>
                                          <button class="dropdown-item">2pcs</button>
                                          <button class="dropdown-item">3pcs</button>
                               
                                        </div>
                                      </div>
                                </td>
                                <td >
                                    <p>5 </p>
                                </td>
                                <td >
                                    <p>&#x20B9; 200.00</p>
                                </td>
                                <td >
                                    <p>&#x20B9;160.00 </p>
                                </td>
                                <td >
                                    <p> 10%</p>
                                </td>
                                <td>
                                    <p><mat-slide-toggle></mat-slide-toggle><br>
                                        <span style="font-size: 9px;">Last Edit:3-10-20</span>
                                    </p>
                                  </td>
                            </tr> -->
                            <!-- <tr style="font-size: 15px;">
                                <td>
                                    <p><b>2</b> </p>
                                </td>
                                <td>
                                    <p>
                                    NT0010<br>
                                    <b>0452Jean</b> <br>
                                    Fashion</p>
                                </td>
                                <td class="text-center">
                                  <p>xhry39430 </p>
                                </td>
                                <td>
                                    <p>Color : Red<br>
                                        Size: L </p>
                                </td>
                                <td>
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">1pcs&nbsp;&nbsp;</button>
                                        <div ngbDropdownMenu>
                                          <button class="dropdown-item">2pcs</button>
                                          <button class="dropdown-item">3pcs</button>
                               
                                        </div>
                                      </div>
                                </td>
                                <td >
                                    <p>5 </p>
                                </td>
                                <td >
                                    <p>&#x20B9; 200.00</p>
                                </td>
                                <td >
                                    <p>&#x20B9;160.00 </p>
                                </td>
                                <td >
                                    <p> 10%</p>
                                </td>
                                <td>
                                    <p><mat-slide-toggle></mat-slide-toggle><br>
                                        <span style="font-size: 9px;">Last Edit:3-10-20</span>
                                    </p>
                                  </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p><b>3</b> </p>
                                </td>
                                <td>
                                    <p>
                                    NT0010<br>
                                    <b>0452Jean</b> <br>
                                    Fashion</p>
                                </td>
                                <td class="text-center">
                                  <p>xhry39430 </p>
                                </td>
                                <td>
                                    <p>Color : Red<br>
                                        Size: L </p>
                                </td>
                                <td>
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">1pcs&nbsp;&nbsp;</button>
                                        <div ngbDropdownMenu>
                                          <button class="dropdown-item">2pcs</button>
                                          <button class="dropdown-item">3pcs</button>
                               
                                        </div>
                                      </div>
                                </td>
                                <td >
                                    <p>5 </p>
                                </td>
                                <td >
                                    <p>&#x20B9; 200.00</p>
                                </td>
                                <td >
                                    <p>&#x20B9;160.00 </p>
                                </td>
                                <td >
                                    <p> 10%</p>
                                </td>
                                <td>
                                    <p><mat-slide-toggle></mat-slide-toggle><br>
                                        <span style="font-size: 9px;">Last Edit:3-10-20</span>
                                    </p>
                                  </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p><b>4</b> </p>
                                </td>
                                <td>
                                    <p>
                                    NT0010<br>
                                    <b>0452Jean</b> <br>
                                    Fashion</p>
                                </td>
                                <td class="text-center">
                                  <p>xhry39430 </p>
                                </td>
                                <td>
                                    <p>Color : Red<br>
                                        Size: L </p>
                                </td>
                                <td>
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">1pcs&nbsp;&nbsp;</button>
                                        <div ngbDropdownMenu>
                                          <button class="dropdown-item">2pcs</button>
                                          <button class="dropdown-item">3pcs</button>
                               
                                        </div>
                                      </div>
                                </td>
                                <td >
                                    <p>5 </p>
                                </td>
                                <td >
                                    <p>&#x20B9; 200.00</p>
                                </td>
                                <td >
                                    <p>&#x20B9;160.00 </p>
                                </td>
                                <td >
                                    <p> 10%</p>
                                </td>
                                <td>
                                    <p><mat-slide-toggle></mat-slide-toggle><br>
                                        <span style="font-size: 9px;">Last Edit:3-10-20</span>
                                    </p>
                                  </td>
                            </tr> -->
                         
                    
                         
                        
                
                      
              
                   
            
                  


                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>


                </div>
            </div>
        </div>
    </div>   
</div>

<div class="row" style="padding-top: 30px;">
    <div class="col-md-12 ">
      
        <div class="card-hover-shadow-2x mb-3 card">  
              
          <div class="scroll-area-lg">
            
            <perfect-scrollbar [autoPropagation]="true">
                
              <div class="p-4">
                <div><p style="font-size: 25px; color: #16aaff; font-weight: bold;">Time Line Review</p></div>  
                <div
                  class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                  <div class="dot-danger vertical-timeline-element">
                    <div>
                      <span class="vertical-timeline-element-icon bounce-in"></span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Product Added by<span style="color: #81C995;">Srikanth</span> on</h4>
                        <h5 class="timeline-title">(21 Aug, 2020 9.30pm)</h5>
                      </div>
                    </div>
                  </div>
                  <div class="dot-warning vertical-timeline-element">
                    <div>
                      <span class="vertical-timeline-element-icon bounce-in"></span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Product Added by <span style="color: #81C995;">Srikanth</span> on</h4>
                        <h5 class="timeline-title">(21 Aug, 2020 9.30pm)</h5>
                      </div>
                    </div>
                  </div>
                  <div class="dot-success vertical-timeline-element">
                    <div>
                      <span class="vertical-timeline-element-icon bounce-in"></span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Product Added by <span style="color: #81C995;">Abhinay</span> on</h4>
                        <h5 class="timeline-title">(21 Aug, 2020 9.30pm)</h5>
                      </div>
                    </div>
                  </div>                
                  <div class="dot-info vertical-timeline-element">
                    <div>
                      <span class="vertical-timeline-element-icon bounce-in"></span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Product Added by <span style="color: #81C995;">Srikanth</span> on</h4>
                        <h5 class="timeline-title">(21 Aug, 2020 9.30pm)</h5>
                      </div>
                    </div>
                  </div></div>
              </div>
            </perfect-scrollbar>
          </div>        
        </div>
      </div>
</div>