<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>


<div class="row">
          
     
    <div class="col-md-12">
        <div class="card">


            <h2 class="text-primary p-6">Offer Title</h2>
            <div class="row p-6">
                    <div class="col-md-6">
                        
                            <p>Offer Name: {{offerById.name}}</p>
                        
                        
                            <p>Description: {{offerById.description}}</p>
                        
                        
                            <p>Creted By: {{offerById.createdBy}}</p>
                        
                    </div>
                    <div class="col-md-6">
                        
                            <p>Offer Dispaly Name : {{offerById.displayName}}</p>
                        
                        
                            <p>Offer Start Date: {{offerById.startDate | date : 'medium'}}</p>
                        
                        
                            <p>Offer Expire Date: {{offerById.endDate | date : 'medium'}}</p>
                        
                    </div>
            </div>

            <h2 class="text-primary p-6">Offer Details</h2>
            <!-- <div class="col-md-12 row"> -->
                <div class="discountbox">
                    <span>
                        Apply <b> {{offerById.detail.discountPer}}% </b> discount if total value is rupees <b>₹ {{offerById.detail.disOnQty}} </b> amount
                    </span>
                </div>

            <!-- </div> -->
            
           
            <mat-divider></mat-divider>  

            <h4 class="text-primary p-4">Assigned Clients</h4>


            <div class="card-body" style="padding-top: 25px;">
                <div class="responsive-table">
                    <table class="align-middle mb-0 table table-striped table-hover offer-data-table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>
                                    <mat-checkbox></mat-checkbox>
                                </th>
                                <th>Client/Company</th>
                                <th >Invoice ID</th>
                                <th>Last Invoice Generated</th>
                                <th>Open Balance</th>
                                <th>Overdue</th>
                                <th>Unbilled Amt</th>
                                <th>Last Paid</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr style="font-size: 15px;">
                                <td>
                                    <p><b>1</b> </p>
                                    
                                  </td>
                                <td>
                                    <p>
                                        <small>NT0010</small><br>
                                        <b>0452Jean</b> <br>
                                        <small>Fashion</small>
                                    </p>
                                </td>
                                <td>
                                    <p>JX24123</p>
                                </td>
                                <td>
                                    <p>
                                        ₹ 10,000.00<br>
                                       <span style="font-size: 9px;">28 Aug 2020</span></p>
                                </td>
                                <td>
                                    <b>₹ 20,000.00</b>
                                </td>
                                <td >
                                   ----
                                </td>
                                <td >
                                    <b>₹ 20,000.00</b>
                                </td>

                                
                                <td>
                                    <p>
                                        ₹ 10,000.00<br>
                                       <span style="font-size: 9px;">28 Aug 2020</span></p>
                                </td>
                                 
                            </tr>
                            

                            
                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>


                </div>
            </div>
        </div>
    </div>   
</div>