<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btnstatus]="btnstatus"></app-page-title>




<div class="row">
    <div class="col-md-12">
        <div class="card main-card mb-3">
            <div class="card-header">
                Currrent Month
            </div>
            <div class="card-body">
                <apx-chart [series]="[
                  {
                    name: 'Target',
                    data: [31, 40, 28, 51, 42, 109, 100]
                  }
                ]" [xaxis]="{categories: ['1', '2', '3', '4', '5', '6', '7',
                '8', '9', '10', '11', '12', '13', '14','15', '16', '17', '18',
                '19', '20', '21','22', '23', '24', '25', '26', '27', '28','29']}" [chart]="{
                  height: '350',
                  type: 'area'
                }"></apx-chart>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="border: none; padding-top: 25px;">Result Searched 145 &nbsp;&nbsp;&nbsp;&nbsp;
                <div> 
                    Filter Used:&nbsp;&nbsp;&nbsp;  <div class="d-inline-block" ngbDropdown>
                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Active</button>
                    <div ngbDropdownMenu>
                      <button class="dropdown-item text-center">Idle
                    </button>                  
                    <mat-divider></mat-divider>
                    <button class="dropdown-item">inactive
                  </button>
               
           
                    </div>
                  </div> </div>
                <div class="btn-actions-pane-right" style="font-size: 15px;">
                    <div class="col-md-8 ">                         
                        <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Select Executive</button>
                            <div ngbDropdownMenu>
                              <button class="dropdown-item text-center">Option 1
                            </button>
                            <mat-divider></mat-divider>
                              <button class="dropdown-item">Option 2
                            </button>          
                   
                            </div>
                          </div>              
                    </div>
                </div>
            </div>
           
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div style="font-size: 15px; font-weight: bold;"><p>Target Sales: <span style="color: red;">&#x20B9;50,000.00</span></p></div>
                      </div>
                      <div class="col-md-6">
                        <div class="float-right" style="font-size: 15px; font-weight: bold;">
                            <div><p>Total Sales: <span style="color: green;">&#x20B9;1600.00</span></p></div>
                        </div>
                    </div>
                </div>
                <div class="responsive-table">
                    <table class="align-middle mb-0 table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>
                                    <mat-checkbox></mat-checkbox>
                                </th>
                                <th>Executive</th>
                                <th class="text-center">
                                    <div class="row">
                                        <div class="col-md-10">Orders</div>
                                    </div>
                                </th>
                                <th>Total Sales</th>
                                <th>Target Amount</th>
                                <th>Remaining Sales</th>
                                <th></th>



                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">Abhinay Jain</div>
                                                <div class="widget-subheading opacity-7">NT100100</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><b>25</b></p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row" style="font-size: 10px;">
                                                    <div class="col-md-3    ">
                                                        <p style="color:#3f6ad8;">2 <br>Completed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:#3f6ad8;">1 <br> Approved</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:black;">1 <br> Draft</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:red;">1 <br>
                                                            Cancel</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <p>&#x20B9;25,000.00</p>
                                </td>

                                <td class="text-center">
                                    <p><b> &#x20B9;50,000.00</b></p>
                                </td>
                                <td class="text-center">
                                    <div class="progress-sub-label">
                                        <div class="sub-label-left">40%</div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="71"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">B Srikanth </div>
                                                <div class="widget-subheading opacity-7">NT10010</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><b>25</b></p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row" style="font-size: 10px;">
                                                    <div class="col-md-3    ">
                                                        <p style="color:#3f6ad8;">2 <br>Completed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:#3f6ad8;">1 <br> Approved</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:black;">1 <br> Draft</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:red;">1 <br>
                                                            Cancel</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>

                                <td>
                                    <p>&#x20B9;25,000.00</p>
                                </td>

                                <td class="text-center">
                                    <p><b> &#x20B9;50,000.00</b></p>
                                </td>
                                <td class="text-center">
                                    <div class="progress-sub-label">
                                        <div class="sub-label-left">40%</div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="71"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">P Ramesh Jain</div>
                                                <div class="widget-subheading opacity-7">NT100102</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><b>25</b></p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row" style="font-size: 10px;">
                                                    <div class="col-md-3    ">
                                                        <p style="color:#3f6ad8;">2 <br>Completed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:#3f6ad8;">1 <br> Approved</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:black;">1 <br> Draft</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:red;">1 <br>
                                                            Cancel</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>

                                <td>
                                    <p>&#x20B9;25,000.00</p>
                                </td>

                                <td class="text-center">
                                    <p><b> &#x20B9;50,000.00</b></p>
                                </td>
                                <td class="text-center">
                                    <div class="progress-sub-label">
                                        <div class="sub-label-left">50%</div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="71"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">Sahil Kumar</div>
                                                <div class="widget-subheading opacity-7">NT100100</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><b>25</b></p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row" style="font-size: 10px;">
                                                    <div class="col-md-3    ">
                                                        <p style="color:#3f6ad8;">2 <br>Completed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:#3f6ad8;">1 <br> Approved</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:black;">1 <br> Draft</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:red;">1 <br>
                                                            Cancel</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>

                                <td>
                                    <p>&#x20B9;25,000.00</p>
                                </td>

                                <td class="text-center">
                                    <p><b> &#x20B9;50,000.00</b></p>
                                </td>
                                <td class="text-center">
                                    <div class="progress-sub-label">
                                        <div class="sub-label-left">40%</div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="71"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-center">
                                    <p><b>Total Orderx <span style="color: green; font-size: 15px;"> 250</span></b></p>
                                </td>
                                <td>
                                    <p><b>Total Sales <span style="font-size: 15px;"> &#x20B9;25,000.00</span></b></p>
                                </td>
                                <td>
                                    <p><b>Target Amoount<span style="font-size: 15px;"> &#x20B9;25,000.00</span></b></p>
                                </td>
                                <td class="text-center">
                                    <div class="progress-sub-label">
                                        <div class="sub-label-left">80%</div>
                                    </div>
                                    <div class="widget-progress-wrapper">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="71"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                                        </div>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>


                </div>
            </div>
        </div>
    </div>
</div>