.filters 
	.search 
		input 
			outline: none 
			box-shadow: none 
.selectsecx
	width: 100%
	padding: 5px 
	border-radius: 20px 
	background-color: transparent 
	border: 1px solid #000 
	color: #000 
	outline: none
	margin-left: 10px 