<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>

<div class="card main-card mb-3 mt-3 pl-4 pr-4">
  <!-- table data -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th><mat-checkbox></mat-checkbox></th>
        <th scope="col">Category</th>
        <th scope="col">Parent</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categories; index as i">
        <td style="vertical-align: middle">{{ i + 1 }}</td>
        <td style="vertical-align: middle">
          <!-- <small>NT00010</small><br /> -->
          <b>{{ c.name }}</b>
        </td>
        <td style="width: 160px; font-size: 12px">
          <!-- <small>NT00010</small><br /> -->
          <b>{{ c.parentId }}</b>
        </td>

        <td style="vertical-align: middle">
          <span [class]="c.isActive?'text-success':'text-danger'">{{ c.isActive?'Active':'InActive' }}</span>
          <!-- <select name="status" class="selectsecx">
            <option class="text-success" value="ACTIVE">Active</option>
            <option class="text-danger" value="INACTIVE">InActive</option>
          </select> -->
        </td>

        <td style="vertical-align: middle">
          <a class="fa fa-pencil text-primary mr-2" [href]="'/product/category/'+c.catid"></a>
          <!-- <i class="fa fa-times text-danger"></i> -->
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
