<div class="row">
    <!-- Product Offers -->
    <div class="main-card col-md-12 p-2" *ngFor="let rounds of schedules; let i = index">

        <mat-accordion>
            <mat-expansion-panel (opened)="getVisits(i)">
                <div class="row p-3" *ngIf="isTrip">
                    <div class="col-md-7">
                        <p *ngIf="exeID==0">
                            Current Executive :
                                    <mat-select *ngIf="schedules[i].visits" 
                                    (selectionChange)="scheduleAlloc($event.value,i)" 
                                    style="width: 200px;" placeholder="Select Executive" [(ngModel)]="schedules[i].selectExecutive">
                                        <mat-option *ngFor="let rexe of schedules[i].visits.executives" [value]="rexe.schAllocId">{{rexe.name}}</mat-option>
                                    </mat-select> 
                        </p>
                    </div>
                    <div class="col-md-5">
                        <mat-icon class="cursor-pointer float-right" (click)="schedule(i)">edit</mat-icon>
                        <!-- <p>Round ID : <b>#{{rounds.id}}</b></p> -->
                    </div>
                </div>

                <mat-expansion-panel-header style="background-color: #00aeef">
                    <mat-panel-title>
                        <div class="col-md-12 p-3 row" style="color: #fff">
                            <div class="col-md-3">
                                <p style="margin: 10px 0">{{ rounds.name }}</p>
                            </div>
                            <div class="col-md-3 text-left">
                                <p style="margin: 10px 0">Visit : {{ rounds.totVisits }}</p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 text-right">
                                <a href="/trips/trip">
                                    <span [class]="
                          rounds.status == 'ALLOCATED'
                            ? 'bg-secondary'
                            : (rounds.status == 'PENDING' || rounds.status == 'IN_PROGRESS')
                            ? 'bg-warning'
                            : rounds.status == 'REJECTED ' || 'CANCELLED'
                            ? 'bg-danger'
                            : rounds.status == 'CHECK_IN || CHECK_OUT'
                            ? 'bg-info'
                            : rounds.status == 'ACCEPTED'
                            ? 'bg-primary'
                            : 'bg-light'
                        " style="
                          padding: 5px 15px;
                          display: inline-block;
                          color: #fff;
                          font-size: 10px;
                          margin: 10px 0;
                          border: 1px solid #dee2e6 !important;
                          border-radius: 50rem;
                          margin-right: 15px;
                        ">{{ rounds.status }}</span>
                                    <span class="rounded-pill border" style="
                          padding: 5px 15px;
                          display: inline-block;
                          color: #fff;
                          font-size: 10px;
                          margin: 10px 0;
                        ">Track</span>
                                </a>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Table to deag and drop UP and DOWN -->

                <!-- timeline view -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <!-- <div class="scroll-area-lg">
                                    <perfect-scrollbar [autoPropagation]="true"> -->
                                        <div>
                                            <div
                                                class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                                <div class="vertical-timeline-element">
                                                    
                                                    <div cdkDropList class="example-list"
                                                        (cdkDropListDropped)="drop($event)">
                                                        <div class="example-box" *ngFor="let movie of movies" cdkDrag>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <table mat-table [ngClass]="tableThemeClass"
                                                            class="table table-striped" id="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">*</th>
                                                                    <th scope="col">Client/Visit</th>
                                                                    <th scope="col">Purpose</th>
                                                                    <th scope="col">Check In</th>
                                                                    <th scope="col">Check Out</th>
                                                                    <th scope="col">Spend Time</th>
                                                                    <th scope="col">Distance</th>
                                                                    <th scope="col">Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngIf="rounds.visits">
                                                                <tr *ngFor="
                                        let data of rounds.visits
                                          .scheduleVisits;
                                        let i = index
                                      ">
                                                                    <td
                                                                        class="vertical-timeline-element-content bounce-in p-0">
                                                                        <span class=" material-icons
                          {{
                                            data.status == 'ALLOCATED'
                                              ? 'text-secondary'
                                              : data.status == 'PENDING'
                                              ? 'text-warning'
                                              : data.status == 'REJECTED ' ||
                                                'CANCELLED'
                                              ? 'text-danger'
                                              : data.status ==
                                                'CHECK_IN || CHECK_OUT'
                                              ? 'text-info'
                                              : data.status == 'ACCEPTED'
                                              ? 'text-primary'
                                              : 'text-light'
                                          }}
                        " style="font-size: 30px">
                                                                            {{
                                                                            data.status == "ALLOCATED"
                                                                            ? "add_circle"
                                                                            : data.status == "PENDING"
                                                                            ? "history"
                                                                            : data.status == "REJECTED " ||
                                                                            "CANCELLED"
                                                                            ? "highlight_off"
                                                                            : data.status ==
                                                                            "CHECK_IN || CHECK_OUT"
                                                                            ? "swap_horiz"
                                                                            : data.status == "ACCEPTED"
                                                                            ? "check_circle"
                                                                            : "check_circle"
                                                                            }}
                                                                        </span>
                                                                    </td>

                                                                    <td>
                                                                        {{ data.tripPoint.point.name }}
                                                                    </td>

                                                                    <td>{{ data.tripPoint.purpose }}</td>

                                                                    <td>
                                                                        <b *ngIf="data.checkIn== null">--</b>
                                                                        <b *ngIf="data.checkIn!== null">{{ data.checkIn
                                                                            }}</b>
                                                                    </td>

                                                                    <td>
                                                                        <b *ngIf=" data.checkOut== null">--</b>
                                                                        <b *ngIf=" data.checkOut!== null">{{
                                                                            data.checkOut }}</b>

                                                                    </td>

                                                                    <td>
                                                                        <b *ngIf=" data.totTym== null">--</b>
                                                                        <b *ngIf=" data.totTym!== null">{{ data.totTym
                                                                            }}</b>
                                                                    </td>

                                                                    <td>
                                                                        <b *ngIf=" data.distance== null">--</b>
                                                                        <b *ngIf=" data.distance!== null">{{
                                                                            data.distance }}</b>
                                                                    </td>

                                                                    <td [class]="
                                          data.status == 'ALLOCATED'
                                            ? 'text-secondary'
                                            : data.status == 'PENDING'
                                            ? 'text-warning'
                                            : data.status == 'REJECTED ' ||
                                              'CANCELLED'
                                            ? 'text-danger'
                                            : data.status ==
                                              'CHECK_IN || CHECK_OUT'
                                            ? 'text-info'
                                            : data.status == 'ACCEPTED'
                                            ? 'text-primary'
                                            : 'text-light'
                                        ">
                                                                        {{ data.status }}
                                                                    </td>
                                                                </tr>

                                                            </tbody>


                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </perfect-scrollbar>
                                </div> -->

                                <div class="row p-3">
                                    <div class="col-md-6">
                                        <p>Total Distance :<b>65 Km</b></p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <p>
                                            Total Time : <b class="text-danger">8d 12h 30m</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngIf="isTrip">
                            <!-- <div class="card">
                                <div class="card-body">
                                    <a class="text-danger m-2 p-1 float-left"> <b> Delete</b></a>
                                    <a class="text-primary m-2 p-1 float-left" [href]="'trips/addtrip/'+schedules.id"><b> Edit</b></a>
                                    <a class="text-success m-2 p-1 float-left"><b> Duplicate</b></a>
                                
                                    <button mat-raised-button class="btn btn-primary float-right ml-4" type="submit">
                                        Save
                                    </button>
                                    <a class="text-primary float-right"> Clear</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <!-- Table to deag and drop UP and DOWN -->
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <!-- submit buttons -->

    <div class="card-body" *ngIf="isTrip">
        <!-- <a class="text-danger m-2 p-1 float-left"> <b> Delete</b></a> -->
        <a class="text-primary m-2 p-1 float-left" [href]="'trips/addtrip/'+TripId"><b> Edit</b></a>
        <a class="text-success m-2 p-1 float-left" [href]="'trips/addtrip/'+TripId+'?type=duplicate'"><b> Duplicate</b></a>

        <!-- <button mat-raised-button class="btn btn-primary float-right ml-4" type="submit">
            Save
        </button>
        <a class="text-primary float-right"> Clear</a> -->
    </div>
   
</div>
