<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>

<div class=" main-card mb-3 p-3 card">
    <div class="row">
        <div class="col-md-10 pl-4 pb-0" style="padding-top: 20px;">
            <div style="color:#007bff" class="mb-4">
              <h6><b>Import products</b> </h6>
            </div>
            <p class="mb-4 ">
              Our bulk import feature allows you to easily import your product records in to Erob using a XLSX (Excel) file
            </p>
            <p>
                You can directly post your existing XLSX (Excel) file. There is no need to first transfer records in to a Hike recognized template.
                Simply import your file and then match fields for a first record. Our system will take care of the rest. However, if you are creating a new list
                file XLSX (Excel) from scratch, you can <a href="">download our import file template here.</a>
            </p>
          </div>
        </div>
          <div class="row p-3">
              <div class="col-md-6 p-0">
                    <div class="position-relative form-group">
                      <dropzone class="dropzone-container" [config]="config"  f
                      [message]="'Click or drag images here to upload'" (init)="onUploadInit($event)" (error)="onUploadError($event)"
                      (success)="onUploadSuccess($event)"></dropzone>
                    </div>
                    (Max Size 4mb) 
              </div>
              <div class="col-md-6 p-3" style="text-align: center;"><b style="color: #3f6ad8;">Export Excel File From Server</b></div>
          </div>
        
    </div>

        <!-- match fields -->

        <div class=" main-card p-3 mb-3 card">
            <div class="row p-3">
                <div style="color:#007bff" class="mb-4 col-md-11">
                    <h6><b>Preview of Import</b> </h6>
                  </div>
                </div>
                <!-- content -->
                <div class="row p-4 ">
                    <div class="col-md-4 p-3 text-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Submitted Product : 120</div>
                    <div class="col-md-4 p-3 text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Submitted Product : 10</div>
                    <div class="col-md-4 p-3 text-muted"><i class="fa fa-question-circle" aria-hidden="true"></i> Submitted Product : 10</div>
                    <hr style="border: 1px solid #c2c2c2;width: 100%;margin: 0;">
                    
                </div>
                <div class="card main-card mb-3 mt-3 pl-4 pr-4">
                  <!-- table data -->
                  
                  <table class="table table-striped">
                     
                    <thead>
                      <tr >
                        <th></th>
                        <th scope="col">Row</th>
                        <th scope="col">Product</th>
                        <th scope="col">HSN/HSC Code</th>
                        <th scope="col"> Type</th>
                        <th scope="col"> Stock</th>
                        <th scope="col"> Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let c of categories; index as i" > -->
                    <tr>
                      <td style="vertical-align: middle;" class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                    <td style="vertical-align: middle;">1</td>
                      <td style="vertical-align: middle;">
                      <small>NT00010</small><br>
                      <b>Sub Cat Name</b>
                      <p>Fashion</p>
                    </td >
                    <td style="vertical-align: middle;">
                      xhry39430</td>
                    <td style="width:160px;font-size: 12px;">
                      <small>Color : Red</small><br>
                      <b>Size: L</b>
                    </td>
                    <td style="vertical-align: middle;">
                    5
                  </td>
                  <td style="vertical-align: middle;" class="text-success">
                    Import Successfully</td>
                </tr>
                    
                <!-- 2nd row -->

                <tr>
                  <td style="vertical-align: middle;" class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></td>
                <td style="vertical-align: middle;">2</td>
                  <td style="vertical-align: middle;">
                  <small>NT00010</small><br>
                  <b>T Shirts</b>
                  <p>Fashion</p>
                </td >
                <td style="vertical-align: middle;">
                  xhry39430</td>
                <td style="width:160px;font-size: 12px;">
                  <small>Color : Red</small><br>
                  <b>Size: L</b>
                </td>
                <td style="vertical-align: middle;">
                54
              </td>
              <td style="vertical-align: middle;" class="text-danger">
                Process Failed</td>
            </tr>

             <!-- 3rd row -->

             <tr>
              <td style="vertical-align: middle;" class="text-muted"><i class="fa fa-question-circle" aria-hidden="true"></i></td>
            <td style="vertical-align: middle;">3</td>
              <td style="vertical-align: middle;">
              <small>NT00010</small><br>
              <b>Watchs</b>
              <p>Mens</p>
            </td >
            <td style="vertical-align: middle;">
              xhry39430</td>
            <td style="width:160px;font-size: 12px;">
              <small>Color : Red</small><br>
              <b>Size: L</b>
            </td>
            <td style="vertical-align: middle;">
            200
          </td>
          <td style="vertical-align: middle;" class="text-primary">
            Inprogress</td>
        </tr>

                    </tbody>
                  </table>
                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
        </div>

        <!-- Logs Table -->

        <div class=" main-card p-3 card">
            <div class="row p-3">
                <div style="color:#007bff" class="mb-4 col-md-11">
                    <h6><b>Import Log (Sukesh Review)</b> </h6>
                  </div>
                  <div class="col-md-1">
                    <button class="btn btn-primary rounded-pill mr-4"> Refresh</button>
                  </div>
                </div>
                <!-- Table contant-->

                <table class="table table-striped ">
                    <thead>
                        <tr >
                            <th scope="col">Date</th>
                            <th  scope="col">Total Record#</th>
                            <th scope="col">Status</th>  
                            <th scope="col">Result </th>
                            <th scope="col">Imported By</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of bulk">
                            <td style="vertical-align: middle;">{{c.date}}</td>
                            <td style="vertical-align: middle;">{{c.totalrecord}}</td>
                            <td style="vertical-align: middle;">{{c.status}}</td>
                            <td style="vertical-align: middle;">{{c.result}}</td>
                            <td style="vertical-align: middle;">{{c.importedBy}}</td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                </div>