<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>
<div class="main-card mb-3 card" *ngIf="cats.length > 0">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="add(productForm)">
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                required
                ngModel
                #name="ngModel"
                name="name"
                id="name"
                placeholder="Enter Product Name"
                type="text"
                [(ngModel)]="product.name"
              />
              <mat-error class="alert" *ngIf="name.touched && !name.valid">
                Product Name is Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                required
                pattern="[0-9]{2,10}$"
                ngModel
                #hsnCode="ngModel"
                name="hsnCode"
                id="hsnCode"
                placeholder="Enter HSN Code"
                type="text"
                [(ngModel)]="product.hsnCode"
              />
              <mat-error *ngIf="hsnCode.touched && !hsnCode.valid">
                HSN Code Required</mat-error
              >
              <mat-error *ngIf="hsnCode.errors?.pattern">
                number Only</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                required
                ngModel
                #partNumber="ngModel"
                name="partNumber"
                id="partNumber"
                placeholder="Enter part number"
                type="text"
                [(ngModel)]="product.partNumber"
              />
              <mat-error *ngIf="partNumber.touched && !partNumber.valid">
                Part Number Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                required
                pattern="[0-9]*"
                ngModel
                #qtyPerCase="ngModel"
                name="qtyPerCase"
                id="qtyPerCase"
                placeholder="Enter quantity per case"
                type="text"
                [(ngModel)]="product.qtyPerCase"
              />
              <mat-error *ngIf="qtyPerCase.touched && !qtyPerCase.valid">
                Quantity Required</mat-error
              >
              <mat-error *ngIf="qtyPerCase.errors?.pattern">
                number Only</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                required
                pattern="[0-9]*"
                ngModel
                #tax="ngModel"
                name="tax"
                id="tax"
                type="text"
                placeholder="Enter tax"
                [(ngModel)]="product.tax"
              />
              <mat-error *ngIf="tax.touched && !tax.valid">
                Tax Required</mat-error
              >
              <mat-error *ngIf="tax.errors?.pattern"> number Only</mat-error>
            </mat-form-field>
          </div>
        </div>
         <!-- //! need to add chechbox in mat   -->
        <div class="col-md-6">
          <div class="position-relative form-group">
            <!-- <label for="taxable">Taxable</label><br> -->

            <mat-checkbox
              name="taxable"
              id="taxable"
              [checked]="product.taxable"
              [(ngModel)]="product.taxable"
            >
              is tax applicable for this product ?
            </mat-checkbox>
          </div>
        </div>
      </div>
      <!-- need to add chechbox in mat -->

      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input
                matInput
                required
                ngModel
                #units="ngModel"
                name="units"
                id="units"
                type="text"
                placeholder="Enter units "
                [(ngModel)]="product.units"
              />
              <mat-error *ngIf="units.touched && !units.valid">
                Units Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6" *ngIf="cats.length > 0">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <mat-label>Category</mat-label>
              <select
                matNativeControl
                required
                name="pcat"
                id="pcat"
                [(ngModel)]="product.pcat.catid"
              >
                <option *ngFor="let c of cats" value="{{ c.catid }}">
                  {{ c.catname }}
                </option>
              </select>
            </mat-form-field>
          </div>
        </div>
        <div
          class="col-md-6"
          style="width: 40%; margin: auto"
          *ngIf="cats.length < 1"
        >
          <small
            >No Category Found First
            <a class="btn btn-primary btn-sm" href="/product/category"
              >Add Category</a
            >
            To Add New Product</small
          >
          <!-- <img  src="../../../../assets/images/nodata.jpg" alt="No Data Found"> -->
        </div>
      </div>
      <button
        mat-raised-button
        class="btn btn-primary"
        [disabled]="!productForm.valid"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<div class="col-md-12" *ngIf="cats.length < 1">
  <p>Category Not Found Please Add Category First...!</p>
</div>
