<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>


 

<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body p-0">
                  <div class="row pb-5 p-5">
                      <div class="col-md-6">
                          <p class="font-weight-bold mb-4">{{orders.order.orderid}}</p>
                          <b class="mb-1">Order By</b>
                          <p>{{orders.order.orderto.clientname}}</p>
                          <p class="mb-1">{{orders.order.orderto.companyName}}</p>
                          <p class="mb-1">{{orders.order.orderto.gstNo}}</p>
                      </div>

                      <div class="col-md-6 text-right">
                          <p class="font-weight-bold mb-4">Order Collected</p>
                          <p class="mb-1"><span class="text-muted">Name: </span> {{orders.order.orderCollected.username}}</p>
                          <p class="mb-1"><span class="text-muted">Email: </span> {{orders.order.orderCollected.email}}</p>
                          <p class="mb-1"><span class="text-muted">Phone No: </span> {{orders.order.orderCollected.phone}}</p>
                          <p class="mb-1"><span class="text-muted">Designation: </span>  {{orders.order.orderCollected.role}}</p>
                      </div>
                  </div>

                  <div class="row p-5">
                      <div class="col-md-12">
                          <div class="col-md-3 text-left">Order Status: <b>{{orders.order.status}}</b></div>
                        <div class="col-md-12 text-right">
                        <button *ngIf="!editMode" type="button" class="btn btn-primary mr-1" (click)="edit()">Edit Order</button>
                        <button *ngIf="!editMode" type="button" (click)=" statusChange(orders.order.orderid,'ACCEPTED','Accept')" class="btn btn-success mr-1">Accept</button>
                        <button *ngIf="!editMode" type="button" (click)=" statusChange(orders.order.orderid,'REJECTED','Reject')" class="btn btn-danger mr-1">Reject</button>
                        <button *ngIf="!editMode && orders.order.status=='ADDED'" type="button" (click)=" statusChange(orders.order.orderid,'ON_HOLD','On-Hold')" class="btn btn-warning mr-1">On Hold</button>
                        <button *ngIf="editMode" type="button" class="btn btn-primary mr-1" (click)="save()">Save</button>

                    </div>                        
                        <hr class="my-5">

                          <table class="table">
                              <thead>
                                  <tr>
                                      <th class="border-0 text-uppercase small font-weight-bold">#</th>
                                      <th class="border-0 text-uppercase small font-weight-bold">Product Name</th>
                                      <th class="border-0 text-uppercase small font-weight-bold">HSN Code</th>
                                      <th class="border-0 text-uppercase small font-weight-bold">Units</th>
                                      <th class="border-0 text-uppercase small font-weight-bold">Price</th>
                                      <th class="border-0 text-uppercase small font-weight-bold">QTY</th>
                                       
                                      <th class="border-0 text-uppercase small font-weight-bold">Total Amount</th>
                                      <th class="border-0 text-uppercase small font-weight-bold">Tax Amount</th>


                                  </tr>
                              </thead>
                              <tbody *ngFor='let order of orders.particulars; let i = index'>
                                  <tr>
                                      <td>{{ i+1 }}</td>
                                      <td>{{order.pricelist.product.name}}</td>
                                      <td>{{order.pricelist.product.hsnCode}}</td>
                                      <td>{{order.pricelist.product.units}}</td>
                                      <td>{{order.pricelist.price_per_unit}} INR</td>
                                      <td> <label *ngIf="editMode">{{textValue}}</label>
                                        <input *ngIf="editMode" [(ngModel)]="orders.particulars[i].qty">
                                               {{order.qty}}
                                         </td>
                                      <td>{{order.pricelist.price}} INR</td>
                                      <td>{{order.tax}}</td>
                                     
                                  </tr>
                               
                              </tbody>
                          </table>
                      </div>
                  </div>

                  <div class="d-flex mr-1 ml-1 bg-dark text-white p-4 row">
                    <div class="col-md-4">
                        <mat-form-field class="full-width orderEdit">
                            <textarea matInput placeholder="Leave a Remark" rows="6" style="resize: none;"></textarea>
                          </mat-form-field>
                    </div>
                    <div class="row col-md-8">
                      <div class="col-md-4 py-3 px-5 text-right">
                          <div class="mb-2">Grand Total</div>
                          <div class="h2 font-weight-light">50 INR</div>
                      </div>

                      <div class="col-md-4 py-3 px-5 text-right">
                          <div class="mb-2">Discount</div>
                          <div class="h2 font-weight-light">10%</div>
                      </div>

                      <div class="col-md-4 py-3 px-5 text-right">
                          <div class="mb-2">Sub - Total amount</div>
                          <div class="h2 font-weight-light"> 45 INR</div>
                      </div>
                      </div>
                  </div>

             
              </div>
          </div>
      </div>
  </div>
  
</div>

 