.nav-item
    a
        border-left: 4px solid #fff
        color: #000
        
        &.active
            border-left: 4px solid #3f6ad8
            color: #000
            font-weight: bold
            background-color: #3f6ad80f

.mat-tab-body-content ng-trigger ng-trigger-translateTab
    overflow: hidden

.i-circle
    background:  #fff
    color: black
    padding: 5px 20px
    border-radius: 50%
    bordercolor: black
    font-size: 35px
    
.checked
    color:orange