<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" ></app-page-title>



<div class="main-card mb-3 card" *ngIf="orders !== null">
  <div class="card-header text-right">
    
      <div  class="col-md-12 text-right" >
           <div class="col-md-12 text-right">
        <div class="btn-group" ngbDropdown>
          <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn btn-primary">Filters</button>
          <div ngbDropdownMenu class="dropdown-menu-lg">
            <div class="dropdown-menu-header">
              <div class="dropdown-menu-header-inner bg-primary">
                <div class="menu-header-image" style="background-image: url('./assets/images/dropdown-header/abstract1.jpg');"></div>
                <div class="menu-header-content"><h5 class="menu-header-title">Filters</h5><h6 class="menu-header-subtitle">Select the options to view</h6></div>
              </div>
            </div>
            <div class="grid-menu grid-menu-2col">
              <div class="no-gutters row">
                <div class="col-sm-6">
                  <button class="btn-icon-vertical btn-transition btn btn-outline-primary"><i class="lnr btn-icon-wrapper"> </i>Created on</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn-icon-vertical btn-transition btn btn-outline-secondary"><i class="lnr btn-icon-wrapper"> </i>Approved on</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn-icon-vertical btn-transition btn btn-outline-success"><i class="lnr btn-icon-wrapper"> </i>Order Status</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn-icon-vertical btn-transition btn btn-outline-info"><i class="lnr btn-icon-wrapper"> </i>Company Name</button>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>

           </div>
  </div>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th >Order ID</th>
          <th >Company Name</th>
          <th >Contact Name</th>
          <th >Phone</th>
          <th>Total Orders</th>
          <th>Order Created on</th>
          <th>Order Approved on</th>
          <th>Order Status</th>       
          <th class="actiontd">Action</th> 
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of orders">
              <td>{{ order.order.orderid }}</td>
              <td>{{ order.order.orderto.companyName }}</td>
              <td>{{ order.order.orderto.clientname }}</td>
              <td>{{ order.order.orderto.phone }}</td>
              <td>{{ order.order.total }}</td>
              <td>{{ order.order.createdat }}</td>
              <td>{{ order.order.approvedat }}</td>
              <td>{{ order.order.status }}</td>
         
              <td><a class="btn btn-primary btn-sm btn-block mb-2 " href="order/{{order.order.orderid}}">
                <i class="fa fa-edit"></i> View Details </a> 
              </td>
              
            </tr>
       
      </tbody>
    </table>
  </div>
 
</div>
 
<div class="col-md-12" style="width: 40%;margin: auto;" *ngIf="orders == null"> 
  <p style="text-align: center;"><b> No Orders Found  </b></p>
  <img  src="../../../../assets/images/nodata.jpg" alt="No Data Found">
</div>
