<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>
<!-- timeline view for generated trip -->
<div class="card main-card mb-3 mt-3">
  <div class="card-body">
    <div class="card-header">
      <span
        style="
          border: none;
          display: inline-block;
          color: #16aaff;
        "
      >
        {{ schedules.title }}</span
      >
      <span class="text-danger ml-3"
        ><mat-icon style="font-size:16px;">north</mat-icon>
        {{ schedules.priorityType }}</span
      >

      <div class="btn-actions-pane-right">
        <div style="display: inline-block">
          <i
            class="lnr-printer ml-3"
            style="
              font-size: 25px;
              font-weight: bolder;
              vertical-align: bottom;
              color: #949494;
            "
          ></i>
          <i
            class="fa fa-share-alt ml-3"
            style="font-size: 25px; vertical-align: bottom; color: #949494"
          ></i>
          <div class="d-inline-block ml-3" ngbDropdown>
            <button
              type="button"
              ngbDropdownToggle
              class="btn btn-outline-link"
              style="
                font-size: 17px;
                padding: 0px;
                font-weight: bolder;
                vertical-align: bottom;
                color: #949494;
              "
            >
              Export
            </button>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Excel</button>
              <button class="dropdown-item">Doc</button>
              <button class="dropdown-item">Pdf</button>
            </div>
          </div>
        </div>
      </div>
      <span
        ><small>1 to 15 Aug 2020</small>
        <i class="fa fa-filter" style="font-size: 18px; margin: 8px"></i
      ></span>
    </div>

    <div class="col-md-12 p-4">
      <p class="text-uppercase">
        <b >Description:</b> {{ schedules.description }}
      </p>
    </div>
    
     <div class="col-md-12 " *ngIf="schedules.schedules.length === 0" style="text-align: center;
    display: inherit;">
              <b class="text-danger">NO Schedules Found</b>
            </div>

    <div class="col-md-12 p-3">
      <!-- <b
        >From: <b class="text-danger mr-3 ml-2">18-12-2018 01:12:14</b> To:
        <b class="text-success ml-2">21-12-2018 01:14:08</b></b
      > -->
      <div class="row" *ngIf="schedules.executiveResponses.length !== 0" >
        <div class="col-md-6 p-3" >
          Current Executive:
          <mat-form-field>
            <mat-select
              placeholder="Select Executive"
              (selectionChange)="selectExecutive($event.value)"
            >
            <mat-option [value]='0'>None</mat-option>
              <mat-option
                *ngFor="let exe of schedules.executiveResponses"
                [value]="exe.exeId"
              >
                {{ exe.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <p class="p-2">
            0987654321 , abcd@gmail.com, <br />
            Vehical No :AP 98 XZ 8547 <br />
            Bridge Hyderabad,500064
          </p> -->
        </div>
        <div class="col-md-6 text-right">
          <p>
            Created By :
            <b>Admin: <small style="color: #0eb6f5">23 Nov 2020</small></b
            ><br />
          </p>
          <!-- <p>
            Past Executive:
            <b>Abhinay</b>
          </p> -->
        </div>
      </div>
    </div>

    <!-- timelineVIew -->
   

    <app-schedules [schedules]='schedules.schedules' [isTrip]="true" [TripId]="req.id" [exeID]="tripByExeId"></app-schedules>

    <!-- card ending div's -->
  </div>
</div>

<!-- @@@ 2 timeline view for generated trip @@@-->

<!-- timeline with tab history & timeline -->
<div class="card main-card mb-3 mt-3">
  <div class="card-body">
    <mat-tab-group>
      <mat-tab label="History ">
        <!-- filter -->
        <div class="card-header" style="position: relative">
          <small>Resuslt Searched</small> 145
          <span
            class="float-right"
            style="
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            "
          >
            <span>
              <!-- <small>1 to 15 Aug 2020</small>  -->
              <i class="fa fa-filter" style="font-size: 18px; margin: 8px"></i
            ></span>

            <i
              class="lnr-download"
              style="color: #000; font-size: 18px; margin-right: 8px"
            ></i>
            <b style="color: red">PDF / CSV</b>
          </span>
        </div>
        <!-- filter -->
        <div class="container-fluid">
          <div class="row" style="padding-top: 30px">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="scroll-area-lg">
                  <perfect-scrollbar [autoPropagation]="true">
                    <div class="p-4">
                      <div>
                        <p
                          style="
                            font-size: 25px;
                            color: #16aaff;
                            font-weight: bold;
                          "
                        >
                          Time Line Review
                        </p>
                      </div>
                      <div
                        class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column"
                      >
                        <div class="dot-danger vertical-timeline-element">
                          <div>
                            <span
                              class="vertical-timeline-element-icon bounce-in"
                            ></span>
                            <div
                              class="vertical-timeline-element-content bounce-in"
                            >
                              <h4 class="timeline-title">
                                Product Added by<span style="color: #81c995"
                                  >Srikanth</span
                                >
                                on
                              </h4>
                              <h5 class="timeline-title">
                                (21 Aug, 2020 9.30pm)
                              </h5>
                            </div>
                          </div>
                        </div>
                        <div class="dot-warning vertical-timeline-element">
                          <div>
                            <span
                              class="vertical-timeline-element-icon bounce-in"
                            ></span>
                            <div
                              class="vertical-timeline-element-content bounce-in"
                            >
                              <h4 class="timeline-title">
                                Product Added by
                                <span style="color: #81c995">Srikanth</span>
                                on
                              </h4>
                              <h5 class="timeline-title">
                                (21 Aug, 2020 9.30pm)
                              </h5>
                            </div>
                          </div>
                        </div>
                        <div class="dot-success vertical-timeline-element">
                          <div>
                            <span
                              class="vertical-timeline-element-icon bounce-in"
                            ></span>
                            <div
                              class="vertical-timeline-element-content bounce-in"
                            >
                              <h4 class="timeline-title">
                                Product Added by
                                <span style="color: #81c995">Abhinay</span> on
                              </h4>
                              <h5 class="timeline-title">
                                (21 Aug, 2020 9.30pm)
                              </h5>
                            </div>
                          </div>
                        </div>
                        <div class="dot-info vertical-timeline-element">
                          <div>
                            <span
                              class="vertical-timeline-element-icon bounce-in"
                            ></span>
                            <div
                              class="vertical-timeline-element-content bounce-in"
                            >
                              <h4 class="timeline-title">
                                Product Added by
                                <span style="color: #81c995">Srikanth</span>
                                on
                              </h4>
                              <h5 class="timeline-title">
                                (21 Aug, 2020 9.30pm)
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </perfect-scrollbar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Timeline">Timeline</mat-tab>
    </mat-tab-group>
  </div>
</div>
