<div class="card main-card p-4">
    <div class="row">
        <div class="col-md-4">
            <p class="text-left">
                Neemiit Pvt Ltd <br>
                4-3-152/, S-no:5 Near Attapur <br>
                Bridge Hyderabad,500064 <br>
                <b>Phone : 0987654321 </b> <br>
                order Taken By: Abhinay
            </p>
        </div>
        
        <div class="col-md-8 ">
           <div class="row table-bordered p-2">
               <div class="col-md-3" style="border-right: 1px solid #e9ecef;"><small style="font-size: 10px;">Opening Balance</small><br>
                <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 1,50,2435</b>
                </div>
                <div class="col-md-3" style="border-right: 1px solid #e9ecef;"><small style="font-size: 10px;">Due Balance</small><br>
                    <b style="color: #940909;font-size: 20px;"><i class="fa fa-inr"></i> 2,90,1485</b>
                </div>
           
               <div class="col-md-3" style="border-right: 1px solid #e9ecef;"><small style="font-size: 10px;">Credit Limit</small><br>
                <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 1,50,2435</b>
            </div>
               <div class="col-md-3" ><small style="font-size: 10px;">Last Paid Amount</small><br>
                <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 2,90,1485</b>
            </div>
        </div>
    
        <div class="row" style="display: inline;">
            <p class="text-right">
                Vat id: &nbsp; xfted12 <br>
                GST id: &nbsp; Tsajkdg364587 <br>
            </p>
        </div>
    </div>
    </div>
    
    <!-- border -->
    <!-- <div class="border border-secondary p-2"> -->
    
    <!-- secound Div  -->
    <div class="row mb-2">
        <div class="col-md-4">
            <label style="color: #42ac75;">Billing Address </label>
            <p class="text-left">
               <b>Neemiit</b><br>
                  Near Attapur <br>
                  Bridge Hyderabad,500064 <br>
                abhi@xyz.com, 0987654321 <br>
            </p>
        </div>
        <div class="col-md-4">
            <label style="color: #42ac75;">Shipping Address </label>
    
            <p class="text-left">
               <b>Neemiit</b><br>
                  Near Attapur <br>
                  Bridge Hyderabad,500064 <br>
                abhi@xyz.com, 0987654321 <br>
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-right">
                Status : &nbsp;&nbsp; <b>Tax Invoice</b><br>
                invoice Date : 18.11.2020 
                <br>
                <br>
                <br>
               
                Invoice Id : 2020.11.18-0002  
    
            </p>
        </div>
    </div>
                    
      <!-- Table View        -->
      <table class="table table-striped ">
        <thead>
            <tr >
                <th scope="col">S.No</th>
                <th  scope="col">Product Name</th>
                <th scope="col">HSN Code</th>
                <th scope="col">Category</th>  
                <th scope="col">Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Net Amt</th>
                <th scope="col">Tax %</th>
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of invoicedata">
                <td style="vertical-align: middle;">
                    {{c.id}}
                    
                </td>
                <td style="vertical-align: middle;">{{c.productName}} <br>
                    <small *ngIf="c.sku" >SKU: #{{c.sku}}</small>
                </td>
                <td style="vertical-align: middle;">{{c.hsn}}</td>
                <td style="vertical-align: middle;">{{c.category}}</td>
                <td style="vertical-align: middle;" *ngIf="c.type">
                    {{c.type}} </td>
                    <td *ngIf="c.color">
                    <small *ngIf="c.color" >Color: {{c.color}}</small><br>
                    <small *ngIf="c.size" >Size: {{c.size}}</small>
                </td>
                <td style="vertical-align: middle;">{{c.quantity}}</td>
                <td style="vertical-align: middle;">{{c.perRate}}</td>
                <td style="vertical-align: middle;">{{c.netAmount}}</td>
                <td style="vertical-align: middle;">{{c.tax}}</td>
                <td style="vertical-align: middle;"><i class="fa fa-trash"></i></td>
            </tr>
        </tbody>
    </table>
    <!-- sub-total div -->
    <div class=" p-3 mb-2" >
        <div class="row">
            <div class="col-md-8">
                <div class="row p-3">
                    <div class="col-md-12">
                        <b >Message</b>
                        <p>Dummy Message asfsadfgsadg </p>
                    </div>
                </div>
                    <div class="row p-3">
                    <div class="col-md-12">
                        <b >Statement</b>
                        <p>Dummy Statement</p>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <a class="text-primary float-left ">
                            <span style="display: inline-block;vertical-align: middle;margin-right: 10px;" class="material-icons">add_circle</span>
                            Add Bank Account</a>
                    </div>
            </div>
            </div>
            <div class="col-md-2 text-right">
                    <div class="p-1"><b>Sub-total</b></div>
                    <div class="p-1">Total Discount</div>
                    <div class="p-1">CGST</div>
                    <div class="p-1">SGST</div>
                    <div class="p-1">IGST</div>
                    <div class="p-1">Gift Card</div>
                    <div class="p-1">Cridit Note</div>
                    <div class="p-1 ">Scheme ( Dashara Dhamaka 10% Applied)</div>
                    <div class="p-1"><b>Total Amount</b></div>
            </div>
            <div class="col-md-2 text-right">
                    <div class="p-1" style="font-size: 20px;"><b><i class="fa fa-inr"></i> 90,000.10</b></div>
                    <div class="p-1" style="font-size: 15px;"> <b><i style="font-size: 20px;" class="fa fa-inr"></i></b> 4,500.00(5%)</div>
                    <div class="p-1">8,100.00(9%)</div>
                    <div class="p-1">8,100.00(9%)</div>
                    <div class="p-1">--------</div>
                    <div class="p-1">5,000.00</div>
                    <div class="p-1">5,000.00</div>
                    <div class="p-1">3,000.00</div>
                    <br><br>
                    <div class="p-1"><b><i class="fa fa-inr"></i> 93,260.00 </b></div>
                </div >
                <div style="width: 100%;text-align: right;" class="p-1"><p>(Ninety-Three Thousand, Two Hundred Sixty)</p></div>
            
    
        </div>
    
    <!-- last Div -->
    <hr>
    <div class="mb-2">
    <div class="row">
    <div class="col-md-12">
        <a class="text-muted float-left ">
            <span style="display: inline-block;vertical-align: middle;margin-right: 10px;" class="material-icons text-primary">add_circle</span>
            Add Bank Account</a>
    </div>
    </div>

    <!-- comments -->
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-muted text-right">Just Now</div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-content p-0">
                          <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-3">
                              <div class="widget-content-left">
                                <img width="40" class="rounded-circle" src="./assets/images/avatars/4.jpg" alt="">
                              </div>
                            </div>
                            <div class="widget-content-left flex2">
                              <div class="widget-heading">Abhinay Jain</div>
                              <div class="widget-subheading opacity-7 text-muted">Client has asked 20% discount</div>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-9 text-muted text-right"></div>
                            <div class=" col-md-1"><small>1d</small></div>
                            <div class=" col-md-1"><small>Like</small></div>
                            <div class=" col-md-1"><small>Reply</small></div>    
                </div>
</div>
<!-- admin reply -->
<div class="ml-4">
<div class="row ">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-muted text-right">Just Now</div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="widget-content-left">
                        <img width="40" class="rounded-circle" src="./assets/images/avatars/4.jpg" alt="">
                      </div>
                    </div>
                    <div class="widget-content-left flex2">
                      <div class="widget-heading">Admin</div>
                      <div class="widget-subheading opacity-7 text-muted">Yes,Give him.</div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-9 text-muted text-right"></div>
            <div class=" col-md-1"><small>1d</small></div>
            <div class=" col-md-1"><small>Like</small></div>
            <div class=" col-md-1"><small>Reply</small></div>  
        </div>
</div>


</div>
    
    
<!-- Fotter Div -->
<div class=" p-3" style="background-color: #c8c8c8;">
    <div class="row">
        <div class="col-md-8">
            <button type="button" class="mr-2 btn btn-outline-dark "><b>Cance</b>   </button>
            <button type="button" class="mr-2 btn btn-outline-danger"><b>Reject</b></button>
            <button type="button" class="mr-2 btn btn-outline-primary"><b>Draft </b>  </button>
            <button type="button" class="mr-2 btn btn-outline-info"><b>On Holdb </b>   </button>
           
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="mr-2 btn btn-primary">Edit</button>
            <button type="button" class="mr-2 btn btn-primary">Dispatch</button>
        </div>
    </div>
</div>  
    
    </div>
    <!-- </div> -->
