<!-- page title -->
<div>
    <div class="main-card mb-2 m-1 p-3 card">
        <div class="app-page-title m-0 p-0">
            <div class="page-title-wrapper">
                <div class="page-title-heading col-md-6">
                    <div class="page-title-icon">
                        <i class="icon pe-7s-comment icon-gradient btn-primary"></i>
                    </div>
                    <div>
                        Add Device Complaint
                        <div class="page-title-subheading">
                            Welcome to device complaints section
                        </div>
                    </div>
                </div>
                <div class="page-title-actions float-right">

                    <a type="button"
                        class=" ml-3 rounded-pill btn-shadow d-inline-flex align-items-center btn btn-primary"
                        style="color: #fff;" href="/device/complaints">
                        
                        Back to Complaints
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title -->

<!-- card view Deviclist of devices -->


<div class="card main-card mb-3">
        <div class="card-header" style="position: relative">



        
        </div>


        <div class="card-body" style="padding-top: 25px;">
            <form #complaintForm="ngForm" (ngSubmit)="add(complaintForm)">
                <!-- Device Number -->
                <div class="form-row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width full-width">
                            <mat-label>Select A Device</mat-label>
                            <mat-select name="device" id="device" [(ngModel)]="comm.devDetId" required>
                                <mat-option *ngFor="let d of devices" [value]='d.devDetId'>{{d.imei?d.imei:'---'}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput [(ngModel)]="comm.emailId" #email="ngModel" name="emailId" id="emailId"
                                placeholder="Enter Email" required>
                            <mat-error *ngIf="email.touched && !email.valid">
                                Email Required </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="full-width">
                            <input matInput [(ngModel)]="comm.subject" #subjectt="ngModel" name="subject" id="subject"
                                placeholder="Enter Subject" required>
                            <mat-error *ngIf="subjectt.touched && !subjectt.valid">
                                Subject Required </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <angular-editor [(ngModel)]="comm.description" name="description" [config]="config" required></angular-editor>
                    </div>
                    <div class="float-right">
                        <a class="text-primary">Cancel</a>
                        <button mat-raised-button class="btn btn-primary ml-2" [disabled]="!complaintForm.valid" type="submit">Raise A Complaint</button>
                    </div>
                </div>

            </form>
        </div>

    </div>