<!-- <div class="app-inner-layout">
    <div class="app-inner-layout__header bg-heavy-rain">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon"><i class="pe-7s-power icon-gradient bg-mixed-hopes"></i></div>
            <div>
              Orders List
              <div class="page-title-subheading">
                All Orders Lists will show here.
              </div>
            </div>
          </div>
          <div class="page-title-actions">
           
            <button type="button" (click)="addToDispatch()" 
            class="btn-shadow d-inline-flex align-items-center btn btn-success">
              <fa name="plus" class="mr-2"></fa>
             Generate Dispatch List
            </button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
    <div style="max-width:1024px;padding:20px;margin: 50px auto;">
  
 
    
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
  
        <ng-container matColumnDef="order.orderid">
          <th mat-header-cell *matHeaderCellDef> Order List ID </th>
          <td mat-cell *matCellDef="let element">  <div class="card-body">
            <mat-checkbox (change)="toggleSelect($event,element.order.orderid)">
            {{element.order.orderid}}
            </mat-checkbox>
          </div> </td>
        </ng-container>
    
        <ng-container matColumnDef="order.status">
          <th mat-header-cell *matHeaderCellDef>Order Status </th>
          <td mat-cell *matCellDef="let element"> {{element.order.status}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="order.orderto.clientname">
          <th mat-header-cell *matHeaderCellDef> Client Name </th>
          <td mat-cell *matCellDef="let element"> {{element.order.orderto.clientname}} </td>
        </ng-container>
    
        <ng-container matColumnDef="order.orderto.phone">
          <th mat-header-cell *matHeaderCellDef>Phone No </th>
          <td mat-cell *matCellDef="let element"> {{element.order.orderto.phone}} </td>
        </ng-container> 
  
        <ng-container matColumnDef="order.orderto.email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.order.orderto.email}} </td>
        </ng-container> 
        <ng-container matColumnDef="order.orderCollected.userid">
          <th mat-header-cell *matHeaderCellDef> Collecter User ID </th>
          <td mat-cell *matCellDef="let element"> {{element.order.orderCollected.userid}} </td>
        </ng-container> 
  
        <ng-container matColumnDef="order.orderCollected.username">
          <th mat-header-cell *matHeaderCellDef> Collector Username </th>
          <td mat-cell *matCellDef="let element"> {{element.order.orderCollected.username}} </td>
        </ng-container> 
        
        <ng-container matColumnDef="order.orderCollected.phone">
          <th mat-header-cell *matHeaderCellDef> Collector phone No </th>
          <td mat-cell *matCellDef="let element"> {{element.order.orderCollected.phone}} </td>
        </ng-container> 
  
        <ng-container matColumnDef="order.orderCollected.email">
          <th mat-header-cell *matHeaderCellDef> Collector Email </th>
          <td mat-cell *matCellDef="let element"> {{element.order.orderCollected.email}} </td>
        </ng-container> 
     -->