<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="border: none; font-size: 20px; color: #16aaff;">Create Pricing Strategy
                <div class="btn-actions-pane-right" style="font-size: 15px;">
                    <div class="col-md-8 ">
                        <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle
                                class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Action Apply
                            </button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item text-center">Delete Product
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">Add Product
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">Create Product
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="card-body" style="padding-top: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <mat-label>Company Group Name
                        </mat-label><br>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Enter Company Group Strategy" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-label>Description</mat-label> <br>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Enter Description about strategy" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="" placeholder="Start Date & Time">
                            <mat-datepicker-toggle matSuffix [for]=" "></mat-datepicker-toggle>
                            <mat-datepicker #from>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="" placeholder="End Date & Time">
                            <mat-datepicker-toggle matSuffix [for]=" "></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="padding-top: 25px;">
                            <div class="pane-right">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <fa name="search"></fa>
                                        </div>
                                    </div>
                                    <input placeholder="SEARCH Product and Select" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-md-4">
                        <mat-label>Valid for &nbsp; &nbsp;</mat-label>
                        <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle
                                class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Select Option</button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item text-center">Forevert
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item"> option 1
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">option 2

                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">option 3
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-label>Type &nbsp; &nbsp;</mat-label>
                        <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle
                                class="mb-2 mr-2 btn-pill btn btn-outline-secondary">5 Star</button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item text-center">4 Star
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item"> 3 Star
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">2 Star

                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">1 Star
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-label>Apply For Selected Product &nbsp; &nbsp;</mat-label>
                        <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle
                                class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; &nbsp; &nbsp;
                                &nbsp;</button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item text-center">4 Star
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item"> 3 Star
                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">2 Star

                                </button>
                                <mat-divider></mat-divider>
                                <button class="dropdown-item">1 Star
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="responsive-table" style="padding-top: 20px;">
                    <table class="align-middle mb-0 table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>
                                    <mat-checkbox></mat-checkbox>
                                </th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">HSN</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">MRP</th>
                                <th class="text-center">Actually Price</th>
                                <th class="text-center">Differ Amount </th>
                                <th class="text-center">Final Price </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>1</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>2</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>3</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>4</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>5</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>

                  
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-right">
                          <button class="btn-wide btn btn-link btn-sm">Cancel</button>
                          <button class="btn-wide btn btn-primary btn-sm">Preview</button>
                        </div>
                      </div></div>
            </div>
        </div>
    </div>
</div>