::ng-deep html
    overflow-x: hidden
.nav-item
    a
        border-left: 4px solid #fff
        color: #000
        
        &.active
            border-left: 4px solid #3f6ad8
            color: #000
            font-weight: bold
            background-color: #3f6ad80f

.mat-tab-body-content ng-trigger ng-trigger-translateTab
    overflow: hidden

.i-circle
    background:  #fff
    color: black
    padding: 5px 20px
    border-radius: 50%
    bordercolor: black
    font-size: 35px
    
.checked
    color:orange

#map 
	height: calc(100vh - 200px)
	width: 100%
	position: relative

::ng-deep .app-main__inner
	padding: 0px !important

::ng-deep .app-footer
	display: none

.neemiitlogo
	display: inline-block
	position: absolute
	width: 100px
	height: 40px
	bottom: 10px
	right: 15px
	z-index: 99999
.spanDate
    display: inline-block
    position: absolute
    width: 100px
    height: 40px
    top: 10px
    right: 10px
    z-index: 99999
    outline: none
    border: none
    width: 150px
    background-color: #fff
    color: #263238
    padding: 5px 10px
    text-align: center
    border-radius: 20px
    margin: 10px
    box-shadow: 0px 5px 20px #9c9c9c;
::ng-deep .mat-tab-body-content
    overflow: hidden !important