#map 
	height: calc(100vh - 60px)
	width: 100%
	position: relative

::ng-deep .app-main__inner
	padding: 0px !important

::ng-deep .app-footer
	display: none

.neemiitlogo
	display: inline-block
	position: absolute
	width: 100px
	height: 40px
	bottom: 10px
	right: 0px
	z-index: 99999

.pillbtn
	background-color: #22b7ee
	width: fit-content
	padding: 0px 5px
	color: #fff
.sup
	background-color: red
	color: #fff
	padding: 2px
	border-radius: 10px

.selectsecx
	width: 50%
	background-color: #e3e4e6
	border-radius: 10px;	

.fa-search
	color: #00AEEF

