<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"
  [btnIcon]="btnIcon"></app-page-title>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="main-card card">
      <div class="card-header text-capitalize" style="color:#00aeef;font-size: 16px;">{{mainheading}} Category</div>
      <div class="main-card p-3 card">
        <div class="card-body">
          <form #catForm="ngForm" (ngSubmit)="add(catForm)">
            <div class="form-row">
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <mat-form-field class="full-width">
                    <input matInput name="catname" id="catname" ngModel #catname="ngModel" [(ngModel)]="cat.name"
                      placeholder="Category Name " required>
                    <mat-error *ngIf="catname.touched && !catname.valid">
                      Category Name Required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-6">
                <div class="position-relative form-group">
                  <mat-form-field class="full-width">
                    <input matInput name="catdesc" id="catdesc" ngModel #catdesc="ngModel" [(ngModel)]="cat.description"
                      placeholder="Category Description " required>
                    <mat-error *ngIf="catdesc.touched && !catdesc.valid">
                      Category Description Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <mat-slide-toggle [(ngModel)]="cat.isActive" name="status">Client Active: {{cat.isActive?'Yes':'No'}}
            </mat-slide-toggle>

            <div class="float-right">
              <button type="reset" class="mt-2 btn btn-link">Cancel</button>
              <button [disabled]="!catForm.valid" type="submit" class="mt-2 btn btn-primary btn-lg">submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>