<div class="page-loader" *ngIf="showOverlay">
    <section id="global">
        <div id="top" class="mask">
            <div class="plane"></div>
        </div>
        <div id="middle" class="mask">
            <div class="plane"></div>
        </div>
        <div id="bottom" class="mask">
            <div class="plane"></div>
        </div>
        <p><i>LOADING...</i></p>

    </section>
</div>
<app-loader></app-loader>
<router-outlet></router-outlet>
