<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>
<div class="row">
  <div class="main-card col-md-12 p-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-md-12 p-3">
              <h5 style="color: #00aeef">Product Type</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- contant -->
        <div class="row mb-2">
          <div class="col-md-8">
            <mat-radio-group aria-label="Select an option">
              <div class="col-md-12 p-3">
                <mat-radio-button value="1"
                  >Simple product, no variants</mat-radio-button
                >
              </div>
              <div class="col-md-12 p-3">
                <mat-radio-button value="2"
                  >Product with variants</mat-radio-button
                >
              </div>
              <div class="col-md-12 p-3">
                <mat-radio-button value="3"
                  >Composite product
                </mat-radio-button>
              </div>
              <div class="col-md-12 p-3">
                <mat-radio-button value="4">Refurbished</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
          <div class="col-md-4">
            <img
              width="200px"
              src="../../../../../assets/images/add.png"
              alt="Add Image"
            />
            <div class="row col">
              <img
                style="margin-right: 10px"
                width="50px"
                src="../../../../../assets/images/add.png"
                alt="Add Image"
              />
              <img
                width="50px"
                src="../../../../../assets/images/add.png"
                alt="Add Image"
              />
            </div>
          </div>
        </div>
        <!-- second card Product Information -->
        <div class="main-card mb-1 p-4 card">
          <div class="card-body">
            <h3 style="color: #00aeef">Client Details</h3>
            <form #clientForm="ngForm" (ngSubmit)="add(clientForm)">
              <div class="form-row">
                <div class="col-md-6">
                  <div
                    class="position-relative form-group"
                    class="form-group has-warning"
                  >
                    <mat-form-field class="full-width">
                      <mat-label>Product Name</mat-label>
                      <input
                        matInput
                        required
                        ngModel
                        #productName="ngModel"
                        name="productName"
                        id="productName"
                        placeholder="Enter Product Name"
                        type="text"
                        [(ngModel)]="product.productName"
                        class="form-control-warning"
                      />
                      <mat-error
                        *ngIf="productName.touched && !productName.valid"
                      >
                        Product Name required</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="position-relative form-group"
                    class="form-group has-warning"
                  >
                    <mat-form-field class="full-width">
                      <mat-label>Product Category</mat-label>
                      <mat-select required>
                        <mat-option
                          *ngFor="let food of foods"
                          [value]="food.id"
                        >
                          {{ food.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="position-relative form-group"
                    class="form-group has-warning"
                  >
                    <mat-form-field class="full-width">
                      <mat-label>Product Types</mat-label>
                      <mat-select required>
                        <mat-option
                          *ngFor="let food of foods"
                          [value]="food.id"
                        >
                          {{ food.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="position-relative form-group"
                    class="form-group has-warning"
                  >
                    <mat-form-field class="full-width">
                      <mat-label>Product Brand</mat-label>
                      <input
                        matInput
                        required
                        ngModel
                        #productBrand="ngModel"
                        name="productBrand"
                        id="productBrand"
                        placeholder="Enter Product Brand"
                        type="text"
                        [(ngModel)]="product.productBrand"
                        class="form-control-warning"
                      />
                      <mat-error
                        *ngIf="productBrand.touched && !productBrand.valid"
                      >
                        Product Brand required</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-row" style="width: 100%">
                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>HSN Code</mat-label>
                        <input
                          matInput
                          required
                          ngModel
                          #hsnCode="ngModel"
                          name="hsnCode"
                          id="hsnCode"
                          placeholder="Enter HSN Code"
                          type="text"
                          [(ngModel)]="product.hsnCode"
                          class="form-control-warning"
                        />
                        <mat-error *ngIf="hsnCode.touched && !hsnCode.valid">
                          HSN Code required</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>SKU Code</mat-label>
                        <input
                          matInput
                          required
                          ngModel
                          #skuCode="ngModel"
                          name="skuCode"
                          id="skuCode"
                          placeholder="Enter SKU Code"
                          type="text"
                          [(ngModel)]="product.skuCode"
                          class="form-control-warning"
                        />
                        <mat-error *ngIf="skuCode.touched && !skuCode.valid">
                          SKU Code required</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>Product Stock</mat-label>
                        <input
                          matInput
                          required
                          ngModel
                          #productStock="ngModel"
                          name="productStock"
                          id="productStock"
                          placeholder="Enter Product Stock"
                          type="text"
                          [(ngModel)]="product.productStock"
                          class="form-control-warning"
                        />
                        <mat-error
                          *ngIf="productStock.touched && !productStock.valid"
                        >
                          Product Stock required</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>Product Low Stock</mat-label>
                        <input
                          matInput
                          required
                          ngModel
                          #productLowStock="ngModel"
                          name="productLowStock"
                          id="productLowStock"
                          placeholder="Enter Product Low Stock"
                          type="text"
                          [(ngModel)]="product.productLowStock"
                          class="form-control-warning"
                        />
                        <mat-error
                          *ngIf="
                            productLowStock.touched && !productLowStock.valid
                          "
                        >
                          Product Low Stock required</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-row" style="width: 100%">
                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>Status</mat-label>
                        <mat-select required>
                          <mat-option
                            *ngFor="let food of foods"
                            [value]="food.id"
                          >
                            {{ food.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>Bar Code</mat-label>
                        <input
                          matInput
                          required
                          ngModel
                          #barCode="ngModel"
                          name="barCode"
                          id="barCode"
                          placeholder="Enter BarCode"
                          type="text"
                          [(ngModel)]="product.barCode"
                          class="form-control-warning"
                        />
                        <mat-error *ngIf="barCode.touched && !barCode.valid">
                          BarCode required</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>Product Status</mat-label>
                        <mat-select required>
                          <mat-option
                            *ngFor="let food of foods"
                            [value]="food.id"
                          >
                            {{ food.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div
                      class="position-relative form-group"
                      class="form-group has-warning"
                    >
                      <mat-form-field class="full-width">
                        <mat-label>Expire Date</mat-label>
                        <input matInput [matDatepicker]="picker" />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="card main-card mb-3">
                  <div class="card-body">
                    <label><b>Description</b></label>
                    <angular-editor
                      #description="ngModel"
                      name="description"
                      id="description"
                      ngModel
                      [(ngModel)]="product.description"
                      [config]="config"
                    ></angular-editor>
                    <div class="divider"></div>
                  </div>
                </div>

                <div class="row col-md-12">
                  <a class="text-primary float-left">
                    <span
                      style="
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                      "
                      class="material-icons"
                      >add_circle</span
                    >
                    Add New Fields</a
                  >
                </div>

                <!-- Pricing -->

                <div class="col-md-12 main-card p-3 mb-3 card">
                  <div class="row p-3">
                    <div style="color: #007bff" class="mb-4 col-md-11">
                      <h6><b>Pricing</b></h6>
                    </div>
                    <!-- <div class="col-md-1">
                                                <button class="btn btn-primary rounded-pill mr-4"> Refresh</button>
                                              </div> -->
                  </div>
                  <!-- Table contant-->

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Mark-Up%</th>
                        <th scope="col">Retail(Ex. Tax)</th>
                        <th scope="col">Tax Rate</th>
                        <th scope="col">Retail Price (inc. Tax)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                placeholder="1,900.00"
                                name="costPrice"
                                [(ngModel)]="product.costPrice"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="markUp"
                                placeholder="10.00"
                                [(ngModel)]="product.markUp"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="retail"
                                placeholder="2,090.00"
                                [(ngModel)]="myModel"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <ng-select
                                [items]="gst"
                                name="tax"
                                bindLabel="name"
                                placeholder="Select city"
                                [(ngModel)]="selectedCity"
                              >
                              </ng-select>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="retailprice"
                                placeholder="2,194.50"
                                [(ngModel)]="product.retailprice"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control text-right"
                              />
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- variants -->

                <div class="col-md-12 main-card p-3 mb-3 card">
                  <div class="row p-3">
                    <div style="color: #007bff" class="mb-4 col-md-8">
                      <h6><b>Variants</b></h6>
                      <p>Copy All</p>
                    </div>
                    <div class="col-md-4">
                      <a class="text-primary float-right">
                        <span
                          style="
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                          "
                          class="material-icons"
                          >add_circle</span
                        >
                        Add New Fields</a
                      >
                    </div>
                  </div>
                  <!-- Table contant-->

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">SKU</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Retail(Ex. Tax)</th>
                        <th scope="col">Tax</th>
                        <th scope="col">Retail Price (inc. Tax)</th>
                      </tr>
                      <td colspan="5" style="color: #6388a6">
                        /Red/Small/Multi Beaten Ring
                      </td>
                      <td style="color: #6388a6">Copy to all</td>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                placeholder="SKU"
                                name="costPrice"
                                [(ngModel)]="product.costPrice"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="markUp"
                                placeholder="Barcode"
                                [(ngModel)]="product.markUp"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="markUp"
                                placeholder="0.00"
                                [(ngModel)]="product.markUp"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control text-right"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="retail"
                                placeholder="2,090.00"
                                [(ngModel)]="myModel"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control text-right"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <ng-select
                                [items]="gst"
                                name="tax"
                                bindLabel="name"
                                placeholder="Select city"
                                [(ngModel)]="selectedCity"
                              >
                              </ng-select>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="retailprice"
                                placeholder="2,194.50"
                                [(ngModel)]="product.retailprice"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control text-right"
                              />
                            </div>
                          </div>
                        </td>
                      </tr>

                      <!-- secound row -->
                      <td colspan="5" style="color: #6388a6">
                        /Red/Small/Multi Beaten Ring
                      </td>
                      <td style="color: #6388a6">Copy to all</td>
                      <tr>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                placeholder="SKU"
                                name="costPrice"
                                [(ngModel)]="product.costPrice"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="markUp"
                                placeholder="Barcode"
                                [(ngModel)]="product.markUp"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="markUp"
                                placeholder="0.00"
                                [(ngModel)]="product.markUp"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control text-right"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="retail"
                                placeholder="2,090.00"
                                [(ngModel)]="myModel"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control text-right"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <ng-select
                                [items]="gst"
                                name="tax"
                                bindLabel="name"
                                placeholder="Select city"
                                [(ngModel)]="selectedCity"
                              >
                              </ng-select>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                id="1"
                                name="retailprice"
                                placeholder="2,194.50"
                                [(ngModel)]="product.retailprice"
                                [textMask]="{ mask: mask }"
                                type="text"
                                class="form-control text-right"
                              />
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Component Products -->

                <div class="col-md-12 main-card p-3 card">
                  <div class="row p-3">
                    <div style="color: #007bff" class="mb-4 col-md-11">
                      <h6><b>Component Products</b></h6>
                    </div>
                    <!-- <div class="col-md-1">
                                              <button class="btn btn-primary rounded-pill mr-4"> Refresh</button>
                                            </div> -->
                  </div>
                  <div class="form-group">
                    <div class="col-md-12 mb-2">
                      <label
                        >Select from exeisting products to be used as
                        Component</label
                      >
                      <ng-select
                        [items]="gst"
                        name="tax"
                        bindLabel="name"
                        placeholder="Select city"
                        [(ngModel)]="selectedCity"
                      >
                      </ng-select>
                    </div>
                    <div class="col-md-12">
                      <ng-select
                        [items]="gst"
                        name="tax"
                        bindLabel="name"
                        placeholder="Select city"
                        [(ngModel)]="selectedCity"
                      >
                      </ng-select>
                      <ng-select
                        [items]="gst"
                        name="tax"
                        bindLabel="name"
                        placeholder="Select city"
                        [(ngModel)]="selectedCity"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-12 mb-2">Total : 1795.00</div>

                  <div class="row p-3">
                    <div class="col-md-4">
                      <label>Composite/bundle Selling Price(Ex. Tax)</label>
                      <div class="form-group">
                        <div class="input-group">
                          <input
                            id="1"
                            name="extaxprice"
                            placeholder="2,194.50"
                            [(ngModel)]="product.extaxprice"
                            [textMask]="{ mask: mask }"
                            type="text"
                            class="form-control text-right"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Tax</label>
                      <div class="form-group">
                        <div class="input-group full-width">
                          <ng-select
                            style="width: 100%"
                            [items]="gst"
                            name="tax"
                            bindLabel="name"
                            placeholder="Select city"
                            [(ngModel)]="selectedCity"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Composite/bundle Selling Price(Inc. Tax)</label>
                      <div class="form-group">
                        <div class="input-group">
                          <input
                            id="1"
                            name="inctaxprice"
                            placeholder="2,194.50"
                            [(ngModel)]="product.iinctaxprice"
                            [textMask]="{ mask: mask }"
                            type="text"
                            class="form-control text-right"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Product Features -->

  <div class="main-card col-md-12 p-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-md-12 p-3">
              <h5 style="color: #00aeef">Product Features</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Product Offers -->

  <div class="main-card col-md-12 p-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-md-12 p-3">
              <h5 style="color: #00aeef">Product Offers</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Care Instructions -->

  <div class="main-card col-md-12 p-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-md-12 p-3">
              <h5 style="color: #00aeef">Care Instructions</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Quality Promise -->

  <div class="main-card col-md-12 p-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-md-12 p-3">
              <h5 style="color: #00aeef">Quality Promise</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Delivery and Returns -->

  <div class="main-card col-md-12 p-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-md-12 p-3">
              <h5 style="color: #00aeef">Delivery and Returns</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- More Info -->

  <div class="main-card col-md-12 p-2">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-md-12 p-3">
              <h5 style="color: #00aeef">More Info</h5>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- submit buttons -->

  <div class="card main-card col-md-12">
    <div class="row">
      <div class="card-body">
        <button class="btn btn-primary ml-3 float-left">Preview</button>
        <button class="btn btn-primary ml-3 float-right">Add Product</button>
        <a class="text-primary float-right">Cancel</a>
      </div>
    </div>
  </div>
</div>
