.actiontd 
	width: 200px 

.search 
	padding: 5px 
	background-color: #71d0ef
	border-radius: 20px 
	color: #fff 

.sms 
	padding: 5px 
	background-color: #35c8e3 
	border-radius: 20px 
	color: #fff 

.large 
	padding: 5px 
	cursor: pointer 
	font-size: 30px

.bars 
	padding: 5px 
	cursor: pointer 
	font-size: 30px

.times
	padding: 5px 
	 
	font-size: 30px
	cursor: pointer

.fa-times
	cursor: pointer
	
.filter
	padding: 5px 
	color: #000 
	font-size: 30px
	margin-left: 10px

.selectsec 
	width: 100% 
	padding: 10px 
	 
	background-color: transparent 
	border: 1px solid #979797 
	color: #000 

.selectsecs
	padding: 5px 
	 
	background-color: transparent 
	border: 1px solid #000 
	color: #000 
	outline: none
	margin-left: 10px  

.selectsecx
	width: 100%
	padding: 5px 
	 
	background-color: transparent 
	border: 1px solid #000 
	color: #000 
	outline: none
	margin-left: 10px  



.searchdiv
	color: #000	     

.cardshape
	background-color: #e4e4e4
    clip-path: polygon(0% -350%, 100% 100%, 0% 100%)
	
.cardimg
	width: 100px
    padding: 10px
    margin: 25px
	border-radius: 100px

::ng-deep .trips-data-table tbody tr td
    padding-bottom: 30px

::ng-deep .trips-data-table tbody tr td .desc
    position: absolute
    padding: 10px 0
    display: block
    border-bottom: 1px solid #d4d4d4;
    width: calc(100% - 90px);
    background-color: #eaedef
    color: #0000007a
*:focus
	outline: none	
.card 
    margin-bottom: 23px