<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink">
</app-page-title>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-12">
          <div class="card main-card mb-3">
            <div class="card-body">
              <!-- <h4 class="card-title">Full Width Slider</h4> -->
              <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slides">
                  <div style="width: auto">
                    <i class="fa fa-times float-right"></i>
                  </div>
                  <!-- <div class="slider-item">{{ slide.img }}</div> -->
                  <div class="text-center p-4">
                    <b>
                      Chilli Store Contact details Updated by Executive Abhinay
                      Jain
                    </b>

                    <br />

                    <div class="p-4">
                      <button class="btn btn-danger rounded-pill mr-4">
                        Rejected
                      </button>
                      <button class="btn btn-success rounded-pill">
                        Accepted
                      </button>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<div class="main-card card">
  <div class="main-card searchdiv p-3 card">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
      <div class="row">
        <!-- <div class="col-md-12"> 
            <div class="col-md-1 " >
              <i class="fa fa-search search ml-2" aria-hidden="true"></i>
              <i class="fa fa-comment-o sms ml-2" aria-hidden="true"></i>
              <i class="fas fa-sms"></i>
            </div>-->

        <div class="col-md-2">
          <div class="position-relative   ">
            <select name="" id="" class="selectsec">
              <option value="">Select Category</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="position-relative   ">
            <select name="" id="" class="selectsec">
              <option value="">Approved</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>


        <div class="col-md-2">
          <div class="position-relative   ">
            <select name="" id="" class="selectsec">
              <option value="">ClientID/Name/Phone</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="position-relative   ">
            <select name="" id="" class="selectsec">
              <option value="">Export</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <i [class]="'fa fa-th-large large  ml-2 '+(viewType=='card'?'text-primary':'')" (click)="viewTypeChange()"
            aria-hidden="true"></i>


          <i [class]="'fa fa-bars bars ml-2 '+(viewType=='list'?'text-primary':'')" (click)="viewTypeChange()"
            aria-hidden="true"></i>
        </div>
        <!-- <div class="col-md-1"><i class="fa fa-times times float-right "></i></div> -->
      </div>
    </form>

  </div>
</div>

<!-- table view  -->

<div class="card main-card mb-3 mt-3 pl-4 pr-4" *ngIf="viewType == 'list'">
  <div class="card-header">
    <div role="group" class="btn-group-sm btn-group filters col-md-6">
      <p class="m-0">Resuslt Searched 145</p>
      <div class="ml-4">
        Filter
        <select name="" id="" class="selectsecs">
          <option value="">Active</option>
          <option value="">Inactive</option>
          <option value="">Done</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 text-right">
      1 to 15 Aug 2020<i class="fa fa-filter filter float-right"></i>
    </div>
  </div>

  <!-- sms Div -->

  <div class="shadow-lg m-3 mb-3 p-4 bg-white rounded row">
    <div class="col-md-3">
      <select name="" id="" class="selectsecx">
        <option value="">Select Client</option>
        <option value="">Inactive</option>
        <option value="">Done</option>
      </select>
    </div>
    <div class="col-md-6">
      <input type="text" placeholder="Enter Message" class="selectsecx" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary rounded-pill w-100">Send Message</button>
    </div>
    <div class="col-md-1">
      <i style="color: #00aeef" class="fa fa-times times float-right"></i>
    </div>
  </div>

  <!-- table data -->

  <table class="align-middle mb-0 table table-borderless trips-data-table table-striped">
    <thead>
      <tr>
        <th scope="col">Client Name</th>
        <th scope="col">Description</th>
        <th scope="col">Contacts</th>
        <th scope="col">Outstanding</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clients">
        <td>
          {{c.name}}
        </td>
        <td>
          {{c.description}}
        </td>
        <td>
          {{c.contactaddress}}
        </td>
        <td>
          {{c.outstanding}}
        </td>
        <td style="vertical-align: middle">
          <div class="position-relative form-group selectsecs" class="form-group has-warning">
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select name="status" id="status" [(value)]="c.isActive">
                <mat-option class="text-danger" [value]='false'>Inactive</mat-option>
                <mat-option class="text-success" [value]='true'> Active</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
        <!-- <td>
          {{c.isActive}}
        </td> -->
        <td style="vertical-align: middle">
          <a matTooltip="Edit {{c.name}}" class="text-primary mr-2" [href]="'client/' + c.id">
            <span class="material-icons "> edit </span></a>

          <a matTooltip="View {{c.name}}" class="text-primary mr-2" [href]="'client/view/' + c.id">
            <span class="material-icons "> remove_red_eye </span></a>
        </td>
      </tr>
      <!-- <tr *ngFor="let c of clients">
        
        <td >
          <b>{{ c.name }}</b>
        <p></p>

          <br />
          <span class="desc">
            <span class="col-md-4 float-left">Last Sale :Rs <b >20,000.00 <small>12-Aug-2020</small></b>  </span>
            <span class="col-md-4 " >Last Payment :Rs <b >20,000.00 <small>12-Aug-2020</small></b> </span>
            <span class="col-md-4 float-right">Last Visit : <b >28 Days ago <small>15-Aug-2020</small></b></span>
          </span>
        </td>

        <td style="width: 160px; font-size: 12px">
          {{ c.description }}
        </td>

        <td>
          <b>{{ c.ownerDetail.name }}</b> <br> <p>(<small>{{ c.ownerDetail.phoneNo }}</small>)</p>
        - <p style="width: 160px; font-size: 12px">
            {{ c.contactaddress }} <br />
          </p> <br>
           <span class="desc"
                    ><b>ABC : </b> XYZ</span> 
        </td>

        <td style="vertical-align: middle">
          <b class="text-success"
            ><i class="fa fa-inr"></i>&nbsp; {{ c.outstanding }}</b
          >

          <div ng-if="c.profit !== 'GAIN'"><b   class="text-danger"><i class="fa fa-inr " ></i>&nbsp; {{c.outstanding}}</b></div> 
        </td>

        <td style="vertical-align: middle">
          <div class="position-relative form-group selectsecs" class="form-group has-warning">
              <mat-form-field class="full-width">
                <mat-label>Status</mat-label>
                <mat-select name="status"  id="status" [(value)]="c.isActive">
                  <mat-option class="text-primary" [value]='null'>None</mat-option>
                  <mat-option class="text-danger" [value]='false'>Inactive</mat-option>
                  <mat-option class="text-success" [value]='true'> Active</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
        </td>

        <td style="vertical-align: middle">
          <a matTooltip="Edit {{c.name}}"
            class="text-primary mr-2"
            [href]="'client/' + c.id"
          >
            <span   class="material-icons "> edit </span></a
          >

          <a matTooltip="View {{c.name}}"
            class="text-primary mr-2"
            [href]="'client/view/' + c.id"
          >
            <span class="material-icons " > remove_red_eye </span></a
          >
          
          <span  matTooltip="Delete {{e.name}}" class="material-icons text-danger cursor-pointer" (click)="deleteCat(e.exeId)"> delete_forever </span>
        </td>
      </tr> -->
      <tr *ngIf="!clients.length" class="no-records">
        <td colspan="6">No records</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="100" [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<!-- table view  -->

<div class="card main-card mb-3 mt-3 pl-4 pr-4" *ngIf="viewType == 'card'">
  <div class="card-header">
    <div role="group" class="btn-group-sm btn-group filters col-md-6">
      <p class="m-0">Resuslt Searched 145</p>
      <div class="ml-4">
        Filter
        <select name="" id="" class="selectsecs">
          <option value="">Active</option>
          <option value="">Inactive</option>
          <option value="">Done</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 text-right">
      1 to 15 Aug 2020<i class="fa fa-filter filter float-right"></i>
    </div>
  </div>

  <!-- Card View -->
  <div class="row p-2">
    <div class="col-md-6" *ngFor="let c of clients">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6 cardshape" style="
              background-color: #e4e4e4;
              clip-path: polygon(0% -350%, 100% 100%, 0% 100%);
            ">
            <img class="card-img" style="
                width: 70%;
                padding: 10px;
                margin: 25px;
                border-radius: 100px;
              " src="https://www.tutlane.com/images/defaultimg.png" alt="Profile " />

            <div style="
                position: absolute;
                top: 150px;
                right: -10px;
                width: 100px;
              " [class]="c.isActive!='true'?'text-success':'text-danger'">
              <span style="
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  border-radius: 10px;
                " [class]="c.isActive!='true'?'bg-success':'bg-danger'"></span>

            </div>
          </div>

          <div class="col-md-6">
            <i class="fa fa-shopping-cart float-right" style="font-size: 20px; padding: 10px">
              <span style="
                  width: 12px;
                  height: 12px;
                  background-color: red;
                  border-radius: 10px;
                  display: inline-block;
                  position: absolute;
                  right: 5px;
                  color: #fff;
                "><b style="
                    font-size: 10px;
                    padding: 1px;
                    top: 0;
                    position: absolute;
                  ">4</b></span>
            </i>
            <div class="card-body">
              <h6 class="card-title">{{c.name}}</h6>

              <!-- <p class="card-text" style="font-size: 12px">
                <a style="border: 1px solid #7f7f7f; padding: 2px">id</a> &nbsp;
                12345678
              </p> -->
              <p class="card-text" style="font-size: 12px">
                <i class="fa fa-map-marker"></i> &nbsp; {{c.location.address}}
                <!-- <a href="">View More</a> -->
              </p>
              <p class="card-text" style="font-size: 12px">
                <i class="fa fa-phone"></i> &nbsp; {{c.phoneNo}}, {{c.landlineNo}}
              </p>
              <p class="card-text" style="font-size: 12px">
                GST &nbsp; : {{c.gstNo}}
              </p>
              <p class="card-text" style="font-size: 12px">
                <i class="fa fa-envelope"></i> &nbsp; {{c.email}}
              </p>
              <!-- <p class="card-text" style="font-size: 12px">
                <i class="fa fa-money"></i> &nbsp; Last Payment on (
                <a class="text-danger">Rs. 20,000</a>) out of Rs. 30.000date of
                <b>12 Aug 2020</b>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card 2 -->
    <!-- <div class="col-md-6">
      <div class="card">
        <div class="row no-gutters">
          <div
            class="col-md-6 cardshape"
            style="
              background-color: #e4e4e4;
              clip-path: polygon(0% -350%, 100% 100%, 0% 100%);
            "
          >
            <img
              class="card-img"
              style="
                width: 70%;
                padding: 10px;
                margin: 25px;
                border-radius: 100px;
              "
              src="https://www.tutlane.com/images/defaultimg.png"
              alt="Profile "
            />

            <div
              style="
                position: absolute;
                top: 150px;
                right: -10px;
                width: 100px;
                color: green;
              "
            >
              <span
                style="
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  background-color: green;
                  border-radius: 10px;
                "
              ></span>
              Active
            </div>
          </div>

          <div class="col-md-6">
            <i
              class="fa fa-shopping-cart float-right"
              style="font-size: 20px; padding: 10px"
            >
              <span
                style="
                  width: 12px;
                  height: 12px;
                  background-color: red;
                  border-radius: 10px;
                  display: inline-block;
                  position: absolute;
                  right: 5px;
                  color: #fff;
                "
                ><b
                  style="
                    font-size: 10px;
                    padding: 1px;
                    top: 0;
                    position: absolute;
                  "
                  >4</b
                ></span
              >
            </i>

            <div class="card-body">
              <h6 class="card-title">FedEx</h6>

              <p class="card-text" style="font-size: 12px">
                <a style="border: 1px solid #7f7f7f; padding: 2px">id</a> &nbsp;
                12345678
              </p>
              <p class="card-text" style="font-size: 12px">
                <i class="fa fa-map-marker"></i> &nbsp; Lorem ipsum dolor sit
                amet, conseteturLorem ipsum dolor sit amet,
                <a href="">View More</a>
              </p>
              <p class="card-text" style="font-size: 12px">
                <i class="fa fa-phone"></i> &nbsp; 0987654342, 8765432415
              </p>
              <p class="card-text" style="font-size: 12px">
                <i class="fa fa-envelope"></i> &nbsp; abhi@any.com
              </p>
              <p class="card-text" style="font-size: 12px">
                <i class="fa fa-money"></i> &nbsp; Last Payment on (
                <a class="text-danger">Rs. 20,000</a>) out of Rs. 30.000date of
                <b>12 Aug 2020</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- row end   -->
</div>

<div class="col-md-12" style="width: 40%; margin: auto" *ngIf="clients == undefined">
  <small>No Clients Found Click <b>Add Client</b> Button To Add New Client</small>
  <img src="../../../../assets/images/nodata.jpg" alt="No Data Found" />
</div>