<app-page-title [heading]="heading"  [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btntype]="btntype" (callback)="openDialog()" [btnIcon]="btnIcon"></app-page-title>

<div class="card main-card mb-3 mt-3 pl-4 pr-4">
    <!-- table data -->
    
    <table class="table table-striped">
       
      <thead>
        <tr >
          <th><mat-checkbox></mat-checkbox></th>
          <th scope="col">Sub Category</th>
          <th scope="col">Category Name</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categories; index as i">
            <td style="vertical-align: middle;">{{i+1}}</td>
          <td style="vertical-align: middle;">
            <small>NT00010</small><br>
            <b>Sub Cat Name</b>
          </td >
          <td style="width:160px;font-size: 12px;">
            <small>NT00010</small><br>
            <b>{{c.catname}}</b>
          </td>
          
         
         

          

          <td style="vertical-align: middle;">
              <select  name="status" class="selectsecx">
                <option class="text-success" value="ACTIVE"> Active </option>
                <option class="text-danger" value="INACTIVE"> InActive </option>
              </select>
          </td>
          
          <td style="vertical-align: middle;">
            <i class="fa fa-pencil text-primary mr-2"></i>
            <i class="fa fa-times text-danger"></i>
          </td>

        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>