<div class="h-100">
  <div class="row h-100 no-gutters">
    <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-6">
      <div class="mx-auto app-login-box col-sm-12 col-md-6 col-lg-9">
        <div class="app-logo"></div>
        <h4>
          <div>Welcome,</div>
          <span>It only takes a <span class="text-success">few seconds</span> to reset your password</span>
        </h4>
        <div>
            <div class="row">
              <mat-horizontal-stepper #stepper>
                <mat-step [stepControl]="firstFormGroup" >
                  <form #fg="ngForm"  class="row" (ngSubmit)="getOtp(fg,stepper); counter.start();">
                    <ng-template matStepLabel>
                      Enter Details</ng-template> 
                      <div class="col-md-6">
                        <div class="position-relative form-group">
                          <mat-form-field class="full-width">
                          <input matInput
                           name="phone" 
                           id="phone" 
                           pattern="[0-9]{10}$"
                           
                           ngModel
                           #phone="ngModel"
                           placeholder="Enter Phone Number" 
                           [(ngModel)]="forget.contactphone" required>
                           <mat-error *ngIf="phone.touched && !phone.valid">
                            Phone required</mat-error>
                             <mat-error *ngIf="phone.errors?.pattern"> Phone Number Should be 10 Digit</mat-error>
                             </mat-form-field>
                        </div>
                      </div>                   
                    <div class="col-md-12">
                      <mat-error *ngIf="errorMsg" class="errorMsg">{{errorMsg}}</mat-error>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <button  class="btn btn-primary float-right">Next <fa name="angle-right"></fa></button>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="secondFormGroup">
                  <form #sg="ngForm" class="row" (ngsubmit)="validateOTP(sg,stepper)">
                    <ng-template matStepLabel>Enter OTP</ng-template>
                    
                    <div class="col-md-12">
                      <h4 class="align-center">Please enter the OTP received on your Phone Number</h4>
                     
                  </div>
                    <div class="col-md-12 mt-3 mb-3">
                      <h5>{{forget.contactphone}} <small (click)="goBack(stepper)" style="color:#4577ee;cursor: pointer;">Edit</small></h5>
                      <br>
                      
                          <mat-form-field class="full-width">
                          <input matInput
                           name="phoneotp" 
                           id="phoneotp" 
                           
                           ngModel
                           #phoneotp="ngModel"
                           placeholder="Enter OTP" 
                           [(ngModel)]="forget.otp" required>
                           <mat-error *ngIf="phoneotp.touched && !phoneotp.valid">
                            OTP required</mat-error>
                             <!-- <mat-error *ngIf="phoneotp.errors?.pattern"> Phone Number Should be 10 Digit</mat-error> -->
                             </mat-form-field>
                          
                  </div>
                  <div class="col-md-12">
                    <mat-label>Resend OTP:  </mat-label>
                    
                      <ngx-countdown
                       #counter
                       [time]="30000" format="ss" [autoStart]="false" >
                      </ngx-countdown>s
                      <br>
                      <span style="color:blue;cursor: pointer;"
                       *ngIf="counter.state == 2"
                       (click)="getOtp(); counter.start();">Resend</span>
                       <br><br>
                  </div>
                  <div class="col-md-12">
                    <mat-error *ngIf="errorMsg" class="errorMsg">{{errorMsg}}</mat-error>
                  </div>
                    <div class="col-md-12">
                      
                      <button  class="btn btn-primary float-right">Next <fa name="angle-right"></fa></button>
                    </div>
                  </form>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Email Confirmation</ng-template>
                  <div style="text-align:center">
                  <img src="assets/images/mail.png" alt="Email Confirmation" style="width: 160px;margin: 20px auto;">
                  <h4>Please check you mail to reset your password.
                  </h4>
                </div>
                  <!-- <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button (click)="stepper.reset()">Reset</button>
                    </div> -->
                </mat-step>

                <ng-template matStepperIcon="phone">
                  <mat-icon>call_end</mat-icon>
                </ng-template>
              </mat-horizontal-stepper>
            </div>

            <!-- <div class="custom-control custom-checkbox"><input id="exampleCheck" type="checkbox" name="check"
                  autocomplete="off" class="custom-control-input" value="true"><label for="exampleCheck"
                  class="custom-control-label">
                  Accept our <a [routerLink]="">Terms and Conditions</a>.
                </label></div> -->
            <div class="mt-4 d-flex align-items-center">
              <h5 class="mb-0">
                Already have an account?
                <a href="login" class="text-primary">Sign in</a></h5>
              <div class="ml-auto">

              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="d-lg-flex d-xs-none col-lg-6 col-md-6">
      <div class="slider-light">
        <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfig2">
          <div ngxSlickItem>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
              <div class="slider-content text-light">
                <h3>Workforce</h3>
                <p>
                  Workforce is like a dream. Some think it's too good to be true! Extensive collection of
                  unified Vue Bootstrap Components and Elements.
                </p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
