<!-- page title -->
<div>
    <div class="main-card mb-2 m-1 p-3 card">
        <div class="app-page-title m-0 p-0">
            <div class="page-title-wrapper">
                <div class="page-title-heading col-md-6">
                    <div class="page-title-icon">
                        <i class="icon pe-7s-shuffle icon-gradient btn-primary"></i>
                    </div>
                    <div>
                        Make Device Request
                        <div class="page-title-subheading">
                            Welcome to device request section
                        </div>
                    </div>
                </div>
                <div class="page-title-actions float-right">

                    <a type="button"
                        class=" ml-3 rounded-pill btn-shadow d-inline-flex align-items-center btn btn-primary"
                        style="color: #fff;" href="/device/requests">

                        Back to Requests
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title -->

<!-- card view Deviclist of devices -->


<div class="card main-card mb-3">
    <div class="card-header" style="position: relative">




    </div>


    <div class="card-body" style="padding-top: 25px;">
        <form #requestForm="ngForm" (ngSubmit)="add(requestForm)">
            <!-- Device Number -->
            <div class="form-row">
                <div class="col-md-12">
                    <angular-editor [(ngModel)]="request.comment" name="comment" [config]="config" required>
                    </angular-editor>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="request.deviceCount" #deviceC="ngModel" name="deviceCount" id="deviceCount"
                            placeholder="Enter No.of Devices" required>
                        <mat-error *ngIf="deviceC.touched && !deviceC.valid">
                            No.of Devices Required </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width full-width">
                        <mat-label>Request Quotation</mat-label>
                        <mat-select name="quotationRequired" id="quotationRequired" [(ngModel)]="request.quotationRequired" required>
                            <mat-option [value]='true'>Yes</mat-option>
                            <mat-option [value]='false'>no</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                <div class="float-right">
                    <a class="text-primary">Cancel</a>
                    <button mat-raised-button class="btn btn-primary ml-2" [disabled]="!requestForm.valid"
                        type="submit">Make a Request</button>
                </div>
                </div>
            </div>

        </form>
    </div>

</div>