<div  class="btn-actions-pane-right" >   
    <div role="group" class="btn-group-sm btn-group filters">
       <!-- <button class="active btn btn-focus">Last Week</button>
       <button class="btn btn-focus">All Month</button> -->
       <div class="btn-actions-pane-right text-capitalize actions-icon-btn" ngbDropdown>
        <button class="btn btn-icon btn-icon-only btn-link" ngbDropdownToggle>
          <fa name="th"></fa>
        </button>
        <div ngbDropdownMenu>
          <!-- <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-inbox"> -->
            <!-- </i> -->
            <!-- <span>Search..</span> -->
        <!-- </button> -->
            <input class="form-control" type="text" placeholder="search.."/> 
          <div type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-file-empty">
            </i><span>Order By ID</span>
        </div>
            <input class="ml-2 mr-2"  type="radio" name="order"/>Ascending
            <input class="ml-2 mr-2" type="radio" name="order"/>Descending
          <!-- <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-book">
            </i><span>Actions</span>
          </button> -->
          <div tabindex="-1" class="dropdown-divider"></div>
          <div class="p-1 text-right">
            
            <button class="mr-2 btn-shadow btn-sm btn btn-primary">Apply</button>
          </div>
        </div>
      </div>
      
     </div>
     </div>
