<!-- page title -->
<div>
    <div class="main-card mb-2 m-1 p-3 card">
<div class="app-page-title m-0 p-0">
  <div class="page-title-wrapper">
    <div class="page-title-heading col-md-6">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions float-right">
      <!-- <button type="button" class="btn-shadow mr-3 btn btn-dark">
        <fa name="star"></fa>
      </button> -->
      <!-- <a type="button" class="rounded-pill btn-shadow d-inline-flex align-items-center btn btn-success" href="#">
        
        Add Bulk Device
      </a> -->
      <a  type="button" class=" ml-3 rounded-pill btn-shadow d-inline-flex align-items-center btn btn-primary"  style="color: #fff;" href="/device/request/0">
        Request Devices
      </a>
      
    </div>
  </div>
</div>
</div>
</div>
<!-- page title -->

<!-- card view Device -->
<div class="row">
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">
            Issued Devices
          </div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                45
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">
            Avalible Devices
          </div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                48
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">New Devices</div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                35
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div
      class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card"
    >
      <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
          <div class="widget-title opacity-5 text-uppercase">Enrolled Devices</div>
          <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
              <div>
                10
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- card view Deviclist of devices -->

  <div class="col-md-12">
    <div class="card main-card mb-3">
      <div class="card-header" style="position: relative">

        
        
       <small>Result Searched</small> 145
        <span
          class="float-right"
          style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
        <span
            ><small>1 to 15 Aug 2020</small>
            <i class="fa fa-filter" style="font-size: 18px; margin: 8px"></i
          ></span>
        </span>
      </div>

      <div class="card-header" style="position: relative">
        <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Apply Action</button>
                            <div ngbDropdownMenu>
                              <button class="dropdown-item text-center">Inactive
                            </button>
                            <mat-divider></mat-divider>
                              <button class="dropdown-item">Edit
                            </button>
                            <mat-divider></mat-divider>
                            <button class="dropdown-item">Delete

                          </button>
                          <mat-divider></mat-divider>
                          <button class="dropdown-item">Reassign

                        </button>
                   
                            </div>
                          </div>
                         
                           <span class="float-right" style="position: absolute;right: 10px;top: 50%;transform: translateY(-50%);">
                
                  
                <i class="lnr-download" style="color: #000;font-size: 18px; margin-right: 8px;"></i> 
                <b style="color: red;">PDF / CSV</b>
              </span>
          
      </div>
      
      <div class="card-body" style="padding-top: 25px;">
                <div class="responsive-table">
                    <table class="align-middle mb-0 table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>
                                    S.no
                                </th>
                                <th>Vehical_No</th>
                                <th>Driver Name</th>
                                <th>Licence_No</th>
                                <!-- <th>Device ID</th> -->
                                <th>maxSpeed</th>
                                <th>millage</th>
                                <th>pastDriver</th>
                                <th>vehicleType</th>
                                <!-- <th>Status</th> -->
                                <th>Action</th>
                                <th>Track</th>
                            </tr>
                        </thead>
                        <tbody>     
                            
                            <tr style="font-size: 15px;" *ngFor="let d of  devices; index as i">
                                <td>
                                    <p><b>{{i+1}}</b> </p>
                                </td>
                                <td>
                                    <p>
                                    {{d.vehicleNo}}</p>
                                </td>
                                <td>
                                    <p>
                                    {{d.driName}}<br>
                                    ({{d.driPhone}})</p>
                                </td>
                                <td >
                                  <p>{{d.Licence_No}}</p>
                                </td>
                                
                                <!-- <td>{{d.devDetId}}</td> -->
                                <td >
                                    {{d.maxSpeed}}
                                </td>
                                <td >
                                    <p>{{d.millage}}</p>
                                </td>
                                <td >
                                    {{d.pastDriver}}
                                </td>
                                  <td >
                                    {{d.vehicleType}}
                                </td>
                                
                                <!-- <td>
                                     <b class="{{d.status=='Offline'?'text-danger':'text-success'}}" >{{d.status}}</b>
                                  </td> -->
                                  <td style="vertical-align: middle">
          <a matTooltip="Edit {{d.driName}}"
            class="text-primary mr-2"
            [href]="'device/' + d.devDetId"
          >
            <span   class="material-icons "> edit </span></a
          >

          <!-- <a matTooltip="View {{e.name}}"
            class="text-primary mr-2"
            [href]="'executive/view/' + e.devDetId"
          >
            <span class="material-icons " > remove_red_eye </span></a
          > -->
          
          <!-- <span  matTooltip="Delete {{e.name}}" class="material-icons text-danger cursor-pointer" (click)="deleteCat(e.exeId)"> delete_forever </span> -->
        </td>
                                   <td>
                                       <b class="text-primary"><a href="/device/track"> Track</a></b>
                                   </td>
                            </tr>
                            
                           
                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>


                </div>
            </div>

    </div>
  </div>
