
Add work's!
<div >
    <div class="card-body">
      <h6 class="p-2">Add Tax</h6>
      <form #taxForm="ngForm" (ngSubmit)="add(taxForm)">
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Tax Name</mat-label><br>
                <input matInput required name="name" #name="ngModel" id="name" [(ngModel)]="tax.name"
                  placeholder="Tax Name" type="text">
                <mat-error *ngIf="name.touched && !name.valid">
                  Tax Name Required</mat-error>
              </mat-form-field>
            </div>
  
          </div>
         
        
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Tax Percentage</mat-label><br>
                <input matInput required name="Percentage" #Percentage="ngModel" id="Percentage" [(ngModel)]="tax.percentage"
                  placeholder="Percentage" type="text">
                <mat-error *ngIf="Percentage.touched && !Percentage.valid">
                  Percentage Required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Tax Status</mat-label><br>
                <mat-select matInput required name="status" #status="ngModel" id="status" [(ngModel)]="tax.status"
                  placeholder="Percentage" type="text">
                <mat-option value='ACTIVE'>ACTIVE</mat-option>
                <mat-option value='INACTIVE'>INACTIVE</mat-option>
              </mat-select>
                <mat-error *ngIf="status.touched && !status.valid">
                  Percentage Required</mat-error>
              </mat-form-field>
            </div>
          </div>
         
        </div>
  
  
       
        
        <div class="form-row">
            <div class="col-md-12">
          <div class="float-right">
              <span class="btn btn-link mr-4" (click)="close()"> Cancel</span>
              <button [disabled]="!taxForm.valid" type="submit" class="mt-2 btn btn-primary btn-lg">Add Tax</button>
            </div></div>
        </div>
      </form>
    </div>
  </div>
  
