<!-- page title -->
<div >
    <div class="main-card mb-2 m-1 p-3 card">
<div class="app-page-title m-0 p-0">
  <div class="page-title-wrapper">
    <div class="page-title-heading col-md-6">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions col-md-6 float-right" #top>
      <div >
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="all">All</mat-radio-button>
        <mat-radio-button value="executives" ><a (click)="scroll(target)">Executives</a></mat-radio-button>
        <mat-radio-button value="clients">Clients</mat-radio-button>
        <mat-radio-button value="devices">Devices</mat-radio-button>
      </mat-radio-group>
    </div>
      
    </div>
  </div>
</div>
</div>
</div>
<!-- page title -->


<div class="shadow-lg m-0  p-4 bg-white rounded row">
      
    <div class="col-md-7 selectsecx">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" placeholder="Search" class="selectsecx">
    </div>
    <div class="col-md-5">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="online">Online<sup class="sup">10</sup></mat-radio-button>
        <mat-radio-button value="offline">Offline<sup class="sup">20</sup></mat-radio-button>
        <mat-radio-button value="notyetlogin">Not Yet Login<sup class="sup">30</sup></mat-radio-button>
      </mat-radio-group>
    </div>
    
    </div>

<div class="map-container" id="map">
<span><img src="../../assets/images/NEEMiiT.png" class="neemiitlogo" /></span>
</div>

 <!-- List View of Executive Details -->

  <div class="col-md-12 mt-3" #target>
    <div class="main-card mb-3 p-3 card">
      <div class="card-header">
        <div style="color:#007bff" class="mb-4">
          <h6><b>Executive Details</b> </h6></div>
        <div class="btn-actions-pane-right">
          <div style="display: inline-block">
            <i
              class="lnr-printer ml-3"
              style="
                font-size: 25px;
                font-weight: bolder;
                vertical-align: bottom;
                color: #949494;
              "
            ></i>
            <i
              class="fa fa-share-alt ml-3"
              style="font-size: 25px; vertical-align: bottom; color: #949494"
            ></i>
            <div class="d-inline-block ml-3" ngbDropdown>
              <button
                type="button"
                ngbDropdownToggle
                class="btn btn-outline-link"
                style="
                  font-size: 17px;
                  padding: 0px;
                  font-weight: bolder;
                  vertical-align: bottom;
                  color: #949494;
                "
              >
                Export
              </button>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Excel</button>
                <button class="dropdown-item">Doc</button>
                <button class="dropdown-item">Pdf</button>
              </div>
            </div>
          </div>
          <!-- <div class="ml-3" style="display: inline-block; user-select: none">
            <i
              class="lnr-chevron-left"
              style="
                cursor: pointer;
                font-size: 14px;
                font-weight: bolder;
                color: #0993fb;
              "
              (click)="changeMonth('sub')"
            ></i>
            <span style="display: inline-block; padding: 10px">
              {{ date.format("MMM YYYY") }}</span
            >
            <i
              class="lnr-chevron-right"
              style="
                cursor: pointer;
                font-size: 14px;
                font-weight: bolder;
                color: #0993fb;
              "
              (click)="changeMonth('add')"
            ></i>
          </div> -->
        </div>
      </div>
      <div class="table-responsive">
        <table
          class="align-middle mb-0 table table-borderless table-striped table-hover">
          
          <thead>
            <tr>
              <th >Name</th>

              <th >Type</th>
              <th >Current Location</th>

              <th >Holding Task On Hand</th>
              <th >Status</th>
              <th >Last Location Updated At</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let e of track.Tracks">
               <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                   <div class="widget-content-left flex2">
                      <div class="widget-heading">
                        <strong>{{ e.name }} </strong>
                      </div>
                      <div class="widget-subheading opacity-7">
                        {{ e.aadhar }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                  <b *ngIf="e.currentTrack.cttype == 1; else elseBlock">Executive</b>
                  <ng-template #elseBlock><b>Device</b></ng-template>
              </td>
             

               <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                   <div class="widget-content-left flex2">
                      <div class="widget-heading">
                        {{ e.Currentlocation }} 
                      </div>
                      <div class="widget-subheading opacity-7">
                        <div class="rounded-pill pillbtn">Track</div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

             <td >
                <span [class]="e.currentTrack.tstat == 'TRACK_STARTED'?'text-success':'text-danger'">{{ e.currentTrack.tstat }}</span>
                <!-- <div class="rounded-pill pillbtn ml-1" style="display: inline-block;font-weight: normal ">Assign Task</div></b> -->
                
              </td>
              <td >
               <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                   <div class="widget-content-left flex2">
                      <div class="widget-heading text-primary">
                        {{ e.status }} qwerty
                      </div>
                      <div class="widget-subheading opacity-7">
                        <small>From 3.00 pm</small>
                      </div>
                    </div>
                  </div>
                </div>
                </td>
                <td >
                  <b *ngIf="e.currentTrack.trackUpdatedAt; else eBlock">{{ e.currentTrack.trackUpdatedAt}}</b>
                  <ng-template #eBlock ><b >---</b></ng-template>
                </td>
            </tr>

            <tr *ngIf="track.length == 0">
              <td colspan="8" ><b>No Data Found</b></td>
            </tr>
          </tbody>
    <mat-icon class="top" (click)="scroll(top)">keyboard_arrow_up</mat-icon>

        </table>
        <!-- <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator> -->
      </div>
    </div>
  </div>