<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>
<div class="main-card mb-3 card">
    <div class="card-body">
      <form  #discountForm="ngForm" (ngSubmit)="add(discountForm)">
        <div class="form-row">
          <div class="col-md-{{discount.discountType==2?'4':6}}">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Discount Type</mat-label>
                <mat-select  name="discountType" id="discountType"  [(ngModel)]="discount.discountType"  required>
                    <mat-option *ngFor="let dt of discountTypes" value="{{dt.value}}">{{dt.name}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
          </div>
          <div class="col-md-{{discount.discountType==2?'4':6}}">
            <div class="position-relative form-group" *ngIf="discount.discountType==2">
              <mat-form-field class="full-width">
                <mat-label>Product Based Type</mat-label>
              <mat-select  name="productBasedType" id="productBasedType2"  [(ngModel)]="discount.disType"  required>
                <mat-option *ngFor="let pbt of productBasedTypes" value="{{pbt.value}}">{{pbt.name}}</mat-option>
             </mat-select>
             </mat-form-field>
             </div>
             <div class="position-relative form-group" *ngIf="discount.discountType==1">
                <mat-form-field class="full-width">
                  <mat-label>Payment mode or Order Value</mat-label>
                <mat-select  name="productBasedType" id="productBasedType1"  [(ngModel)]="discount.disType"  required>
                  <mat-option *ngFor="let st of storeType" value="{{st.value}}">{{st.name}}</mat-option>
               </mat-select>
               </mat-form-field>
               </div>
          </div>
          <div class="col-md-4" *ngIf="discount.discountType==2">
            <div class="position-relative form-group" *ngIf="discount.disType=='PRODUCT_CATGORY'">
              <mat-form-field class="full-width">
                <mat-label>Select Category</mat-label>
                <mat-select  name="productBasedValue" id="productBasedValue1"  [(ngModel)]="discount.helpId"  required>
                    <mat-option *ngFor="let pc of pcats" value="{{pc.catid}}">{{pc.catname}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="position-relative form-group" *ngIf="discount.disType=='PRODUCT'">
                <mat-form-field class="full-width">
                  <mat-label>Select Product</mat-label>
                  <mat-select  name="productBasedValue" id="productBasedValue2"  [(ngModel)]="discount.helpId"  required>
                      <mat-option *ngFor="let p of products" value="{{p.pid}}">{{p.name}}</mat-option>
                  </mat-select>
                  </mat-form-field>
              </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
        <div class="position-relative form-group">
          <mat-form-field class="full-width">
            <mat-label>Payment Type</mat-label>
          <mat-select  name="paymentType" id="paymentType"  [(ngModel)]="discount.per"  required>
            <mat-option *ngFor="let pt of paymentType" value="{{pt.value}}">{{pt.name}}</mat-option>
        </mat-select>
        </mat-form-field>
        </div>
        </div>
        <div class="col-md-6">
        <div class="position-relative form-group">
          <mat-form-field class="full-width">
          <!-- <label for="paymentTypeValue">Enter {{ discount.paymentType==1?"Cash":"Percentage" }}</label> -->
          <input matInput name="paymentTypeValue" id="paymentTypeValue" placeholder="Enter {{ discount.paymentType==1?'Cash':'Percentage' }}" type="number"  [(ngModel)]="discount.value" required>
          </mat-form-field>
        </div>
      </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
              <!-- <label for="minOrderValue">Min Order Value</label> -->
              <input matInput name="minOrderValue" id="minOrderValue" type="number" placeholder="Enter Min Order Value"   [(ngModel)]="discount.minOrderValue" required>
            </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <!-- <label for="maxDiscount">Max Discount in Rs</label> -->
              <mat-form-field class="full-width">
              <input matInput placeholder="Max Discount in Rs" name="maxDiscount" id="maxDiscount" type="number"  [(ngModel)]="discount.maxDiscount" required>
            </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <!-- <label for="maxOrders">Max Orders</label> -->
              <mat-form-field class="full-width">
              <input matInput name="maxOrders" id="maxOrders" type="number" placeholder="Enter Max Orders."   [(ngModel)]="discount.maxOrders" required>
            </mat-form-field>
          </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <!-- <label for="times">No.of times to Apply</label> -->
              <mat-form-field class="full-width">
              <input matInput placeholder="No.of times to Apply" name="times" id="times" type="number"  [(ngModel)]="discount.turnsForCustomer" required>
            </mat-form-field>
          </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
        <div class="position-relative form-group">
          <!-- <mat-label for="start">Start  Date Of Schem</mat-label> -->
          <mat-form-field class="full-width">
          <input matInput type="datetime-local" name="start" id="start" placeholder="Enter start Date"   [(ngModel)]="discount.applicableFrom" required>
        </mat-form-field></div>
        </div>
        <div class="col-md-6">
        <div class="position-relative form-group">
          <!-- <label for="End">End  Date Of Schem</label> -->
          <mat-form-field class="full-width">
          <input matInput type="datetime-local"   data-date-time-input="YYYY-MMM-DD"  name="End" id="End" placeholder="Enter End Date"   [(ngModel)]="discount.applicableTo" required>
          
        </mat-form-field>
      </div>
        </div>
        </div> 

        <div class="position-relative form-group">
          <mat-checkbox  name="canClub" id="canClub" placeholder="Enter canClub"  [(ngModel)]="discount.clubbed" required>Can be clubbed with other schemes.?</mat-checkbox>
          
        </div>
        <button type="submit" class="mt-2 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
