<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="row"> 
 
<div class="col-md-12">
    <div class="card">     
        <div class="card-header" style="border: none; font-size: 20px; color: #16aaff;">Pricing Strategy
            <div class="btn-actions-pane-right" style="font-size: 15px;">
                <div class="col-md-8 "> 
                    <div class="d-inline-block" ngbDropdown>
                        <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Action Apply
                        </button>
                        <div ngbDropdownMenu>
                          <button class="dropdown-item text-center">Delete Product
                        </button>
                        <mat-divider></mat-divider>
                          <button class="dropdown-item">Add Product
                        </button>
                        <mat-divider></mat-divider>
                        <button class="dropdown-item">Create Product
                      </button>             
               
                        </div>
                      </div>              
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>  
        <div class="card-body" style="padding-top: 25px;">
            <div class="responsive-table">
                <table class="align-middle mb-0 table table-borderless">
                    <thead>
                        <tr style="white-space: nowrap;">
                            <th>
                                <mat-checkbox></mat-checkbox>
                            </th>
                            <th class="text-center">Group Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Group Type</th>
                            <th class="text-center">No of Clients</th>
                            <th class="text-center">Valid</th>

                           
                        </tr>
                    </thead>
                    <tbody>                            
                        <tr style="font-size: 15px;">
                            <td class="text-center">
                                <p><b>1</b> </p>
                            </td>
                            <td class="text-center">
                                <p>xchsfu2eoo<br>
                                <b>Group A</b> <br>                               
                            </td>
                            <td class="text-center">
                              <p>aDQDQWDQEsSc </p>
                            </td>
                            <td class="text-center">
                                <p>5 star</p>
                            </td>             
                            <td class="text-center">
                                <p><b>0</b><br>
                                   <span style="color:#16aaff ;">Assign Client</span> </p>
                            </td>  
                            <td class="text-center">
                                <p><b>Forever</b></p>
                            </td>  
                        </tr>     
                        <tr style="font-size: 15px;">
                            <td class="text-center">
                                <p><b>2</b> </p>
                            </td>
                            <td class="text-center">
                                <p>xchsfu2eoo<br>
                                <b>Group B</b> <br>                               
                            </td>
                            <td class="text-center">
                              <p>aDQDQWDQEsSc </p>
                            </td>
                            <td class="text-center">
                                <p>5 star</p>
                            </td>             
                            <td class="text-center">
                                <p><b>0</b><br>
                                   <span style="color:#16aaff ;">Assign Client</span> </p>
                            </td>  
                            <td class="text-center">
                                <p><b>Forever</b></p>
                            </td>  
                        </tr> 
                        <tr style="font-size: 15px;">
                            <td class="text-center">
                                <p><b>3</b> </p>
                            </td>
                            <td class="text-center">
                                <p>xchsfu2eoo<br>
                                <b>Group C</b> <br>                               
                            </td>
                            <td class="text-center">
                              <p>aDQDQWDQEsSc </p>
                            </td>
                            <td class="text-center">
                                <p>5 star</p>
                            </td>             
                            <td class="text-center">
                                <p><b>0</b><br>
                                   <span style="color:#16aaff ;">Assign Client</span> </p>
                            </td>  
                            <td class="text-center">
                                <p><b>Forever</b></p>
                            </td>  
                        </tr> 
                        <tr style="font-size: 15px;">
                            <td class="text-center">
                                <p><b>4</b> </p>
                            </td>
                            <td class="text-center">
                                <p>xchsfu2eoo<br>
                                <b>Group D</b> <br>                               
                            </td>
                            <td class="text-center">
                              <p>aDQDQWDQEsSc </p>
                            </td>
                            <td class="text-center">
                                <p>5 star</p>
                            </td>             
                            <td class="text-center">
                                <p><b>0</b><br>
                                   <span style="color:#16aaff ;">Assign Client</span> </p>
                            </td>  
                            <td class="text-center">
                                <p><b>Forever</b></p>
                            </td>  
                        </tr>                 
                    </tbody>
                </table>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>


            </div>
        </div>
    </div>
</div>   
</div>
