<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"></app-page-title>


<div class="main-card mb-3 card" *ngIf="discounts.length > 1">
    <div class="card-header">
      
        <div  class="btn-actions-pane-right" >   

            <div role="group" class="btn-group-sm btn-group filters">
               <!-- <button class="active btn btn-focus">Last Week</button>
               <button class="btn btn-focus">All Month</button> -->
               <div class="search ">
                 <input type="text" value="" placeholder="Search.." class="form-control">
               </div>
             </div>
             </div>
    </div>
    <div class="table-responsive">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th >ID</th>
            <th >Discount Type</th>
            <th >HeplerId</th>
            <th>minOrderValue</th>
            <th >maxDiscount</th>
            <th >maxOrders</th>
            <th >turnsForCustomer</th>
            <th >per</th>
            <th >value</th>
            <th >clubbed</th> 
            <th >applicableFrom</th> 
            <th class="actiontd">Action</th> 
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of discounts; index as i">
                <th scope="row">{{ d.dsid }}</th>
                <td>{{ d.disType }}</td>
                <td>{{ d.helpId }}</td>
                <td>{{ d.minOrderValue }}</td>
                <td>{{ d.maxDiscount }}</td>
                <td>{{ d.maxOrders }}</td>
                <td>{{ d.turnsForCustomer }}</td>
                <td>{{ d.per }}</td>
                <td>{{ d.value }}</td>
                <td>{{ d.clubbed }}</td>
                <td>{{ d.applicableFrom }}</td>
                <td><a class="btn btn-primary btn-sm btn-block mb-2 " href="discount/{{d.dsid}}"><i class="fa fa-edit"></i> Edit</a> <button class="btn btn-danger btn-sm btn-block mb-2"><i class="fa fa-trash"></i> Remove</button>   </td>
              </tr>
              
              <!-- <tr *ngIf="discounts.length < 1">
                <td colspan="12" style="padding: 80px;color:#a5a5a5;text-align: center;font-weight: bold;font-size: 30px;">
                  No Data Avalible
                  
                </td>    
              </tr> -->
         
        </tbody>
      </table>
    </div>
   
  </div>
  <div class="col-md-12" style="width: 40%;margin: auto;" *ngIf="discounts.length < 1"> 
    <small>No Discounts Found Click <b>Add Discount</b> Button to add new Discounts</small>
    <img  src="../../../../assets/images/nodata.jpg" alt="No Data Found">
  </div>
   
