<div class="h-100">
  <div class="row h-100 no-gutters">
    <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-6 col-lg-6">
      <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4>
          <div>Welcome,</div>
          <span>It only takes a <span class="text-success">few seconds</span> to create your account</span>
        </h4>
        <div>
            <div class="row">
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup" >
                  <form [formGroup]="firstFormGroup" #f="ngForm" class="row">
                    <ng-template matStepLabel>
                      Organisation Details</ng-template>
                    <div class="col-md-6">
                      <mat-form-field  >
                        <mat-label>Organisation Name</mat-label>
                        <input matInput placeholder="Organisation Name"
                         formControlName="orgname"
                         required 
                         id="orgname">
                        <mat-error> Organisation Name Required</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Contact Name</mat-label>
                        <input matInput placeholder="Contact Name" formControlName="contactname" required
                          id="contactname">
                          <mat-error> Contact Name Required</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Phone No.</mat-label>
                        <input matInput placeholder="Phone No." formControlName="contactphone" required
                          id="contactphone">
                          <mat-error>Phone No. Required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="contactemail" required id="contactemail">
                        <mat-error> Email Name Required</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-label>Location</mat-label>
                        <input matInput placeholder="Location" formControlName="location" required id="location">
                        <mat-error> Location Required</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-error *ngIf="errorMsg" class="errorMsg">{{errorMsg}}</mat-error>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <button (click)="getOtp(stepper); counter.start();" class="btn btn-primary float-right">Next <fa name="angle-right"></fa></button>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup" class="row">
                    <ng-template matStepLabel>Enter OTP</ng-template>
                    
                    <div class="col-md-12">
                      <h4 class="align-center">Please enter the OTP received on your Phone Number</h4>
                     
                  </div>
                    <div class="col-md-4 mt-3 mb-3">
                      <h5>{{firstFormGroup.value.contactphone}} <small (click)="goBack(stepper)" style="color:#4577ee;cursor: pointer;">Edit</small></h5>
                      <br>
                    <mat-form-field>
                      <mat-label>Enter OTP</mat-label>
                      <input matInput formControlName="otp" placeholder="Enter OTP" required>
                      <mat-error>OTP Required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-label>Resend OTP:  </mat-label>
                    
                      <ngx-countdown
                       #counter
                       [time]="30000" format="ss" [autoStart]="false" >
                      </ngx-countdown>s
                      <br>
                      <span style="color:blue;cursor: pointer;"
                       *ngIf="counter.state == 2"
                       (click)="getOtp(); counter.start();">Resend</span>
                       <br><br>
                  </div>
                  <div class="col-md-12">
                    <mat-error *ngIf="errorMsg" class="errorMsg">{{errorMsg}}</mat-error>
                  </div>
                    <div class="col-md-12">
                      
                      <button (click)="goBack(stepper)" class="btn btn-primary"><fa name="angle-left"></fa>  Change Details</button>&nbsp;&nbsp;
                      <button (click)="validateOTP(stepper)" class="btn btn-primary float-right">Next <fa name="angle-right"></fa></button>
                    </div>
                  </form>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Email Confirmation</ng-template>
                  <div style="text-align:center">
                  <img src="assets/images/mail.png" alt="Email Confirmation" style="width: 160px;margin: 20px auto;">
                  <h4>Please check you mail to activate your account.
                  </h4>
                </div>
                  <!-- <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button (click)="stepper.reset()">Reset</button>
                    </div> -->
                </mat-step>

                <ng-template matStepperIcon="phone">
                  <mat-icon>call_end</mat-icon>
                </ng-template>
              </mat-horizontal-stepper>
            </div>

            <!-- <div class="custom-control custom-checkbox"><input id="exampleCheck" type="checkbox" name="check"
                  autocomplete="off" class="custom-control-input" value="true"><label for="exampleCheck"
                  class="custom-control-label">
                  Accept our <a [routerLink]="">Terms and Conditions</a>.
                </label></div> -->
            <div class="mt-4 d-flex align-items-center">
              <h5 class="mb-0">
                Already have an account?
                <a href="login" class="text-primary">Sign in</a></h5>
              <div class="ml-auto">

              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="d-lg-flex d-xs-none col-md-6 col-lg-6">
      <div class="slider-light">
        <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfig2">
          <div ngxSlickItem>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
              <div class="slider-content text-light">
                <h3>Workforce</h3>
                <p>
                  Workforce is like a dream. Some think it's too good to be true! Extensive collection of
                  unified Vue Bootstrap Components and Elements.
                </p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
