<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btnstatus]="btnstatus"></app-page-title>

<div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content">
            <div class="widget-title opacity-5 text-uppercase">New accounts</div>
            <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
              <div class="widget-chart-flex align-items-center">
                <div>
                  <span class="opacity-10 text-success pr-2">
                    <fa name="angle-up"></fa>
                  </span>
                  234
                  <small class="opacity-5 pl-1">%</small>
                </div>
                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                  <div class="circle-progress">
                    <div class="progress-circle-wrapper">
                      <div class="round-progress-text">
                        <span>42%</span>
                        <round-progress [current]="42" [max]="100" [color]="'#52c44f'" [background]="'#f0f0f0'"
                          [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                          [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                        </round-progress>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content">
            <div class="widget-title opacity-5 text-uppercase">Total Expenses</div>
            <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
              <div class="widget-chart-flex align-items-center">
                <div>
                  <span class="opacity-10 text-danger pr-2">
                    <fa name="angle-down"></fa>
                  </span>
                  71
                  <small class="opacity-5 pl-1">%</small>
                </div>
                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                  <div class="progress-circle-wrapper">
                    <div class="round-progress-text">
                      <span>71%</span>
                      <round-progress [current]="71" [max]="100" [color]="'#cc603c'" [background]="'#f0f0f0'"
                        [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                        [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                      </round-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content">
            <div class="widget-title opacity-5 text-uppercase">Company Value</div>
            <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
              <div class="widget-chart-flex align-items-center">
                <div>
                  <small class="opacity-5 pr-1">$</small>
                  1,45M
                </div>
                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                  <div class="progress-circle-wrapper">
                    <div class="round-progress-text">
                      <span>55%</span>
                      <round-progress [current]="55" [max]="100" [color]="'#6bbdcc'" [background]="'#f0f0f0'"
                        [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                        [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                      </round-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content">
            <div class="widget-title opacity-5 text-uppercase">New Employees</div>
            <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
              <div class="widget-chart-flex align-items-center">
                <div>
                  <small class="text-success pr-1">+</small>
                  34
                  <small class="opacity-5 pl-1">hires</small>
                </div>
                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                  <div class="progress-circle-wrapper">
                    <div class="round-progress-text">
                      <span>38%</span>
                      <round-progress [current]="38" [max]="100" [color]="'#aacc3e'" [background]="'#f0f0f0'"
                        [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                        [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                      </round-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="card main-card mb-3">
    <div class="card-header" style="border: none; padding-top: 25px;">Result Searched:<b> 145</b>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;Filter Used&nbsp;
            <div class="d-inline-block" ngbDropdown>
                <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Active</button>
                <div ngbDropdownMenu>
                  <button class="dropdown-item">Not Active</button>
                  <button class="dropdown-item">Idle</button>
       
                </div>
              </div>    
        </span>
        <div class="btn-actions-pane-right">
          <div style="display:inline-block">
            <i class="lnr-printer ml-3"
              style="font-size: 25px;font-weight: bolder;vertical-align: bottom;color:#949494;"></i>
            <i class="fa fa-share-alt ml-3" style="font-size: 25px;vertical-align: bottom;color:#949494;"></i>
            <div class="d-inline-block  ml-3" ngbDropdown>
              <button type="button" ngbDropdownToggle class="btn btn-outline-link"
                style="font-size: 17px;padding:0px;font-weight: bolder;vertical-align: bottom;color:#949494;">Export
              </button>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Excel</button>
                <button class="dropdown-item">Doc</button>
                <button class="dropdown-item">Pdf</button>
              </div>
            </div>
          </div>
          <div class="ml-3" style="display:inline-block;user-select: none;">
            1 to 15 Aug 2020&nbsp;&nbsp; <span style="font-size: 20px;"><i class="fa fa-filter filter"></i></span>
          </div>
        </div>

      </div>
    <div class="card-body">
      <mat-tab-group>
        <mat-tab label="All Sales ">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <p class="mt-1">
                  <b>Total Targets : 50,000</b>
                  <span class="float-right">August 2020</span>
                </p>
              </div>
              <div class="col-12">
                <p>
                  <ngb-progressbar showValue="true" type="warning" [value]="40" [max]="100"></ngb-progressbar>
                </p>
              </div>
              <div class="col-12">
                <p>
                  <b>Total Sales : <span class="text-warning">24,000</span></b>
                  <span class="float-right text-info">View Details</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="align-middle mb-0 table table-borderless">
                    <thead>
                        <tr style="white-space: nowrap;">
                            <th style="width: 20%;">Invoice ID </th>
                            <th >Client Contacts</th>
                            <th >Placed By</th>
                            <th >Bill Amount</th>
                            <th >Status </th>
                            <th >Action</th>                              
                        </tr>
                    </thead>
                    <tbody >
                      <tr>
                        <td ><b>NT00010</b></td>
                        <td>
                          <b>Hindustan Oil</b><br>
                          <span>19-28, Malakpet Secunderabad 9293187731</span>
                        </td>
                        <td>
                          <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary text-info">Abhinay Jain</button>
                            <div ngbDropdownMenu>
                              <button class="dropdown-item">Not Active</button>
                              <button class="dropdown-item">Idle</button>
                   
                            </div>
                          </div><br>
                          <span>15 August 2020, 8:30pm</span> 
                        </td>
                        <td><i class="fa fa-inr"></i> 20,000.00 </td>
                        <td>
                          <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary text-info">Completed</button>
                            <div ngbDropdownMenu>
                              <button class="dropdown-item">Not Active</button>
                              <button class="dropdown-item">Idle</button>
                   
                            </div>
                          </div><br>
                          <span>15 August 2020, 8:30pm</span> 
                        </td>
                        <td>
                          <i class="fa fa-pencil text-primary mr-2"></i>
                          <i class="fa fa-times text-danger"></i>
                        </td>
                      </tr>
                      <tr>
                        <td ><b>NT00011</b></td>
                        <td>
                          <b>Hindustan Oil</b><br>
                          <span>19-28, Malakpet Secunderabad 9293187731</span>
                        </td>
                        <td>
                          <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary text-info">Abhinay Jain</button>
                            <div ngbDropdownMenu>
                              <button class="dropdown-item">Not Active</button>
                              <button class="dropdown-item">Idle</button>
                   
                            </div>
                          </div><br>
                          <span>15 August 2020, 8:30pm</span> 
                        </td>
                        <td><i class="fa fa-inr"></i> 20,000.00 </td>
                        <td>
                          <div class="d-inline-block" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary text-info">Invoiced</button>
                            <div ngbDropdownMenu>
                              <button class="dropdown-item">Not Active</button>
                              <button class="dropdown-item">Idle</button>
                   
                            </div>
                          </div><br>
                          <span>15 August 2020, 8:30pm</span> 
                        </td>
                        <td>
                          <i class="fa fa-pencil text-primary mr-2"></i>
                          <i class="fa fa-times text-danger"></i>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                  
                </div>
              </div>
            </div>
          </div>
          
        </mat-tab>
        <mat-tab label="Tax Invoices ">Tax Invoices</mat-tab>
        <mat-tab label="Quotation ">Quotation </mat-tab>
        <mat-tab label="Clients ">
            <div class="row" style="padding-top: 25px;">
                <div class="col-md-6">
                    <p style="color:black; font-size: 20px;"><b> Clients</b></p>
                </div>
                <div class="col-md-6">
                    <div class="float-right">
                       <div class="d-inline-block" ngbDropdown>
                           <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-success">Add Product</button>
                           <div ngbDropdownMenu>
                             <button class="dropdown-item">Import Product</button>
                             <button class="dropdown-item">Export Product</button>
                  
                           </div>
                         </div>
                    </div>
                </div>
            </div>   
   
   
            <div class="card-body" style="padding-top: 25px;">
               <div class="responsive-table">
                   <table class="align-middle mb-0 table table-borderless">
                       <thead>
                           <tr style="white-space: nowrap;">
                               <th><mat-checkbox></mat-checkbox> </th>
                               <th>Clients/Company </th>
                               <th class="text-center">Last Invoice Generated</th>
                               <th class="text-center">Open Balance</th>
                               <th class="text-center">Overdue</th>
                               <th class="text-center">Unbilled Amount </th>
                               <th class="text-center">Last Paid</th>
                               <th class="text-center">Action</th>                              
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>1</td>
                               <td >
                                   <p>E10012 <br>
                                   <b>Chilli Store<br> 9635874205
                                
                                    </b>
                                   </p>
                               </td>
                               <td class="text-center">
                                   <p><b>&#x20B9; 10,000.00</b>
                                    <br>29 Aug,2020</p>
                               </td>
                               <td class="text-center">
                                <p><b>&#x20B9; 20,000.00</b></p>
                               </td>
                               <td class="text-center">
                                   <p> ------ </p>
                               </td>
                               <td class="text-center">
                                <p><b>&#x20B9; 20,000.00</b></p>
                               </td>
                               <td class="text-center" >
                                <p><b>&#x20B9; 10,000.00</b>
                                    <br>29 Aug,2020</p>
                               </td>                              
                               <td class="text-center">
                                   <div class="d-inline-block" ngbDropdown>
                                       <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Add Invoice</button>
                                       <div ngbDropdownMenu>
                                         <button class="dropdown-item text-center">Create Sales Receipt</button>
                                         <button class="dropdown-item">Create Estimate</button>
                                         <button class="dropdown-item">Send Payment Link</button>
                              
                                       </div>
                                     </div>
                               </td>
                           </tr>
                           <tr>
                            <td>2</td>
                            <td >
                                <p>E10012 <br>
                                <b>Fed Ex Store<br> 9635874205
                             
                                 </b>
                                </p>
                            </td>
                            <td class="text-center">
                                <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center">
                                <p> ------ </p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center" >
                             <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>                              
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Add Invoice</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item text-center">Create Sales Receipt</button>
                                      <button class="dropdown-item">Create Estimate</button>
                                      <button class="dropdown-item">Send Payment Link</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >
                                <p>E10012 <br>
                                <b>Burger King<br> 9635874205
                             
                                 </b>
                                </p>
                            </td>
                            <td class="text-center">
                                <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center">
                                <p> ------ </p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center" >
                             <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>                              
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Add Invoice</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item text-center">Create Sales Receipt</button>
                                      <button class="dropdown-item">Create Estimate</button>
                                      <button class="dropdown-item">Send Payment Link</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td >
                                <p>E10012 <br>
                                <b>Chilli Store<br> 9635874205
                             
                                 </b>
                                </p>
                            </td>
                            <td class="text-center">
                                <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center">
                                <p> ------ </p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center" >
                             <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>                              
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Add Invoice</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item text-center">Create Sales Receipt</button>
                                      <button class="dropdown-item">Create Estimate</button>
                                      <button class="dropdown-item">Send Payment Link</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td >
                                <p>E10012 <br>
                                <b>Chilli Store<br> 9635874205
                             
                                 </b>
                                </p>
                            </td>
                            <td class="text-center">
                                <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center">
                                <p> ------ </p>
                            </td>
                            <td class="text-center">
                             <p><b>&#x20B9; 20,000.00</b></p>
                            </td>
                            <td class="text-center" >
                             <p><b>&#x20B9; 10,000.00</b>
                                 <br>29 Aug,2020</p>
                            </td>                              
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Add Invoice</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item text-center">Create Sales Receipt</button>
                                      <button class="dropdown-item">Create Estimate</button>
                                      <button class="dropdown-item">Send Payment Link</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
   
                       </tbody>
                   </table>
                   <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                   </mat-paginator>
   
   
               </div>
           </div>  
            
        </mat-tab>
        <mat-tab label="Products ">
         <div class="row" style="padding-top: 25px;">
             <div class="col-md-6">
                 <p style="color:black; font-size: 20px;"><b> Products</b></p>
             </div>
             <div class="col-md-6">
                 <div class="float-right">
                    <div class="d-inline-block" ngbDropdown>
                        <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-success">Add Product</button>
                        <div ngbDropdownMenu>
                          <button class="dropdown-item">Import Product</button>
                          <button class="dropdown-item">Export Product</button>
               
                        </div>
                      </div>
                 </div>
             </div>
         </div>   


         <div class="card-body" style="padding-top: 25px;">
            <div class="responsive-table">
                <table class="align-middle mb-0 table table-borderless">
                    <thead>
                        <tr style="white-space: nowrap;">
                            <th><mat-checkbox></mat-checkbox> </th>
                            <th>Product Name/ID </th>
                            <th class="text-center">SKU</th>
                            <th class="text-center">HSN</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Type </th>
                            <th class="text-center">Per Price</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Low Stock  </th>
                            <th class="text-center">Action  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td >
                                <p>E10012 <br>
                                <span style="color: red">
                                Jeans</span></p>
                            </td>
                            <td class="text-center">
                                <p>E124562</p>
                            </td>
                            <td class="text-center">
                                <p>JKL24567</p>
                            </td>
                            <td class="text-center">
                                <p> Fashion </p>
                            </td>
                            <td class="text-center">
                                <p>Colour: Red<br>
                                SixeL L</p>
                            </td>
                            <td class="text-center" >
                                <p> &#x20B9; 50,000.00 </p>
                            </td>
                            <td class="text-center">
                                <p> 100 </p>
                            </td>
                            <td  class="text-center">
                                <p style="color: red;"> 30 </p>
                            </td>
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Edit</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item">2pcs</button>
                                      <button class="dropdown-item">3pcs</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td >
                                <p>E10012 <br>
                                <span style="color: red">
                                Jeans</span></p>
                            </td>
                            <td class="text-center">
                                <p>E124562</p>
                            </td>
                            <td class="text-center">
                                <p>JKL24567</p>
                            </td>
                            <td class="text-center">
                                <p> Fashion </p>
                            </td>
                            <td class="text-center">
                                <p>Colour: Red<br>
                                SixeL L</p>
                            </td>
                            <td class="text-center" >
                                <p> &#x20B9; 50,000.00 </p>
                            </td>
                            <td class="text-center">
                                <p> 100 </p>
                            </td>
                            <td  class="text-center">
                                <p style="color: red;"> 30 </p>
                            </td>
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Edit</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item">2pcs</button>
                                      <button class="dropdown-item">3pcs</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >
                                <p>E10012 <br>
                                <span style="color: red">
                                Jeans</span></p>
                            </td>
                            <td class="text-center">
                                <p>E124562</p>
                            </td>
                            <td class="text-center">
                                <p>JKL24567</p>
                            </td>
                            <td class="text-center">
                                <p> Fashion </p>
                            </td>
                            <td class="text-center">
                                <p>Colour: Red<br>
                                SixeL L</p>
                            </td>
                            <td class="text-center" >
                                <p> &#x20B9; 50,000.00 </p>
                            </td>
                            <td class="text-center">
                                <p> 100 </p>
                            </td>
                            <td  class="text-center">
                                <p style="color: red;"> 30 </p>
                            </td>
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Edit</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item">2pcs</button>
                                      <button class="dropdown-item">3pcs</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td >
                                <p>E10012 <br>
                                <span style="color: red">
                                Jeans</span></p>
                            </td>
                            <td class="text-center">
                                <p>E124562</p>
                            </td>
                            <td class="text-center">
                                <p>JKL24567</p>
                            </td>
                            <td class="text-center">
                                <p> Fashion </p>
                            </td>
                            <td class="text-center">
                                <p>Colour: Red<br>
                                SixeL L</p>
                            </td>
                            <td class="text-center" >
                                <p> &#x20B9; 50,000.00 </p>
                            </td>
                            <td class="text-center">
                                <p> 100 </p>
                            </td>
                            <td  class="text-center">
                                <p style="color: red;"> 30 </p>
                            </td>
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Edit</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item">2pcs</button>
                                      <button class="dropdown-item">3pcs</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td >
                                <p>E10012 <br>
                                <span style="color: black">
                                T-shirt</span></p>
                            </td>
                            <td class="text-center">
                                <p>E124562</p>
                            </td>
                            <td class="text-center">
                                <p>JKL24567</p>
                            </td>
                            <td class="text-center">
                                <p> Fashion </p>
                            </td>
                            <td class="text-center">
                                <p>Colour: Red<br>
                                SixeL L</p>
                            </td>
                            <td class="text-center" >
                                <p> &#x20B9; 50,000.00 </p>
                            </td>
                            <td class="text-center">
                                <p> 100 </p>
                            </td>
                            <td  class="text-center">
                                <p style="color: black;"> 30 </p>
                            </td>
                            <td class="text-center">
                                <div class="d-inline-block" ngbDropdown>
                                    <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-primary">Edit</button>
                                    <div ngbDropdownMenu>
                                      <button class="dropdown-item">2pcs</button>
                                      <button class="dropdown-item">3pcs</button>
                           
                                    </div>
                                  </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>


            </div>
        </div>
            
        </mat-tab>
        <mat-tab label="Cash Bills ">Cash Bills </mat-tab>
        <mat-tab label="Others">Others </mat-tab>
      </mat-tab-group>
    </div>
  </div>