<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"
    [btnIcon]="btnIcon"></app-page-title>


<div class="row">
    <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase">New accounts</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                  <div class="widget-chart-flex align-items-center">
                    <div>
                      <span class="opacity-10 text-success pr-2">
                        <fa name="angle-up"></fa>
                      </span>
                      234
                      <small class="opacity-5 pl-1">%</small>
                    </div>
                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                      <div class="circle-progress">
                        <div class="progress-circle-wrapper">
                          <div class="round-progress-text">
                            <span>42%</span>
                            <round-progress [current]="42" [max]="100" [color]="'#52c44f'" [background]="'#f0f0f0'"
                              [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                              [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                            </round-progress>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase">Total Expenses</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                  <div class="widget-chart-flex align-items-center">
                    <div>
                      <span class="opacity-10 text-danger pr-2">
                        <fa name="angle-down"></fa>
                      </span>
                      71
                      <small class="opacity-5 pl-1">%</small>
                    </div>
                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                      <div class="progress-circle-wrapper">
                        <div class="round-progress-text">
                          <span>71%</span>
                          <round-progress [current]="71" [max]="100" [color]="'#cc603c'" [background]="'#f0f0f0'"
                            [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                            [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                          </round-progress>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase">Company Value</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                  <div class="widget-chart-flex align-items-center">
                    <div>
                      <small class="opacity-5 pr-1">$</small>
                      1,45M
                    </div>
                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                      <div class="progress-circle-wrapper">
                        <div class="round-progress-text">
                          <span>55%</span>
                          <round-progress [current]="55" [max]="100" [color]="'#6bbdcc'" [background]="'#f0f0f0'"
                            [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                            [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                          </round-progress>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                <div class="widget-title opacity-5 text-uppercase">New Employees</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                  <div class="widget-chart-flex align-items-center">
                    <div>
                      <small class="text-success pr-1">+</small>
                      34
                      <small class="opacity-5 pl-1">hires</small>
                    </div>
                    <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                      <div class="progress-circle-wrapper">
                        <div class="round-progress-text">
                          <span>38%</span>
                          <round-progress [current]="38" [max]="100" [color]="'#aacc3e'" [background]="'#f0f0f0'"
                            [radius]="62" [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false"
                            [responsive]="true" [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0">
                          </round-progress>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="border: none;">Resuslt Searched 145
                <div class="btn-actions-pane-right" style="font-size: 15px;">
                    <div class="col-md-8 ">1 to 15 Aug 2020&nbsp;&nbsp; <i class="fa fa-filter filter"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-download"> <span style="color:red; font-weight: bold;">&nbsp;&nbsp;PDF/CSV</span> </i>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
           
            <div class="col-md-12" style="padding-top: 25px;">
                <span style="padding-right: 15px;">View Type</span>              
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="Bar Chart" style="padding-left: 10px;">Bar Chart</mat-radio-button>
                    <mat-radio-button value="Line Chart" style="padding-left: 10px;">Line Chart</mat-radio-button>
                    <mat-radio-button value="Pie Chart" style="padding-left: 10px;">Pie Chart</mat-radio-button>
                    <mat-radio-button value="Table" style="padding-left: 10px;">Table</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-md-11" style="padding-top: 25px;">                    
                    <div class="pane-right">                       
                        <div class="input-group">
                            <span style="padding-right: 15px;">Choose Fields</span> 
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <fa name="search"></fa>
                            </div>
                          </div>
                          <input placeholder="Item, SKU, No of Item +5 is selected" type="text" class="form-control">
                        </div>
                      </div>
                </div>
            <div class="card-body" style="padding-top: 25px;">
                <div class="responsive-table">
                    <table class="align-middle mb-0 table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>Reciept </th>
                                <th>Date & Time</th>
                                <th>Items</th>
                                <th>Status</th>
                                <th>Payment Method</th>
                                <th>Client</th>
                                <th>Executive</th>
                                <th>Order Total </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="color: #0993fb;">
                                    <p>0002 </p>
                                </td>
                                <td>
                                    <p>12 Nov 2020<br> 10.19am </p>
                                </td>
                                <td style="font-weight: bold;">
                                    <p>Jean(1)<br> T-Shirts(2)</p>
                                </td>
                                <td>
                                    <p> Completed </p>
                                </td>
                                <td class="text-center">
                                    <p>Card</p>
                                </td>
                                <td >
                                    <p> Chilli Store </p>
                                </td>
                                <td >
                                    <p> Abhinay </p>
                                </td>
                                <td  style="font-weight: bold;">
                                    <p> 364.00 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #0993fb;">
                                    <p>0002 </p>
                                </td>
                                <td>
                                    <p>12 Nov 2020<br> 10.19am </p>
                                </td>
                                <td style="font-weight: bold;">
                                    <p>Jean(1)<br> T-Shirts(2)</p>
                                </td>
                                <td>
                                    <p> Completed </p>
                                </td>
                                <td class="text-center">
                                    <p>Card</p>
                                </td>
                                <td >
                                    <p> Red Chilli </p>
                                </td>
                                <td >
                                    <p> Abhinay </p>
                                </td>
                                <td  style="font-weight: bold;">
                                    <p> 364.00 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #0993fb;">
                                    <p>0002 </p>
                                </td>
                                <td>
                                    <p>12 Nov 2020<br> 10.19am </p>
                                </td>
                                <td style="font-weight: bold;">
                                    <p>Jean(1)<br> T-Shirts(2)</p>
                                </td>
                                <td>
                                    <p> Completed </p>
                                </td>
                                <td class="text-center">
                                    <p>Card</p>
                                </td>
                                <td >
                                    <p> Burger King </p>
                                </td>
                                <td >
                                    <p> Abhinay </p>
                                </td>
                                <td  style="font-weight: bold;">
                                    <p> 384.00 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #0993fb;">
                                    <p>0002 </p>
                                </td>
                                <td>
                                    <p>12 Nov 2020<br> 10.19am </p>
                                </td>
                                <td style="font-weight: bold;">
                                    <p>Jean(1)<br> T-Shirts(2)</p>
                                </td>
                                <td>
                                    <p> Completed </p>
                                </td>
                                <td class="text-center">
                                    <p>Card</p>
                                </td>
                                <td >
                                    <p> Fed Ex </p>
                                </td>
                                <td >
                                    <p> Abhinay </p>
                                </td>
                                <td  style="font-weight: bold;">
                                    <p> 564.00 </p>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>


                </div>
            </div>
        </div>
    </div>
</div>