<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHoverMouseIn()"
  (mouseout)="sidebarHoverMouseOut()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar();">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true" class="scroll-container" [scrollIndicators]="true"
        style="max-width: 600px; max-height: 600px;">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-item">
              <a routerLink="/dashboard" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}"
                class="vsm-link">
                <i class="vsm-icon pe-7s-display1"></i>
                <span class="vsm-title">Dashboard</span>
              </a>
            </div>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Products</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Add Products</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/bulk"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Product Bulk Upload</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/productdetails" class="vsm-link">
                          <span class="vsm-title">Product Details</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/category" class="vsm-link">
                          <span class="vsm-title">Product Category</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/subcategory" class="vsm-link">
                          <span class="vsm-title">Product Sub Category</span></a>
                      </div>
                      <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/tax" class="vsm-link">
                          <span class="vsm-title">Tax</span></a>
                      </div> -->
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/pricelist" class="vsm-link">
                          <span class="vsm-title">Price List</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/createpricingproduct" class="vsm-link">
                          <span class="vsm-title">Create Pricing Strategy</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/viewpricingproduct" class="vsm-link">
                          <span class="vsm-title">View Pricing Strategy</span></a>
                      </div>
                      <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/stock" class="vsm-link">
                          <span class="vsm-title">Stock</span></a>
                      </div> -->
                      <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/overview" class="vsm-link">
                          <span class="vsm-title">Products Overview</span></a>
                      </div> -->
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/productoverview" class="vsm-link">
                          <span class="vsm-title">Product Overview</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/activeinactiveproduct" class="vsm-link">
                          <span class="vsm-title">Active/Inactive</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/batchproducts" class="vsm-link">
                          <span class="vsm-title">Batch Product</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/barcode" class="vsm-link">
                          <span class="vsm-title">Product Barcode</span></a>
                      </div>

                      <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/product/details" class="vsm-link">
                          <span class="vsm-title">Product Details</span></a>
                      </div> -->

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Services</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/services/addservice" class="vsm-link">
                          <span class="vsm-title">Add Services</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/services/viewservice" class="vsm-link">
                          <span class="vsm-title">View Services</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/services/servicecategory" class="vsm-link">
                          <span class="vsm-title">Services Category</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/services/servicesubcategory" class="vsm-link">
                          <span class="vsm-title">Services Sub Category</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Marketing</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/addleads" class="vsm-link">
                          <span class="vsm-title">Add Leads</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/viewleads" class="vsm-link">
                          <span class="vsm-title">View Leads</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/converttoclient" class="vsm-link">
                          <span class="vsm-title">Convert To Client</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/customform" class="vsm-link">
                          <span class="vsm-title">Custom Form</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/addtarget" class="vsm-link">
                          <span class="vsm-title">Add Target</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/viewtarget" class="vsm-link">
                          <span class="vsm-title">View Target</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/navigatetarget" class="vsm-link">
                          <span class="vsm-title">Navigate Target</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/addschemes" class="vsm-link">
                          <span class="vsm-title">Add Schemes</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/viewschemes" class="vsm-link">
                          <span class="vsm-title">View Schemes</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/marketing/areawise" class="vsm-link">
                          <span class="vsm-title">Area wise</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Stock</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/viewstocks" class="vsm-link">
                          <span class="vsm-title">View Stocks</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/addstock" class="vsm-link">
                          <span class="vsm-title">Add Stock</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/lowstock" class="vsm-link">
                          <span class="vsm-title">Low Stock</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/rawmaterial" class="vsm-link">
                          <span class="vsm-title">Raw Materials</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/batchstock" class="vsm-link">
                          <span class="vsm-title">Batch Stock</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/damagestock" class="vsm-link">
                          <span class="vsm-title">Damage Stock</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/giftstock" class="vsm-link">
                          <span class="vsm-title">Gift Stock</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/productstocks" class="vsm-link">
                          <span class="vsm-title">Products Stocks</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/packingmatrials" class="vsm-link">
                          <span class="vsm-title">Packing Materials</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/returnstock" class="vsm-link">
                          <span class="vsm-title">Return Stocks</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/expirystock" class="vsm-link">
                          <span class="vsm-title">Expiry Stock</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stock/outofstock" class="vsm-link">
                          <span class="vsm-title">Out Of Stocks</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Ware House</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/warehouse/addwarehouse" class="vsm-link">
                          <span class="vsm-title">Add Ware House</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/warehouse/viewwarehouse" class="vsm-link">
                          <span class="vsm-title">View Ware House</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/warehouse/areawisegroup" class="vsm-link">
                          <span class="vsm-title">Area Wise Group</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Payments</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/addpayments" class="vsm-link">
                          <span class="vsm-title">Add Payment</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/viewsalespayment" class="vsm-link">
                          <span class="vsm-title">View Sales Payment</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/salesbalance" class="vsm-link">
                          <span class="vsm-title">Sales Balance</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/invoicebalance" class="vsm-link">
                          <span class="vsm-title">Invvoice Balance</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/adddiscount" class="vsm-link">
                          <span class="vsm-title">Add Discount</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/viewdiscount" class="vsm-link">
                          <span class="vsm-title">View Discount</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/typesofdiscounts" class="vsm-link">
                          <span class="vsm-title">Types Of Discounts</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/payments/paymentgatewaysapis" class="vsm-link">
                          <span class="vsm-title">Payment Gateways Apis</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Accounting</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/nongstbill" class="vsm-link">
                          <span class="vsm-title">Non Gst Bill</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/addvouchers" class="vsm-link">
                          <span class="vsm-title">Add Vouchers</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/viewvouchers" class="vsm-link">
                          <span class="vsm-title">View Vouchers</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/typevouchers" class="vsm-link">
                          <span class="vsm-title">Type Vouchers</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/vendorpayments" class="vsm-link">
                          <span class="vsm-title">Vendors Payments</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/bankaccounts" class="vsm-link">
                          <span class="vsm-title">Bank Accounts</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/creditnotes" class="vsm-link">
                          <span class="vsm-title">Credit Notes</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/debitnotes" class="vsm-link">
                          <span class="vsm-title">Debit Notes</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/clientsledgers" class="vsm-link">
                          <span class="vsm-title">Clients Ledgers</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/vendorsledgers" class="vsm-link">
                          <span class="vsm-title">Vendors Ledgers</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/taxes" class="vsm-link">
                          <span class="vsm-title">Taxes</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/accountings/purchasepayments"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Purchase Payments</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Employees</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/employees/addemployee" class="vsm-link">
                          <span class="vsm-title">Add Employees</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/employees/viewemployees" class="vsm-link">
                          <span class="vsm-title">View Employees</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/employees/labours" class="vsm-link">
                          <span class="vsm-title">Labours</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/employees/adddepartment" class="vsm-link">
                          <span class="vsm-title">Add Department</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/employees/viewdepartment" class="vsm-link">
                          <span class="vsm-title">View Department</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/employees/appstatus" class="vsm-link">
                          <span class="vsm-title">App Status</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/employees/dailyreports" class="vsm-link">
                          <span class="vsm-title">Daily Reports</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Communication</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/overviewchat" class="vsm-link">
                          <span class="vsm-title">Overview Chat</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/exeappchat" class="vsm-link">
                          <span class="vsm-title">Exe App Chat</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/merchantsappchat" class="vsm-link">
                          <span class="vsm-title">Merchant App Chats</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/productreviews" class="vsm-link">
                          <span class="vsm-title">Product Reviews</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/vendorchat" class="vsm-link">
                          <span class="vsm-title">Vendor Chat</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/groupchat" class="vsm-link">
                          <span class="vsm-title">Group Chat</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/attachmentfiles" class="vsm-link">
                          <span class="vsm-title">Attachments Files</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/communication/chatsetting" class="vsm-link">
                          <span class="vsm-title">Chat Setting</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Merge</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/merge/addclientmerges" class="vsm-link">
                          <span class="vsm-title">Add Clients Merges</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/merge/viewclientsmerges" class="vsm-link">
                          <span class="vsm-title">View Clients Merges</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/merge/addgroupclient" class="vsm-link">
                          <span class="vsm-title">Add Group Client</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/merge/viewgroupclients" class="vsm-link">
                          <span class="vsm-title">View Group Clients</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Manage Users</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/manageusers/viewusers" class="vsm-link">
                          <span class="vsm-title">View Users</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/manageusers/createroles" class="vsm-link">
                          <span class="vsm-title">Create Roles</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/manageusers/viewroles" class="vsm-link">
                          <span class="vsm-title">View Roles</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/manageusers/userpermission" class="vsm-link">
                          <span class="vsm-title">User Permission</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/manageusers/merchantpermission" class="vsm-link">
                          <span class="vsm-title">Merchant Permission</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/manageusers/userstatus" class="vsm-link">
                          <span class="vsm-title">User Status</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/manageusers/distributoracess" class="vsm-link">
                          <span class="vsm-title">Distributor Access</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">Goods Assets</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/goodsassets/viewdevices" class="vsm-link">
                          <span class="vsm-title">View Devices</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/goodsassets/driverprofiles" class="vsm-link">
                          <span class="vsm-title">Driver Profiles</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/goodsassets/requestdevices" class="vsm-link">
                          <span class="vsm-title">Request Devices</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/goodsassets/complaints" class="vsm-link">
                          <span class="vsm-title">Complaints</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/goodsassets/adddevice" class="vsm-link">
                          <span class="vsm-title">Add Device</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/goodsassets/devicestates" class="vsm-link">
                          <span class="vsm-title">Device Statess</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/goodsassets/geofetching" class="vsm-link">
                          <span class="vsm-title">Geo Fetching</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shopbag"></i>
                    <span class="vsm-title">HRA</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/hra/attendance" class="vsm-link">
                          <span class="vsm-title">Attendance</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/hra/expenditure" class="vsm-link">
                          <span class="vsm-title">Expenditure</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/hra/leave" class="vsm-link">
                          <span class="vsm-title">Leave</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/hra/hrafullaccess" class="vsm-link">
                          <span class="vsm-title">HRA Full Access</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">Pricing</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pricing/strategy"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Pricing Strategy</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pricing/create" class="vsm-link">
                          <span class="vsm-title">Create Pricing</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pricing/details" class="vsm-link">
                          <span class="vsm-title">Pricing Details</span></a>
                      </div>


                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion> -->
            <!-- Discount  -->
            <!-- <div class="vsm-item">
              <a routerLink="/discount" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}"
                class="vsm-link">
                <i class="vsm-icon pe-7s-cash"></i>
                <span class="vsm-title">Discount</span>
              </a>
            </div> -->


            <!-- Offers -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-ticket"></i>
                    <span class="vsm-title">Discounts</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/discounts"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">View Discounts</span></a>
                      </div>



                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- End of Offers -->

            <!-- Vendor -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-ticket"></i>
                    <span class="vsm-title">Vendors</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors/addvendor"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Add Vendors</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">View Vendors</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors/business"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Vendor Types</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors/vendorportal"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Vendor Portal</span></a>
                      </div>

                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors/purchasegoods"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Goods Purchase</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors/orderpurchase"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Add Purchse Orders View</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors/orderpurchasedetails"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Purchase Order Details</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/vendors/quotation"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Purchase Quotation</span></a>
                      </div>





                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- End of Vendor -->



            <!-- Sales -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">Sales</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">

                      <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/target" class="vsm-link">
                          <span class="vsm-title">Target Overview</span></a>
                      </div> -->
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/addorder" class="vsm-link">
                          <span class="vsm-title">Add Order</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/vieworder" class="vsm-link">
                          <span class="vsm-title">View Order</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/draftorder"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Draft Order</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/orderstatus"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Order Status</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/dispatchorders"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Dispatch Orders </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/viewquotations"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">View Quotations</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/nonorderclients"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Non Order Clients</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/viewbills"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">View Bills</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/orderformat"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Order Format</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/overview"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Sales Overview</span></a>
                      </div>

                      <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/sales/invoicepdf" class="vsm-link">
                          <span class="vsm-title">Invoice PDF</span></a>
                      </div> -->


                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- client -->

            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">Clients</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client/addnewclient" class="vsm-link">
                          <span class="vsm-title">Add Client</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client" [routerLinkActiveOptions]="{exact: true}"
                          class="vsm-link">
                          <span class="vsm-title">View Clients</span></a>
                      </div>
                      <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client/leads" class="vsm-link">
                          <span class="vsm-title">Leads</span></a>
                      </div> -->
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client/category" class="vsm-link">
                          <span class="vsm-title">Clients Category</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client/clientstatus" class="vsm-link">
                          <span class="vsm-title">Clients Status</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client/merchants" class="vsm-link">
                          <span class="vsm-title">Merchants App Access</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client/inactiveclients" class="vsm-link">
                          <span class="vsm-title">Inactive Clients </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/client/routeNumber" class="vsm-link">
                          <span class="vsm-title">Route No</span></a>
                      </div>


                      <!-- <div class="vsm-item">
                      <a routerLinkActive="active-item" routerLink="/client/viewclient" class="vsm-link">
                        <span class="vsm-title">View Client</span></a>
                    </div>
                    <div class="vsm-item">
                      <a routerLinkActive="active-item" routerLink="/client/editclient" class="vsm-link">
                        <span class="vsm-title">Edit Client</span></a>
                    </div> -->



                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <!-- Executive -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-id"></i>
                    <span class="vsm-title">Executive</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/executive/"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Executive</span></a>
                      </div>

                      <!-- <div class="vsm-item">
                      <a routerLinkActive="active-item" routerLink="/executive/view" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                        <span class="vsm-title">Executive View</span></a>
                    </div> -->


                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">Task</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/task/addtask"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Add Task </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/task" [routerLinkActiveOptions]="{exact: true}"
                          class="vsm-link">
                          <span class="vsm-title">View Task </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/task/taskstatus"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Task Status</span></a>
                      </div>
                      <!-- <div class="vsm-item">
                      <a routerLinkActive="active-item" routerLink="/task/add" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                        <span class="vsm-title">Add Task </span></a>
                    </div> 
                    <div class="vsm-item">
                      <a routerLinkActive="active-item" routerLink="/task/view" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                        <span class="vsm-title">View Task </span></a>
                    </div>     
                    <div class="vsm-item">
                      <a routerLinkActive="active-item" routerLink="/task/client" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                        <span class="vsm-title">Client  </span></a>
                    </div>   -->
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>


            <!-- track -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">Live Track</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/track/livemap"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Live Map </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/track/trackinghistory"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Tracking history </span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <!-- Trips -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">Trips</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/trips/trips"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">View Trips </span></a>
                      </div>
                      <!-- Add Trips -->
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/trips/addtrip"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Add Trips </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/trips/grouptrip"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Group Trips </span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <!-- Devices -->
            <!-- <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">Devices</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/device/device"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Devices </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/device/complaints"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Complaints </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/device/requests"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Device Requests </span></a>
                      </div>
                     Add Trips
                    <div class="vsm-item">
                      <a routerLinkActive="active-item" routerLink="/trips/addtrip" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                        <span class="vsm-title">Add Trips  </span></a>
                    </div>  
                    </div>

                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion> -->



            <!-- <div class="vsm-item">
              <a routerLink="/order" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}"
                class="vsm-link">
                <i class="vsm-icon pe-7s-cart"></i>
                <span class="vsm-title">Orders</span>
              </a>
            </div> -->

            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel id="widgets">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-car"></i>
                    <span class="vsm-title">Dispatch</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/dispatch/overviewdispatch"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Overview Dispatch </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/dispatch/pendingdispatch"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Pending Dispatch </span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/dispatch/completeddispatch"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Completed Dispatch</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/dispatch/cancelleddispatch"
                          [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                          <span class="vsm-title">Cancelled Dispatch</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>





            <!-- <div class="vsm-item">
              <a routerLink="/dispatch" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}"
                class="vsm-link">
                <i class="vsm-icon pe-7s-car"></i>
                <span class="vsm-title">Dispatch</span>
              </a>
            </div> -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Settings</div>
                </ng-template>
              </ngb-panel>

            </ngb-accordion>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/companyprofile" class="vsm-link">
                <span class="vsm-title">Company Profile</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/datetimeformat" class="vsm-link">
                <span class="vsm-title">Date&Time Format </span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/smsintegration" class="vsm-link">
                <span class="vsm-title">Sms Integrtion</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/emailintegration" class="vsm-link">
                <span class="vsm-title">Email Integrtion</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/bulkupload" class="vsm-link">
                <span class="vsm-title">Bulk Upload</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/packagedetails" class="vsm-link">
                <span class="vsm-title">Package Details</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/version" class="vsm-link">
                <span class="vsm-title">Version</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/themecolor" class="vsm-link">
                <span class="vsm-title">Theme Color</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/passwordchange" class="vsm-link">
                <span class="vsm-title">Password Change</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/help" class="vsm-link">
                <span class="vsm-title">Help</span></a>
            </div>
            <div class="vsm-item">
              <a routerLinkActive="active-item" routerLink="/settings/otherapis" class="vsm-link">
                <span class="vsm-title">Others Apis</span></a>
            </div>
            <!-- Reports   -->

            <!-- <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Reports</div>
                </ng-template>
              </ngb-panel>

            </ngb-accordion>
            <div class="vsm-item">
              <a routerLink="/report/sales" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}"
                class="vsm-link">
                <span class="vsm-title">Sales Report</span>
              </a>
            </div>
            <div class="vsm-item">
              <a routerLink="/report/task" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}"
                class="vsm-link">
                <span class="vsm-title">Task Report</span>
              </a>
            </div>
            <div class="vsm-item">
              <a routerLink="/report/payment" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}"
                class="vsm-link">
                <span class="vsm-title">Payment Report</span>
              </a>
            </div> -->





          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>