<div class="card main-card p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="position-relative form-group" class="form-group has-warning">
                <mat-form-field  class="full-width">
                  <mat-label>Select Client</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.id">
                      food.name
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <small>Membership Number #12345Z</small>
              </div>

        </div>
        <div class="col-md-4">
            <div class="position-relative form-group" class="form-group has-warning">
                <mat-form-field  class="full-width">
                  <mat-label>Catrgory</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.id">
                      food.name
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
              </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative form-group">
                <mat-form-field class="full-width">
                  <mat-label>Client Email</mat-label>
                  <input matInput required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                
                #mail="ngModel"
                [(ngModel)]="invoice.mail"    
                name="mail" 
                id="mail" 
                type="email" 
                placeholder="Client Email"
                >
                <mat-error *ngIf="mail.touched && mail.errors?.required">
                  Organization Email required</mat-error>
                  <mat-error *ngIf="mail.errors?.pattern">Invalid Email ( eg : info@neemiit.com )</mat-error>
                  </mat-form-field>
                  <div><small><input type="checkbox"  name="sendlater" ><span style="vertical-align: top;">  &nbsp; Send Later</span></small>
                    <span style="display: inline-block;float: right;color: #3b86ff;"><small>Cc/Bcc</small></span>
                </div>
              </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 ">
           <div class="row table-bordered p-2">
               <div class="col-md-3" style="border-right: 1px solid #e9ecef;"><small style="font-size: 10px;">Opening Balance</small><br>
                <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 1,50,2435</b>
                </div>
                
                <div class="col-md-3" style="border-right: 1px solid #e9ecef;" ><small style="font-size: 10px;">Last Paid Amount </small><br>
                    <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 2,90,1485</b>
                </div>
                <div class="col-md-3" style="border-right: 1px solid #e9ecef;"><small style="font-size: 10px;">Credit Limit &nbsp;<i class="fa fa-pencil"></i></small><br>
                    <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 1,50,2435</b>
                </div>
                <div class="col-md-3" ><small style="font-size: 10px;">Due Balance</small><br>
                    <b style="color: #940909;font-size: 20px;"><i class="fa fa-inr"></i> 2,90,1485</b>
                </div>
        </div>
    
       
    </div>
    </div>
    <!-- After Box Div -->
    <div class="row mb-3 ">
        <div class="col-md-6">
            <div class="row">
            <div class="col-md-6">
                <div class="position-relative form-group" class="form-group has-warning">
                    <mat-form-field  class="full-width">
                      <mat-label>Over Taken By</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.id">
                          food.name
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group" class="form-group has-warning">
                    <mat-form-field class="full-width">
                      <mat-label>Invoice No.</mat-label>
                    <input matInput required
                     ngModel
                     #invoiceNo="ngModel"
                     name="invoiceNo" 
                     id="invoiceNo"
                     placeholder="Enter Invoice No."
                     type="text" 
                     [(ngModel)]="invoice.invoiceNo"
                     class="form-control-warning">
                    <mat-error *ngIf="invoiceNo.touched && !invoiceNo.valid">
                        Invoice No. required</mat-error>
                     </mat-form-field>
      
                  </div>
            </div>
            </div>
        </div>
        <!-- secound half -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label >Invoice Date</mat-label>
                        <input matInput required name="dob" id="dob" placeholder="Enter Invoice Date" type="date"  [(ngModel)]="invoice.InvoiceDate" required>
                      </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group" class="form-group has-warning">
                        <mat-form-field  class="full-width">
                          <mat-label>Term</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.id">
                              food.name
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <mat-label >Due Date</mat-label>
                        <input matInput required name="dob" id="dob" placeholder="Enter Due Date" type="date"  [(ngModel)]="invoice.dueDate" required>
                      </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Billing Address Div -->
    <div class="row mb-3 ">
        <div class="col-md-6">
            <div class="row">
            <div class="col-md-6">
                <mat-label>Billing Address</mat-label>
            </div>

                <div class="col-md-6">
                    <div><small><span style="display: inline-block;float: right;"><input type="checkbox" name="sendlater" > <span style="vertical-align: top;"> &nbsp; Add a Shipping Address</span></span></small>
                </div>
            </div>
            </div>
        </div>
        <!-- secound half -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <div>
                            <small>
                                <span style="vertical-align: top;"> &nbsp; Ship Via
                                </span>
                                <span style="display: inline-block;float: right;">
                                    <input type="checkbox" name="sendlater" >
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <div>
                            <small>
                                <span style="vertical-align: top;"> &nbsp; Shipping Date
                                </span>
                                <span style="display: inline-block;float: right;">
                                    <input type="checkbox" name="sendlater" >
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <div>
                            <small>
                                <span style="vertical-align: top;"> &nbsp; Tracking No.
                                </span>
                                <span style="display: inline-block;float: right;">
                                    <input type="checkbox" name="sendlater" >
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- billing Address text fields -->

    <div class="row mb-3 ">
        <div class="col-md-6">
                <div class="position-relative form-group" class="form-group has-warning">
                    <mat-form-field class="full-width">
                      <!-- <mat-label>Invoice No.</mat-label> -->
                    <input matInput 
                     ngModel
                     #invoiceNo="ngModel"
                     name="invoiceNo" 
                     id="invoiceNo"
                     placeholder="Enter Billing Address"
                     type="text" 
                     [(ngModel)]="invoice.invoiceNo"
                     class="form-control-warning"
                     >
                    <mat-error *ngIf="invoiceNo.touched && !invoiceNo.valid">
                        Invoice No. required</mat-error>
                     </mat-form-field>
                    </div>
                </div>
        <!-- secound half -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative form-group" class="form-group has-warning">
                        <mat-form-field class="full-width">
                          <!-- <mat-label>Invoice No.</mat-label> -->
                        <input matInput 
                         ngModel
                         #invoiceNo="ngModel"
                         name="invoiceNo" 
                         id="invoiceNo"
                         placeholder=""
                         type="text" 
                         [(ngModel)]="invoice.invoiceNo"
                         class="form-control-warning"
                         >
                        <mat-error *ngIf="invoiceNo.touched && !invoiceNo.valid">
                            Invoice No. required</mat-error>
                         </mat-form-field>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <mat-form-field class="full-width">
                          <!-- <mat-label > Date</mat-label> -->
                        <input matInput  name="dob" id="dob" placeholder="Enter Due Date" type="date"  [(ngModel)]="invoice.dueDate" required>
                      </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group" class="form-group has-warning">
                        <mat-form-field class="full-width">
                          <!-- <mat-label>Invoice No.</mat-label> -->
                        <input matInput 
                         ngModel
                         #invoiceNo="ngModel"
                         name="invoiceNo" 
                         id="invoiceNo"
                         placeholder=""
                         type="text" 
                         [(ngModel)]="invoice.invoiceNo"
                         class="form-control-warning"
                         >
                        <mat-error *ngIf="invoiceNo.touched && !invoiceNo.valid">
                            Invoice No. required</mat-error>
                         </mat-form-field>
                        </div>
                </div>
               
            </div>
        </div>
    </div>

    <!-- place of saupply -->
    <div class="row mb-3 ">
        <div class="col-md-6">
            <div class="row">
            <div class="col-md-6">
                <div class="position-relative form-group" class="form-group has-warning">
                    <mat-form-field  class="full-width">
                      <mat-label>Place Of Supply</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.id">
                          food.name
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group" class="form-group has-warning">
                    <mat-form-field class="full-width">
                      <mat-label>Order Approver By</mat-label>
                    <input matInput 
                     ngModel
                     #invoiceNo="ngModel"
                     name="invoiceNo" 
                     id="invoiceNo"
                     placeholder="Enter Invoice No."
                     type="text" 
                     [(ngModel)]="invoice.invoiceNo"
                     class="form-control-warning">
                    <mat-error *ngIf="invoiceNo.touched && !invoiceNo.valid">
                        Invoice No. required</mat-error>
                     </mat-form-field>
      
                  </div>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <a class="text-primary float-left ">
                <span style="display: inline-block;vertical-align: middle;margin-right: 10px;" class="material-icons">add_circle</span>
                Add New Field</a>
        </div>
        </div>
    
      <!-- Table View        -->
      <table class="table table-striped ">
        <thead>
            <tr >
                <th scope="col">S.No</th>
                <th  scope="col">Product Name</th>
                <th scope="col">HSN Code</th>
                <th scope="col">Category</th>  
                <th scope="col">Type</th>
                <th scope="col">Stock</th>
                <th scope="col">Quantity</th>
                <th scope="col">Per Price</th>
                <th scope="col">Base Amt</th>
                <th scope="col">Discount</th>
                <th scope="col">Tax %</th>
                <!-- <th scope="col">Action</th> -->
                
            </tr>
        </thead>
        <tbody>
            <tr >
                <td style="vertical-align: middle;">
                    <span  style="display: inline-block;vertical-align: middle;margin-right: 10px;color: #3f6ad8;" class="material-icons">add_circle</span>
                    
                </td>
                <td style="vertical-align: middle;"> 
                        <div class="form-group">
                            <div class=" input-group">
                                <ng-select [items]="gst"  name="tax" bindLabel="name" placeholder="Select city" [(ngModel)]="selectedCity">
                                </ng-select>
                            </div>
                          </div>
                    
                </td>
                <td style="vertical-align: middle;">Sw2344</td>
                <td style="vertical-align: middle;">Men</td>
                <td>
                    <ul>
                        <li>
                            <div class="form-group">
                                <div class=" input-group">
                                    <ng-select [items]="gst"  name="tax" bindLabel="name" placeholder="Select city" [(ngModel)]="selectedCity">
                                    </ng-select>
                                </div>
                              </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class=" input-group">
                                    <ng-select [items]="gst"  name="tax" bindLabel="name" placeholder="Select city" [(ngModel)]="selectedCity">
                                    </ng-select>
                                </div>
                              </div>
                        </li>
                    </ul>
                        
                   
                     

                </td>
                <td style="vertical-align: middle;" style="color: #940909;">50 </td>
                    
                <td style="vertical-align: middle;" >
                        <div class="form-group">
                            <div class=" input-group">
                              <input id="1" name="retail" placeholder="40" [(ngModel)]="myModel" type="text" class="form-control" />
                            </div>
                          </div>
                     </td>
                     <td style="vertical-align: middle;" >
                        <div class="form-group">
                            <div class=" input-group">
                              <input id="1" name="retail" placeholder="3455" [(ngModel)]="myModel" type="text" class="form-control" />
                            </div>
                          </div>
                     </td>
                     
                     <td style="vertical-align: middle;" >
                        <div class="form-group">
                            <div class=" input-group">
                              <input id="1" name="retail" placeholder="1,55,475.00" [(ngModel)]="myModel" type="text" class="form-control" />
                            </div>
                          </div>
                     </td>

                     <td style="vertical-align: middle;" >
                        <div class="form-group">
                            <div class=" input-group">
                              <input id="1" name="retail" placeholder="25%" [(ngModel)]="myModel" type="text" class="form-control" />
                            </div>
                          </div>
                     </td>

                     <td style="vertical-align: middle;" >
                        <div class="form-group">
                            <div class=" input-group">
                              <input id="1" name="retail" placeholder="18%" [(ngModel)]="myModel" type="text" class="form-control" />
                            </div>
                          </div>
                     </td>
                
                <td></td>
                <td></td>
                <td style="vertical-align: middle;"><i class="fa fa-trash"></i></td>
            </tr>
        </tbody>
    </table>


    <!-- sub-total div -->
    <div class=" p-3 mb-2" >
        <div class="row">
            <div class="col-md-4">
                <div class="row p-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message On Invoice</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                          </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message On Statement</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                          </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Attachments -- Max Size: 20MB</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                          </div>
                    </div>
            </div>
            <div class="row p-4">
                <div class="col-md-12 ">
                    <a class="text-muted float-left ">
                        <span style="display: inline-block;vertical-align: middle;margin-right: 10px;" class="material-icons text-primary">add_circle
                        </span>
                            Add Bank Account
                    </a>
                </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 text-right">
                    <div class="p-1"><b>Sub-total</b></div>
                    <div class="row p-1">
                        <div class="col-md-8 form-group ">
                            <div class=" input-group">
                                <ng-select [items]="gst"  name="tax" bindLabel="name" placeholder="Select city" [(ngModel)]="selectedCity">
                                </ng-select>
                            </div>
                          </div>
                          <div class="col-md-4 form-group">
                            <div class=" input-group">
                              <input id="1" name="retail" placeholder="18%" [(ngModel)]="myModel" type="text" class="form-control" />
                            </div>
                          </div>
                    </div>
                    <div class="p-1">Total Discount</div>
                    <div class="p-1 form-group">CGST </div>
                    <div class="p-1 form-group">SGST</div>
                    <div class="p-1 form-group">IGST</div>
                    <div class="p-1">Total </div>
                    <div class="p-1 form-group">Deposite</div>
                    <div class="p-1 form-group">Credit Note</div>
                    <div class="row p-1">
                        <div class="col-md-8 form-group ">
                            <div class=" input-group">
                                <ng-select [items]="gst"  name="tax" bindLabel="name" placeholder="Select city" [(ngModel)]="selectedCity">
                                </ng-select>
                            </div>
                          </div>
                          <div class="col-md-4 form-group">
                           <button class="btn btn-outline-secondary ml-2">Apply</button>
                          </div>
                    </div>
                   
            </div>
            <div class="col-md-2 text-right">
                    <div class="p-1" style="font-size: 20px;"><b><i class="fa fa-inr"></i> 90,000.10</b></div>
                    <div class="p-1 text-right" style="font-size: 15px;margin: 10px;"> <b><i style="font-size: 20px;" class="fa fa-inr"></i> 0.00</b></div>
                    <div class="p-1" style="font-size: 15px;"> <b><i style="font-size: 20px;" class="fa fa-inr"></i></b> 4,500.00(5%)</div>
                    <div class="p-1">
                        <div class="col-md-12 form-group mb-0">
                            <div class=" input-group">
                              <input id="1" name="retail" placeholder="8,100.00" [(ngModel)]="myModel" type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="p-1">
                            <div class="col-md-12 form-group mb-0">
                                <div class=" input-group">
                                  <input id="1" name="retail" placeholder="8,100.00" [(ngModel)]="myModel" type="text" class="form-control" />
                                </div>
                              </div>
                            </div>
                            <div class="p-1">
                                <div class="col-md-12 form-group mb-0">
                                    <div class=" input-group">
                                      <input id="1" name="retail" placeholder="IGST" [(ngModel)]="myModel" type="text" class="form-control" />
                                    </div>
                                  </div>
                                </div>
                                <div class="p-1"><b><i class="fa fa-inr"></i> 93,260.00 </b></div>
                                <div class="p-1">
                                    <div class="col-md-12 form-group mb-0">
                                        <div class=" input-group">
                                          <input id="1" name="retail" placeholder="Deposite" [(ngModel)]="myModel" type="text" class="form-control" />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="p-1">
                                        <div class="col-md-12 form-group mb-0">
                                            <div class=" input-group">
                                              <input id="1" name="retail" placeholder="Credit Note" [(ngModel)]="myModel" type="text" class="form-control" />
                                            </div>
                                          </div>
                                        </div>
                                        <div class="p-1 text-right" style="font-size: 15px;margin: 10px;"> <b><i style="font-size: 20px;" class="fa fa-inr"></i> 0.00</b> <i class="fa fa-trash ml-3"></i></div>
                   
                </div >
                
            
    
        </div>
    
    <!-- last Div -->

    
    
<!-- Fotter Div -->
<div class=" p-3" style="background-color: #c8c8c8;">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="mr-2 btn btn-outline-dark "><b>Cance</b>   </button>
            <button type="button" class="mr-2 btn btn-outline-danger"><b>Clear</b></button>
            </div>
            <div class="col-md-4">
            <button type="button" class="mr-2 btn btn-primary"><b>Send To Dispatch  </b>  </button>
            </div>
           
        <div class="col-md-4 text-right">
            <button type="button" class="mr-2 btn btn-outline-info"><b>Print & Priview </b>   </button>
            <button type="button" class="mr-2 btn btn-primary">Save & New</button>
            <!-- pending with save as dropdown in UI work on while when functionality part -->
        </div>
    </div>
</div>  
    
    </div>
    <!-- </div> -->