<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
  [btnIcon]="btnIcon"
></app-page-title>

<form #offerForm="ngForm" (ngSubmit)="addDiscounts(offerForm)">
<div class="main-card mb-3 card">
  <div class="card-body">
    <h6 class="p-2 text-primary"><b>Discount Datails</b></h6>
  
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label>Offer Name</label>
            <mat-form-field class="full-width">
              <input
                matInput
                required
                name="name"
                #name="ngModel"
                id="name"
                [(ngModel)]="offer.name"
                placeholder="Enter Offer Name"
                type="text"
              />
              <mat-error *ngIf="name.touched && !name.valid">
                Offer Name Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="position-relative form-group">
            <label>Offer Diaplay Name</label>
            <mat-form-field class="full-width">
              <input
                matInput
                required
                name="displayName"
                id="displayName"
                #displayName="ngModel"
                [(ngModel)]="offer.displayName"
                placeholder="Enter Offer Diaplay Name"
                type="text"
              />
              <mat-error *ngIf="displayName.touched && !displayName.valid">
                Display Name Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <label>Description</label>
          <mat-form-field class="full-width">
            <input
              matInput
              [(ngModel)]="offer.description"
              #description="ngModel"
              type="text"
              name="description"
              id="description"
              placeholder="Enter Description About Offer"
              required
            />
            <mat-error *ngIf="description.touched && !description.valid">
              Description Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- startdate -->
      <div class="form-row mt-3">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-label for="start">Offer Start Date And Time</mat-label>
            <mat-form-field class="full-width">
              <input
                type="text"
                matInput
                ngxDaterangepickerMd
                [timePicker]="true"
                [locale]="{ format: 'DD MMM, YYYY hh:mm a' }"
                [autoApply]="true"
                [singleDatePicker]="true"
                [(ngModel)]="offer.startDate1"
                placeholder="Enter Start Date"
                #startDate="ngModel"
                name="startDate"
                autocomplete="off"
                required
              />
              <mat-error *ngIf="startDate.touched && !startDate.valid">
                startDate Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Enddate   -->
        <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-label for="start">Offer Expire Date And Time</mat-label>

            <mat-form-field class="full-width">
              <input
                type="text"
                matInput
                ngxDaterangepickerMd
                [timePicker]="true"
                [locale]="{ format: 'DD MMM, YYYY hh:mm a' }"
                [autoApply]="true"
                [singleDatePicker]="true"
                [(ngModel)]="offer.endDate1"
                placeholder="Enter End Date"
                name="endDate"
                autocomplete="off"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </div>

     
</div>
</div> 
  

<div class="main-card mb-3 card">
  <div class="card-body">
    <div class="card-body">
      <h6 class="p-2 text-primary"><b>Discount Type</b></h6>
    
        <div class="form-row">
          <!-- type -->
          <div class="col-md-6" >
            <div class="position-relative form-group">
                <mat-form-field class="full-width">
                    <mat-label>Offer Type</mat-label>
                <mat-select [(ngModel)]="offer.offerType" (ngModelChange)="dataClear($event)"  name="offerType" id="offerType" #offerType="ngModel"  [required]>
                    <mat-option  *ngFor="let type of offerTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="offerType.touched && !offerType.valid">
                  Offer Type Required</mat-error>
                  
                  </mat-form-field>
              </div>
            </div> 
            <div class="col-md-6" *ngIf="offer.offerType=='PRODUCT'">
              <div class="position-relative form-group">
                  <mat-form-field class="full-width">
                      <mat-label>Product Category</mat-label>
                  <mat-select [(ngModel)]="offer.offerCategory" (ngModelChange)="dataClear($event)"  name="productcat" id="productcat" #productcat="ngModel"  >
                      <mat-option  *ngFor="let p of offerCategorys" [value]="p">{{p}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="productcat.touched && !productcat.valid">
                    product Category Required</mat-error>
                    
                    </mat-form-field>
                </div>
              </div> 
            <!-- For OrderValue -->
            <div class="col-md-12 row" *ngIf="offer.offerType=='ORDER_VALUE'">
              <div class="position-relative form-group">
                <div class="discountbox">
                  <p>Apply <b> {{offer.detail.discountPer}} % </b> Discount if total order is more than then  <b> {{offer.detail.discountAmount}}</b> amount </p>
                  <span >
                    <p>
                      Total order value is more than or equal to 
                      <mat-form-field >
                        <input
                matInput
                required
                name="displayName"
                id="displayName"
                #displayName="ngModel"
                [(ngModel)]="offer.detail.discountAmount"
                placeholder="Value"
                type="number"
              />
              <mat-icon matSuffix>₹</mat-icon>
                      </mat-form-field>
                       apply discount 
                        <mat-form-field >
                        <input
                matInput
                required
                name="displayName"
                id="displayName"
                #displayName="ngModel"
                [(ngModel)]="offer.detail.discountPer"
                placeholder="%"
                type="number"
              />
              <mat-icon matSuffix>%</mat-icon>
                      </mat-form-field>  Off
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <!-- /For OrderValue -->

            <div *ngIf="offer.offerType=='PRODUCT'"> 

           

            <!-- type 1 -->
            <div class="col-md-12 row" *ngIf="offer.offerCategory=='I'" >
              <div class="position-relative form-group">
                <div class="discountbox">
                  <p>Offer a set <b> {{offer.detail.discountPer}} % </b> Discount on selected products</p>
                  <span >
                    <p>
                       apply discount 
                        <mat-form-field >
                        <input
                matInput
                required
                name="displayName"
                id="displayName"
                #displayName="ngModel"
                [(ngModel)]="offer.detail.discountPer"
                placeholder="%"
                type="number"
              />
              <mat-icon matSuffix>%</mat-icon>
                      </mat-form-field>  Off On selected products 
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <!-- /type 1 -->


            <!-- type 2 -->
            <div class="col-md-12 row" *ngIf="offer.offerCategory=='II'" >
              <div class="position-relative form-group">
                <div class="discountbox">
                  <p>Buy <b>{{offer.detail.disOnQty}}</b> quantity and get  <b> {{offer.detail.getQty}}  </b>  more units of the same product for free</p>
                  <span >
                    <p>Buy
                        <mat-form-field >
                        <input
                matInput
                required
                name="displayName"
                id="displayName"
                #displayName="ngModel"
                [(ngModel)]="offer.detail.disOnQty"
                placeholder="Qty"
                type="number"
              />
                      </mat-form-field>
                        Of 
                        <mat-form-field >
                          <mat-select [(ngModel)]="offer.detail.productAId"  name="product" id="product" #product="ngModel" placeholder="Select Product " required >
                            <mat-option  *ngFor="let p of products" [value]="p">{{p}}</mat-option>
                        </mat-select>
                        </mat-form-field> 
                        Get 
                        <mat-form-field >
                          <input
                  matInput
                  required
                  name="displayName"
                  id="displayName"
                  #displayName="ngModel"
                  [(ngModel)]="offer.detail.getQty"
                  placeholder="Qty"
                  type="number"
                />
                        </mat-form-field>
                        Unit/s of the same product for free.
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <!-- /type 2 -->

            <!-- type 3 -->
            <div class="col-md-12 row" *ngIf="offer.offerCategory=='III'" >
              <div class="position-relative form-group">
                <div class="discountbox">
                  <p>Buy <b>{{offer.detail.disOnQty}}</b> or more units to receive <b> {{offer.detail.discountPer}}  %</b> off on all units  </p>
                  <span >
                    <p>
                      Buy  
                      <mat-form-field >
                        <input
                matInput
                required
                name="disOnQty"
                id="disOnQty"
                #disOnQty="ngModel"
                [(ngModel)]="offer.detail.disOnQty"
                placeholder="Value"
                type="number"
              />
              <mat-icon matSuffix>₹</mat-icon>
                      </mat-form-field>
                       to receive 
                        <mat-form-field >
                        <input
                matInput
                required
                name="discountPer"
                id="discountPer"
                #discountPer="ngModel"
                [(ngModel)]="offer.detail.discountPer"
                placeholder="%"
                type="number"
              />
              <mat-icon matSuffix>%</mat-icon>
                      </mat-form-field>  Off on all units
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <!-- /type 3 -->


             <!-- type 4 -->
             <div class="col-md-12 row" *ngIf="offer.offerCategory=='IV'">
              <div class="position-relative form-group">
                <div class="discountbox">
                  <p>Create a  <b>Bargain Bin</b> to sell an unsorted selection of items at once set price.</p>
                  <span >
                    <p>Buy any item from this bin @ 
                        <mat-form-field >
                        <input
                matInput
                required
                name="displayName"
                id="displayName"
                #displayName="ngModel"
                [(ngModel)]="offer.detail.disOnQty"
                placeholder="₹0.00"
                type="number"
              />
                      </mat-form-field>
                        Discounted price will apply to product/s seleted here
                        <mat-form-field >
                          <mat-select [(ngModel)]="offer.detail.productAId"  name="product" id="product" #product="ngModel" placeholder="Select Product " required >
                            <mat-option  *ngFor="let p of products" [value]="p">{{p}}</mat-option>
                        </mat-select>
                        </mat-form-field> 
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <!-- /type 4 -->

             <!-- type 5-->
             <div class="col-md-12 row" *ngIf="offer.offerCategory=='V'">
              <div class="position-relative form-group">
                <div class="discountbox">
                  <p>Buy <b>{{offer.detail.productAQty}}</b> units of product <b>{{offer.detail.productAId}}</b> and get <b>{{offer.detail.discountPer}}%</b> off on <b>{{offer.detail.productBQty}}</b> units of product <b>{{offer.detail.productBId}}</b> </p>
                  <span >
                    <p>Buy
                        <mat-form-field >
                        <input
                matInput
                required
                name="type4"
                id="type4"
                #type4="ngModel"
                [(ngModel)]="offer.detail.productAQty"
                placeholder="Qty"
                type="number"
              />
                      </mat-form-field>
                        of 
                        <mat-form-field >
                          <mat-select [(ngModel)]="offer.detail.productAId"  name="producttype4" id="producttype4" #producttype4="ngModel" placeholder="Select Product " required >
                            <mat-option  *ngFor="let p of products" [value]="p">{{p}}</mat-option>
                        </mat-select>
                        </mat-form-field> 
                        Get  
                        <mat-form-field >
                          <input
                  matInput
                  required
                  name="discountPertype4"
                  id="discountPertype4"
                  #discountPertype4="ngModel"
                  [(ngModel)]="offer.detail.discountPer"
                  placeholder=" 0.00 %"
                  type="number"
                />
                        </mat-form-field> 
                        off  on up to  

                        <mat-form-field >
                          <input
                  matInput
                  required
                  name="productBQtytype4"
                  id="productBQtytype4"
                  #productBQtytype4="ngModel"
                  [(ngModel)]="offer.detail.productBQty"
                  placeholder="Qty"
                  type="number"
                />
                        </mat-form-field> 
                        units of product

                        <mat-form-field class="full-width">
                          <mat-select [(ngModel)]="offer.detail.productBId"  name="productBIdtype4" id="productBIdtype4" #productBIdtype4="ngModel" placeholder="Select Product " required >
                            <mat-option  *ngFor="let p of products" [value]="p">{{p}}</mat-option>
                        </mat-select>
                        </mat-form-field> 

                    </p>
                    <ul style="list-style-type: disc;color: #61aedc;margin-left: 50px;">
                      <li>Mix & match is allowed if more then one item is selected.</li>
                      <li>Minimum specified quantity must be met.</li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
            <!-- /type 5 -->


             <!-- type 6-->
             <div class="col-md-12 row" *ngIf="offer.offerCategory=='VI'">
              <div class="position-relative form-group">
                <div class="discountbox">
                  <p>Buy <b>{{offer.detail.productAQty}}</b> units of product <b>{{offer.detail.productAId}}</b> and get <b>{{offer.detail.productBQty}}</b> units of product <b>{{offer.detail.productBId}}</b> for free</p>
                  <span >
                    <p>Buy
                        <mat-form-field >
                        <input
                matInput
                required
                name="productAQtytype6"
                id="productAQtytype6"
                #productAQtytype6="ngModel"
                [(ngModel)]="offer.detail.productAQty"
                placeholder="Qty"
                type="number"
              />
                      </mat-form-field>
                        of 
                        <mat-form-field >
                          <mat-select [(ngModel)]="offer.detail.productAId"  name="producttype6" id="producttype6" #producttype6="ngModel" placeholder="Select Product A" required >
                            <mat-option  *ngFor="let p of products" [value]="p">{{p}}</mat-option>
                        </mat-select>
                        </mat-form-field> 
                        
                        and get  

                        <mat-form-field >
                          <input
                  matInput
                  required
                  name="productBQtytype6"
                  id="productBQtytype6"
                  #productBQtytype6="ngModel"
                  [(ngModel)]="offer.detail.productBQty"
                  placeholder="Qty"
                  type="number"
                />
                        </mat-form-field> 
                        units of product

                        <mat-form-field >
                          <mat-select [(ngModel)]="offer.detail.productBId"  name="productBIdtype6" id="productBIdtype6" #productBIdtype6="ngModel" placeholder="Select Product B" required >
                            <mat-option  *ngFor="let p of products" [value]="p">{{p}}</mat-option>
                        </mat-select>
                        </mat-form-field> 
                        for free

                    </p>
                  </span>
                </div>
              </div>
            </div>
            <!-- /type 6 -->
          </div>


        </div>

    </div>
  </div>
</div>




<button
        mat-raised-button
        class="btn btn-primary pill-right"
        [disabled]="!offerForm.valid"
        type="submit"
      >
        Submit
      </button>
    </form>

    <form #offerClientForm="ngForm" (ngSubmit)="clientDiscounts(offerClientForm)">

    

    <div class="main-card mt-3 card" *ngIf ="offer.id" >
      <div class="card-body">
        <div class="card-body">
          <h6 class="p-2 text-primary"><b>Client Group</b></h6>
          <mat-radio-group name="clientGroup" id="clientGroup" [(ngModel)]="offerclient.isAllClients" >
            <mat-radio-button (change)="clientdataClear1($event)"  [value]="true"  >All Customers</mat-radio-button>
    
            <mat-radio-button  (change)="clientdataClear3($event)" [value]="3" >This particular Customer group</mat-radio-button>
            <mat-radio-button  (change)="clientdataClear2($event)" [value]="2" > Client By Category </mat-radio-button> 
            <mat-radio-button  (change)="clientdataClear4($event)" [value]="4" > Products </mat-radio-button> 
          </mat-radio-group>
    
          <!-- //clients -->
          <div class="discountbox row col-md-12 m-2" *ngIf="offerclient.isAllClients == '3'">
            <div class="position-relative form-group " >
              <label >Select Multiple Client</label>
              <mat-form-field class="full-width">
                  <mat-label>Select Multiple Client </mat-label>
                  <mat-select [(ngModel)]="offerclient.clientIds" #client="ngModel"  name="client" id="client" required multiple>
                    <mat-option  *ngFor="let client of clients" [value]="client.id" >{{client.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="client.touched && !client.valid">
                    client Required </mat-error>
                </mat-form-field>
            </div>
          </div>

          <!-- //Client Category -->
          <div class="discountbox row col-md-12 m-2" *ngIf="offerclient.isAllClients == '2'">
            <div class="position-relative form-group" >
              <label >Select Multiple Client Categories</label>
              <mat-form-field class="full-width">

                  <mat-label>Select Multiple Client Categories</mat-label>
                  <mat-select [(ngModel)]="offerclient.clientCatIds" #executive="ngModel"  name="executives" id="executives" required multiple>
                    <mat-option  *ngFor="let ccat of clientCategories" [value]="ccat.id" >{{ccat.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="executive.touched && !executive.valid">
                    client Categories Required </mat-error>
                </mat-form-field>
            </div>
          </div>

          <!-- //products -->
          <div class="discountbox row col-md-12 m-2" *ngIf="offerclient.isAllClients == '4'">
            <div class="position-relative form-group " >
              <label >Select Products</label>

              <mat-form-field class="full-width">
                  <mat-label>Select Products </mat-label>
                  <mat-select [(ngModel)]="offerclient.proDetIds" #product="ngModel"  name="product" id="product" required multiple>
                    <mat-option  *ngFor="let product of products" [value]="product" >{{product}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="product.touched && !product.valid">
                    Product Required </mat-error>
                </mat-form-field>
            </div>
          </div>

        </div>
      </div>
      <button
        mat-raised-button
        class="btn btn-primary"
        [disabled]="!offerClientForm.valid"
        type="submit"
      >
        Submit
      </button>
    </div>

  </form>