.discountbox p
    margin-left: 10px

    
.discountbox span
    display: inline-block
    background-color: #ffffd9
    padding: 20px
    margin-left: 20px
    width: 100%

.example-chip-list
    width: 100%