<!-- page title -->
<div>
    <div class="main-card mb-2 m-1 p-3 card">
        <div class="app-page-title m-0 p-0">
            <div class="page-title-wrapper">
                <div class="page-title-heading col-md-6">
                    <div class="page-title-icon">
                        <i class="icon pe-7s-shuffle icon-gradient btn-primary"></i>
                    </div>
                    <div>
                        Device Request
                        <div class="page-title-subheading">
                           Welcome to device request section
                        </div>
                    </div>
                </div>
                <div class="page-title-actions float-right">
                
                    <a type="button"
                        class=" ml-3 rounded-pill btn-shadow d-inline-flex align-items-center btn btn-primary"
                        style="color: #fff;" href="/device/request/0">
                        Request Devices
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title -->

<!-- card view Deviclist of devices -->

<div class="col-md-12">
    <div class="card main-card mb-3">
        <div class="card-header" style="position: relative">



            <small>Result Searched</small> 145
            <span class="float-right" style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          ">
                <span><small>1 to 15 Aug 2020</small>
                    <i class="fa fa-filter" style="font-size: 18px; margin: 8px"></i></span>
            </span>
        </div>

        <div class="card-header" style="position: relative">
            <div class="d-inline-block" ngbDropdown>
                <button type="button" ngbDropdownToggle class="mb-2 mr-2 btn-pill btn btn-outline-secondary">Apply
                    Action</button>
                <div ngbDropdownMenu>
                    <button class="dropdown-item text-center">Inactive
                    </button>
                    <mat-divider></mat-divider>
                    <button class="dropdown-item">Edit
                    </button>
                    <mat-divider></mat-divider>
                    <button class="dropdown-item">Delete

                    </button>
                    <mat-divider></mat-divider>
                    <button class="dropdown-item">Reassign

                    </button>

                </div>
            </div>

            <span class="float-right" style="position: absolute;right: 10px;top: 50%;transform: translateY(-50%);">


                <i class="lnr-download" style="color: #000;font-size: 18px; margin-right: 8px;"></i>
                <b style="color: red;">PDF / CSV</b>
            </span>

        </div>

        <div class="card-body" style="padding-top: 25px;">
            <div class="responsive-table">
                <table class="align-middle mb-0 table table-borderless">
                    <thead>
                        <tr style="white-space: nowrap;">
                            <th>
                                S.no
                            </th>
                            <th>Comment</th>
                            <th>No.of Devices</th>
                            <th>Required Quote</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="font-size: 15px;" *ngFor="let d of  requests; let i = index">
                            <td>
                                <p><b>{{i+1}}</b> </p>
                            </td>
                            <td>
                                <p>{{d.comment}}</p>
                            </td>
                            <td>
                                <p><b>{{d.deviceCount}}</b> </p>
                            </td>
                            <td>
                                <p><b>{{d.quotationRequired?'Yes':'No'}}</b> </p>
                            </td>
                            
                            <td style="vertical-align: middle">
                                <a class="text-primary mr-2"
                                    [href]="'device/request/' + d.id">
                                    <span class="material-icons "> edit </span></a>

               

                                <span  class="material-icons text-danger cursor-pointer" (click)="cancelReq(d.id)"> delete_forever </span>
                            </td>
                           
                        </tr>


                    </tbody>
                </table>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>


            </div>
        </div>

    </div>
</div>