<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>
<div class="main-card mb-3 card">
    <div class="card-body">
      <form  #pricelistForm="ngForm" (ngSubmit)="add(pricelistForm)">
        <div class="form-row">
          <div class="col-md-6" *ngIf="products.length > 0">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <mat-label>Select Product</mat-label>
              <select matNativeControl name="product" id="product"  [(ngModel)]="pricelist.product.pid">
                  <option  *ngFor="let p of products" value="{{p.pid}}">{{p.name}}</option>
              </select>
              </mat-form-field>
            </div>
          </div>
          <!-- nodata -->
          <div class="col-md-6" style="width: 40%;margin: auto;" *ngIf="products.length < 1"> 
            <small>No Products Found First <a class="btn btn-primary btn-sm" href="/product/0">Add Product</a> To Add New Pricelist</small>
          </div>
          <!-- nodata -->
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
              <input matInput required minlength="1" pattern="[0-9]*"
               ngModel
               #mrp="ngModel"        
               name="mrp"
               id="mrp"
               placeholder="Enter MRP"
               type="text"
               [(ngModel)]="pricelist.mrp">
               <mat-error *ngIf="mrp.touched && !mrp.valid">
                MRP required</mat-error>
                <mat-error *ngIf="mrp.errors?.pattern"> number only</mat-error>
                </mat-form-field>
              
              </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
        <div class="position-relative form-group">
          <mat-form-field class="full-width">
          <input matInput required minlength="1" pattern="[0-9]*"
          ngModel
          #price="ngModel"           
          name="price"
          id="price" 
          placeholder="Enter Price" 
          type="text"
          [(ngModel)]="pricelist.price">
          <mat-error *ngIf="price.touched && !price.valid">
            Price required</mat-error>
            <mat-error *ngIf="price.errors?.pattern"> number only</mat-error>
            </mat-form-field>
          </div>
          </div>

          <div class="col-md-6">
        <div class="position-relative form-group">
          <mat-form-field class="full-width">
          <input matInput required minlength="1" pattern="[0-9]*"
          ngModel
          #price_per_unit="ngModel" 
          name="price_per_unit" 
          id="price_per_unit" 
          placeholder="Enter Price Per Unit" 
          type="text" 
          [(ngModel)]="pricelist.price_per_unit">
          <mat-error *ngIf="price_per_unit.touched && !price_per_unit.valid">
            Price per unit required</mat-error>
            <mat-error *ngIf="price_per_unit.errors?.pattern"> number only</mat-error>
            </mat-form-field>
        </div>
        </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
              <input matInput required  pattern="[0-9]*"
              ngModel
              #units="ngModel"               
              name="units" 
              id="units" 
              type="text" 
              placeholder="Enter Units"
              [(ngModel)]="pricelist.units">
              <mat-error *ngIf="units.touched && !units.valid">
               Unit required</mat-error>
                <mat-error *ngIf="units.errors?.pattern"> number only</mat-error>
                </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <!-- <label for="applicableFrom">Applicable From</label> -->
              <mat-form-field class="full-width">
              <input matInput  required
              ngModel
              placeholder="Applicable From"
              #applicableFrom="ngModel"                
              name="applicableFrom" 
              id="applicableFrom" 
              type="datetime-local" 
              [(ngModel)]="pricelist.applicableFrom">
              <mat-error *ngIf="applicableFrom.touched && !applicableFrom.valid">
                Application form required</mat-error>
                </mat-form-field>

            </div>
          </div>
        </div>
        <button 
        [disabled]="!pricelistForm.valid"
        type="submit" class="mt-2 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>