<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="border: none; font-size: 20px; color: #16aaff;">Pricing Strategy
                <div class="btn-actions-pane-right" style="font-size: 15px;">                   
                </div>
            </div>
           
            <div class="card-body" style="padding-top: 25px; font-size: 18px;">
                <div class="row"  style="padding-top: 15px;">   
                    <div class="col-md-3"><b>Company Group Name: </b></div>    
                    <div class="col-md-3" style="font-size: 22px;"><b>Group A</b></div> 
                    <div class="col-md-3"><b>Start Date:</b></div> 
                    <div class="col-md-3">23 Aug 2020</div>        
                </div>
                <div class="row" style="padding-top: 15px;">   
                    <div class="col-md-3"><b>Description: </b></div>    
                    <div class="col-md-3">Description about satrtegy:</div> 
                    <div class="col-md-3"><b>End Date</b></div> 
                    <div class="col-md-3">23 Aug 2020</div>        
                </div>
                <div class="row" style="padding-top: 15px;">   
                    <div class="col-md-3"><b>Valid For: </b></div>    
                    <div class="col-md-3">For Ever</div> 
                    <div class="col-md-3"><b>Group Type:</b></div> 
                    <div class="col-md-3">5 Star</div>        
                </div>
                <div class="row" style="padding-top: 15px;">   
                    <div class="col-md-3"><b>No. of Product Selected: </b></div>    
                    <div class="col-md-3">0</div>                      
                </div>
               
                <div class="responsive-table" style="padding-top: 20px;">
                    <table class="align-middle mb-0 table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>
                                    <mat-checkbox></mat-checkbox>
                                </th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">HSN</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">MRP</th>
                                <th class="text-center">Actually Price</th>
                                <th class="text-center">Differ Amount </th>
                                <th class="text-center">Final Price </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>1</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>2</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>3</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>4</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>5</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124<br>
                                        <b>Jeans</b> <br>
                                        Fashion</p>
                                </td>
                                <td class="text-center">
                                    <p>JX24124 </p>
                                </td>
                                <td class="text-center">
                                    <p>Color : Red<br>
                                        Size: L</p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 12,000.00<br>
                                     </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00</p>
                                </td>
                                <td class="text-center">                                   
                                    <div class="d-inline-block" ngbDropdown>
                                        <button type="button" ngbDropdownToggle
                                            class="mb-2 mr-2 btn-pill btn btn-outline-secondary">&#x20B9; 500.00</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item text-center">700.00
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button class="dropdown-item"> 800.00
                                            </button>
                                       
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><b>&#x20B9; 9,5000.00</b></p>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>

                  
                </div>              
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 25px;">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="border: none; font-size: 20px; color: #16aaff;">Assign Client<div class="btn-actions-pane-right" style="font-size: 15px;">                   
                </div>
            </div>           
            <div class="card-body" style="padding-top: 25px;">         
               <div class="row">
                   <div class="col-md-12">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="All Clients">All Clients</mat-radio-button><br>
                        <mat-radio-button value="This particular Client">This particular Client</mat-radio-button>
                      </mat-radio-group>
                      
                   </div>
               </div>
               <div class="row">
                <div class="col-md-12">
                    <div style="padding-top: 25px;">
                        <div class="pane-right">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <fa name="search"></fa>
                                    </div>
                                </div>
                                <input placeholder="SEARCH Product and Select" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="responsive-table" style="padding-top: 20px;">
                    <table class="align-middle mb-0 table table-borderless">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th>
                                    <mat-checkbox></mat-checkbox>
                                </th>
                                <th class="text-center">Client/Company</th>
                                <th class="text-center">Contacts</th>
                                <th class="text-center">Location</th>
                                <th class="text-center">Business Turn Over</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>1</p>
                                </td>
                                <td class="text-center">
                                    <p>ZP24124<br>
                                        <b>Chilli Store</b>
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>9828354650 </p>
                                </td>
                                <td class="text-center">
                                    <p>Hyderabad
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00<br>
                                     </p>
                                </td>                          
                              
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>2</p>
                                </td>
                                <td class="text-center">
                                    <p>ZP24124<br>
                                        <b>Chilli Store</b>
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>9828354650 </p>
                                </td>
                                <td class="text-center">
                                    <p>Hyderabad
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00<br>
                                     </p>
                                </td>                          
                              
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>3</p>
                                </td>
                                <td class="text-center">
                                    <p>ZP24124<br>
                                        <b>Chilli Store</b>
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>9828354650 </p>
                                </td>
                                <td class="text-center">
                                    <p>Hyderabad
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00<br>
                                     </p>
                                </td>                          
                              
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>4</p>
                                </td>
                                <td class="text-center">
                                    <p>ZP24124<br>
                                        <b>Chilli Store</b>
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>9828354650 </p>
                                </td>
                                <td class="text-center">
                                    <p>Hyderabad
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00<br>
                                     </p>
                                </td>                          
                              
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>
                                    <p>5</p>
                                </td>
                                <td class="text-center">
                                    <p>ZP24124<br>
                                        <b>Chilli Store</b>
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>9828354650 </p>
                                </td>
                                <td class="text-center">
                                    <p>Hyderabad
                                       </p>
                                </td>
                                <td class="text-center">
                                    <p>&#x20B9; 10,000.00<br>
                                     </p>
                                </td>                          
                              
                            </tr>
                      
                            
                        </tbody>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>                  
                </div>      
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-left">
                            <button class="btn-wide btn btn-primary btn-sm">Edit</button>
                        </div>
                        <div class="float-right">
                          <button class="btn-wide btn btn-link btn-sm">Cancel</button>
                          <button class="btn-wide btn btn-primary btn-sm">Save</button>
                        </div>
                      </div> 
                      </div>     
            </div>
        </div>
    </div>
</div>