<div class="card main-card p-4">
<div class="row">
    <div class="col-md-4">
        <p class="text-left">
            Neemiit Pvt Ltd <br>
            4-3-152/, S-no:5 Near Attapur <br>
            Bridge Hyderabad,500064 <br>
            <b>Phone : 0987654321 </b> <br>
            order Taken By: Abhinay
        </p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="text-right">
            Status : <b>Tax Invoice</b><br>
            invoice Date : 18.11.2020 <br>
            Vat id: xfted12 <br>
            GST id:  Tsajkdg364587 <br>
            Invoice No : 2020.11.18-0002  

        </p>
    </div>
</div>

<!-- border -->
<div class="border border-secondary p-2">

<!-- secound Div  -->
<div class="row mb-2">
    <div class="col-md-4">
        <label style="color: #42ac75;">Billing Address </label>
        <p class="text-left">
           <b>Neemiit</b><br>
              Near Attapur <br>
              Bridge Hyderabad,500064 <br>
            abhi@xyz.com, 0987654321 <br>
        </p>
    </div>
    <div class="col-md-4">
        <label style="color: #42ac75;">Shipping Address </label>

        <p class="text-left">
           <b>Neemiit</b><br>
              Near Attapur <br>
              Bridge Hyderabad,500064 <br>
            abhi@xyz.com, 0987654321 <br>
        </p>
    </div>
    <div class="col-md-4">
        <div class="col text-right">
        <label style="color: #8064ec;"> State : Telangana </label></div>
       <div class="row">
           <div class="col-md-6"><small style="font-size: 10px;">Opening Balance</small><br>
            <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 1,50,2435</b>
            </div>
            <div class="col-md-6"><small style="font-size: 10px;">Due Balance</small><br>
                <b style="color: #940909;font-size: 20px;"><i class="fa fa-inr"></i> 2,90,1485</b>
            </div>
       </div>
       <div class="row">
           <div class="col-md-6"><small style="font-size: 10px;">Credit Limit</small><br>
            <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 1,50,2435</b>
        </div>
           <div class="col-md-6"><small style="font-size: 10px;">Last Paid Amount</small><br>
            <b style="color: #7f7f7f;font-size: 20px;"><i class="fa fa-inr"></i> 2,90,1485</b>
        </div>
    </div>
</div>
</div>
<!-- Third Div -->
                <div class="card p-3" style="background-color: #ebebeb;">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Client ID :  <b>1234587</b></p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>
                                Oredr Placed By : Chili Store
                            </p>
                        </div>
                    </div>
                </div>  
                
                
  <!-- Table View        -->
  <table class="table table-striped ">
    <thead>
        <tr >
            <th scope="col">S.No</th>
            <th  scope="col">Product Name</th>
            <th scope="col">Category</th>  
            <th scope="col">HSN Code</th>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Per Rate</th>
            <th scope="col">Tax %</th>
            <th scope="col">Net Amt</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of invoicedata">
            <td style="vertical-align: middle;">
                {{c.id}}
                
            </td>
            <td style="vertical-align: middle;">{{c.productName}} <br>
                <small *ngIf="c.sku" >SKU: #{{c.sku}}</small>
            </td>
            <td style="vertical-align: middle;">{{c.category}}</td>
            <td style="vertical-align: middle;">{{c.hsn}}</td>
            <td style="vertical-align: middle;" *ngIf="c.type">
                {{c.type}} </td>
                <td *ngIf="c.color">
                <small *ngIf="c.color" >Color: {{c.color}}</small><br>
                <small *ngIf="c.size" >Size: {{c.size}}</small>
            </td>
            <td style="vertical-align: middle;">{{c.quantity}}</td>
            <td style="vertical-align: middle;">{{c.perRate}}</td>
            <td style="vertical-align: middle;">{{c.tax}}</td>
            <td style="vertical-align: middle;">{{c.netAmount}}</td>
        </tr>
    </tbody>
</table>
<!-- sub-total div -->
<div class="card p-3 mb-2" style="background-color: #ebebeb;">
    <div class="row">
        <div class="col-md-8">
            <p>
                Recived : ICICI <br>
                DQ <br>
                Country Of bank Denmark <br>
                SWIFT/BIC : ICICIHKHGTS
            </p>
        </div>
        <div class="col-md-2 text-right">
                <div class="p-1"><b>Sub-total</b></div>
                <div class="p-1">Total Discount</div>
                <div class="p-1">CGST</div>
                <div class="p-1">SGST</div>
                <div class="p-1">IGST</div>
                <div class="p-1">Gift Card</div>
                <div class="p-1">Cridit Note</div>
                <div class="p-1 ">Scheme ( Dashara Dhamaka 10% Applied)</div>
        </div>
        <div class="col-md-2 text-right">
                <div class="p-1" style="font-size: 20px;"><b><i class="fa fa-inr"></i> 90,000.10</b></div>
                <div class="p-1" style="font-size: 15px;"> <b><i style="font-size: 20px;" class="fa fa-inr"></i></b> 4,500.00(5%)</div>
                <div class="p-1">8,100.00(9%)</div>
                <div class="p-1">8,100.00(9%)</div>
                <div class="p-1">--------</div>
                <div class="p-1">5,000.00</div>
                <div class="p-1">5,000.00</div>
                <div class="p-1">3,000.00</div>
        </div>

    </div>
</div>
<!-- last Div -->
<div class="row p-3">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <label >Message</label>
                <p>Dummy Message asfsadfgsadg </p>
            </div>
            <div class="col-md-12">
                <label >Statement</label>
                <p>Dummy Statement</p>
            </div>
        </div>
    </div>

    <div class="col-md-7" style="font-size: 20px;text-align: right;">
        <p><b>Total:</b><b style="color: #940909;"><i class="fa fa-inr"></i> 93,260.00 </b></p>
        <p>(Ninety-Three Thousand, Two Hundred Sixty)</p>
    </div>
</div>

<!-- Term & Conditions -->
<div class="row" style="display: inline-block;text-align: center;width: 100%;">
    <p>
        Signature is not required,its just a estimation <a href="">Term and Condition</a>
    </p>
</div>


</div>
</div>
