<div class="h-100">
  <div class="row h-100 no-gutters">
    <div class="d-none d-lg-block col-lg-5">
      <div class="slider-light">
        <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfig2">
          <div ngxSlickItem>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
              <div class="slide-img-bg"></div>
              <div class="slider-content text-light">
                <h3>Workforce test</h3>
                <p>
                  Workforce is like a dream. Some think it's too good to be true! Extensive collection of
                  unified Vue Bootstrap Components and Elements.
                </p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-5">
      <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4 class="mb-0">
          <div>Welcome back,</div>
          <span>Please sign in to your account.</span>
        </h4>
        <h6 class="mt-3">
          No account?
          <a href="register" class="text-primary">Register now</a></h6>
        <div class="divider"></div>
        <div>
          <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="row">
              <div class="col-md-8">
                <fieldset class="form-group">
                  <div tabindex="-1" role="group">
                    <label for="userEmail">Phone Number</label>
                    <input required ngModel
                     name="userEmail"
                      #userEmail="ngModel"
                       id="userEmail"
                        type="email"
                      placeholder="Phone Number"
                       class="form-control">
                    <div class="alert alert-danger" *ngIf="userEmail.touched && !userEmail.valid">
                      Phone  Required
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="col-md-8">
                <fieldset class="form-group">
                  <div tabindex="-1" role="group">
                    <label for="userPassword">Password</label>
                    <input required ngModel name="userPassword" #userPassword="ngModel" id="userPassword"
                      type="password" placeholder="Enter Password" class="form-control">
                    <mat-error  *ngIf="userPassword.touched && !userPassword.valid">
                      Password Required
                    </mat-error>
                    </div>
                </fieldset>
              </div>
            <div class="col-md-12">
              <mat-error class="errorMsg" *ngIf="errorMsg">{{errorMsg}}</mat-error>
            </div>
            </div>

            <br>
            <div class="d-flex">
              <a href="forget" class="btn-lg btn btn-link">
                Forget Password</a>
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="!f.valid">
                Login to Dashboard</button>
            </div>

            <div class="divider"></div>

            <div class="d-flex align-items-center">
              <!-- twitter -->
              <a [href]="" target="_blank">
                <img
                  src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png"
                  alt="" matTooltip="Twitter" matTooltipPosition="above">
              </a>
              <!-- facebook -->
              <a [href]="" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt=""
                  matTooltip="Facebook" matTooltipPosition="above">
              </a>
              <!-- google -->
              <a [href]="" target="_blank">
                <img
                  src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png"
                  alt="" matTooltip="Google+" matTooltipPosition="above">
              </a>
              <!-- linkedin -->
              <a [href]="" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt=""
                  matTooltip="LinkedIn" matTooltipPosition="above">
              </a>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
