@import "assets/base";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.form-control.ng-touched.ng-invalid {
  border: 2px solid #f7b924;
}

@import "assets/base";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.form-control.ng-touched.ng-invalid {
  border: 2px solid #f7b924;
}


.page-loader {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999999;
  height: 100%;
  width: 100%;
}

#global {
  width: 70px;
  margin: auto;
  margin-top: 50px;
  position: absolute;
  cursor: pointer;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#top {
  width: 53px;
  height: 20px;
  left: -20px;
  transform: skew(-15deg, 0) rotate(90deg);
  z-index: 100;
}

#middle {
  width: 22px;
  height: 20px;
  left: 15px;

  /* top: 15px; */
  transform: skew(-30deg, 60deg);
}

#bottom {
  width: 53px;
  height: 20px;

  /* top: 30px; */
  left: 20px;
  transform: skew(-15deg, 0) rotate(90deg);
}

#top .plane {
  z-index: 2000;
  animation: trans1 1.3s ease-in infinite 0s backwards;
  background-color: #19ADF2;
}

#middle .plane {
  transform: translate3d(0px, 0, 0);
  background: #62CAFA;
  animation: trans2 1.3s linear infinite 0s backwards;
}

#bottom .plane {
  z-index: 2000;
  animation: trans3 1.3s ease-out infinite .6s backwards;
  background-color: #19ADF2;
}

.plane {
  background: #ffffff;
  width: 400%;
  height: 100%;
  position: absolute;
  transform: translate3d(0px, 0, 0);

  /* transition: all 0.8s ease; */
  z-index: 100;
  perspective: 1000;
  backface-visibility: hidden;
}

.mask {
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
  perspective: 1000;
  backface-visibility: hidden;
}

.animation {
  transition: all 0.3s ease;
}

.page-loader p {
  color: #F3C32F;
  position: absolute;
  left: -3px;
  top: 45px;
  font-family: Arial;
  text-align: center;
  font-size: 14px;
}

@keyframes trans1 {
  from {
    transform: translate3d(53px, 0, 0);
  }

  to {
    transform: translate3d(-250px, 0, 0);
  }
}

@keyframes trans2 {
  from {
    transform: translate3d(-160px, 0, 0);
  }

  to {
    transform: translate3d(53px, 0, 0);
  }
}

@keyframes trans3 {
  from {
    transform: translate3d(53px, 0, 0);
  }

  to {
    transform: translate3d(-220px, 0, 0);
  }
}


.errorMsg {
  color: rgb(245, 75, 75);

  text-align: center;

}

mat-error.alert {

  padding: 0px;
}

mat-form-field.full-width {
  width: 100%;
}

.mat-radio-button {
  margin-left: 20px;
}

.material-icons {
  font-size: 16px;

}

.with-icon .material-icons {
  line-height: inherit;
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vsm-icon{
  opacity: 1 !important;
}

// when no records in table
.no-records{
  text-align: center;
}