<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"></app-page-title>

<div class="card main-card mb-3" *ngIf="pricelists.length > 0">
    <div class="card-header">
      <div  class="btn-actions-pane-right" >   

       <div role="group" class="btn-group-sm btn-group filters">
          <!-- <button class="active btn btn-focus">Last Week</button>
          <button class="btn btn-focus">All Month</button> -->
          <div class="search ">
            <input type="text" value="" placeholder="Search.." class="form-control">
          </div>
        </div>
        </div>
    </div>

    <table class="table table-striped">
        
      <thead>
        <tr >
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">MRP</th>
          <th scope="col">PRICE</th>
          <th scope="col">PRICE_PER_UNIT</th>
          <th scope="col">UNITS</th>
          <th scope="col">APPLICABLE_FROM</th>
          <th scope="col">ACTION</th>
          
        </tr>
        
      </thead>
      <tbody>
        <tr *ngFor="let pl of pricelists; index as i">
          <td scope="row">{{ i + 1 }}</td>
          <td scope="row">{{ pl.product.name }}</td>
          <td scope="row">{{ pl.mrp }}</td>
          <td scope="row">{{ pl.price }}</td>
          <td scope="row">{{ pl.price_per_unit }}</td>
          <td scope="row">{{ pl.units }}</td>
          <td scope="row">{{ pl.applicableFrom }}</td>
          <td><a class="btn btn-primary mr-2" href="product/pricelist/{{pl.plid}}"><i class="fa fa-edit"></i> Edit</a> <button class="btn btn-danger"><i class="fa fa-trash"></i> Remove</button>   </td>
          
        </tr>
      </tbody>
    </table>
  </div>
