<div class="viewer_main">

    <span class="left"></span>
    <span class="right"></span>

    <div class="viewer_content">
        <embed src="https://docs.google.com/viewer?url=https://calibre-ebook.com/downloads/demos/demo.docx&embedded=true" height="500px" width="100%"/>
    </div>
</div>