<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
></app-page-title>

<div class="main-card mb-3 card" *ngIf="products.length > 0">
  <div class="card-header">
    <div class="btn-actions-pane-right">
      <div role="group" class="btn-group-sm btn-group filters">
        <!-- <button class="active btn btn-focus">Last Week</button>
               <button class="btn btn-focus">All Month</button> -->
        <div class="search">
          <input
            type="text"
            value=""
            placeholder="Search.."
            class="form-control"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table
      class="align-middle mb-0 table table-borderless table-striped table-hover"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Product Name</th>
          <th>Part Number</th>
          <th>Category</th>
          <th>HSN Code</th>
          <th>Units</th>
          <th>QtyPerCase</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.partNumber }}</td>
          <td>{{ product.pcat.catname }}</td>
          <td>{{ product.hsnCode }}</td>
          <td>{{ product.units }}</td>
          <td>{{ product.qtyPerCase }}</td>
          <td>
            <a class="btn btn-primary mr-2" href="product/{{ product.pid }}"
              ><i class="fa fa-edit"></i> Edit</a
            >
            <button class="btn btn-danger">
              <i class="fa fa-trash"></i> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="col-md-12"
  style="width: 40%; margin: auto"
  *ngIf="products.length < 1"
>
  <small
    >No Products Found Click <b>Add Product</b> Button To Add New Product</small
  >
  <img src="../../../../assets/images/nodata.jpg" alt="No Data Found" />
</div>
