<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <!-- <button type="button" class="btn-shadow mr-3 btn btn-dark">
        <fa name="star"></fa>
      </button> -->
      <a *ngIf="btnstatus && btntype=='link'" type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" href="{{btnLink}}">
        <fa class="mr-2" name="{{btnIcon}}"></fa>
        {{btntext}}
      </a>
      <a *ngIf="btnstatus &&  btntype=='callback' " type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success"  style="color: #fff;" (click)="call()">
        <fa class="mr-2" name="{{btnIcon}}"></fa>
        {{btntext}}
      </a>
    </div>
  </div>
</div>
