<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
  [btntext]="btntext"
  [btnLink]="btnLink"
></app-page-title>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <mat-divider></mat-divider>
      <div class="card-body" style="padding-top: 25px">
        <div class="responsive-table">
          <table
            class="
              align-middle
              mb-0
              table table-striped table-hover
              offer-data-table
              table-borderless
            "
          >
            <thead>
              <tr style="white-space: nowrap">
                <th>
                  <mat-checkbox></mat-checkbox>
                </th>
                <th>Offer Name</th>
                <th>Discount Type</th>
                <th>Created By</th>
                <th>Promo Code</th>
                <th>No of Discounted</th>
                <th>Discounted Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr style="font-size: 15px" *ngFor="let offer of offers; index as i">
                <td>
                  <p><b>{{i+1}}</b></p>
                  <span class="desc">
                    <span class="col-md-10 text-center"
                      ><b class="text-danger">Expiration in just 
                        <b *ngIf="offer.days == 0">Today </b>
                        <b *ngIf="offer.days != 0">{{offer.days }} </b>
                          Days </b
                      ><a href="#">Extend this offer</a>
                    </span>
                    <span class="col-md-2"
                      ><small class="float-right text-primary">
                        <i class="fa fa-share"> Share</i></small
                      ></span
                    >
                  </span>
                </td>
                <td>
                  <p>
                    <small>{{offer.id}}</small><br />
                    <b>{{offer.displayName}}</b> <br />
                    <small style="font-size: 8px;
                    font-weight: bold;">{{offer.startDate | date : 'medium'}} To {{offer.endDate | date : 'medium'}}</small>
                  </p>
                </td>
                <td>
                  <p>
                    {{offer.offerType}}<br />
                    <small>All Clients </small>
                  </p>
                </td>
                <td>
                  <p>
                    <small> {{offer.createdBy}}</small><br />
                    <span style="font-size: 9px">{{offer.createdDate | date:'medium'}}</span>
                  </p>
                </td>
                <td>
                 <b> {{offer.detail.promoCode}}</b>
                  <!-- <b *ngNULLIf="offer.detail.promoCode != 'null'" >{{offer.detail.promoCode}}</b> -->
                  <!-- <b *ngIf="offer.detail.promoCode == 'null'" >NULL{{offer.detail.promoCode}}</b> -->
               </td>
                <td>{{offer.detail.noOfDiscount }}</td>
                <td>
                  <p class="text-success">₹ {{offer.detail.discountAmount}}</p>
                </td>

                <td>
                  <p>
                    <mat-slide-toggle [(ngModel)]="offer.isActive"></mat-slide-toggle> <br />
                   <a
                    matTooltip="Edit "
                    class="text-primary mr-2"
                    [href]="'offers/' + offer.id "
                  > 
                    <span class="material-icons"> edit </span></a
                  >
                  <a
                  matTooltip="View "
                  class="text-primary mr-2"
                  [href]="'offers/view/' + offer.id "
                > 
                  <span class="material-icons"> remove_red_eye </span></a
                > 
                    <br />
                    <span style="font-size: 9px">Last Edit:3-10-20</span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
