::ng-deep .offer-data-table tbody tr td
    padding-bottom: 30px

::ng-deep .offer-data-table tbody tr td .desc
    position: absolute
    padding: 10px 0
    margin-top: 10px
    display: block
    border-top: 1px solid #d4d4d4
    width: calc(100% - 90px)
    color: #0000007a

::ng-deep .offer-data-table tbody tr td .desc span
    display: inline-block
    font-size: 12px        