<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink"
    [btnIcon]="btnIcon"></app-page-title>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="main-card card">
            <div class="card-header text-capitalize" style="color:#00aeef;font-size: 16px;">{{mainheading}} Route No
            </div>
            <div class="main-card p-3 card">
                <div class="card-body">
                    <form #rootNoForm="ngForm" (ngSubmit)="add(rootNoForm)">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <mat-form-field class="full-width">
                                        <input matInput type="number" name="rootno" id="number" ngModel #number="ngModel"
                                            [(ngModel)]="root.number" placeholder="Route No " required>
                                        <mat-error *ngIf="number.touched && !number.valid">
                                            Route No Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <mat-form-field class="full-width">
                                        <input matInput name="roonodesc" id="roonodesc" ngModel #roonodesc="ngModel"
                                            [(ngModel)]="root.description" placeholder="Route Description " required>
                                        <mat-error *ngIf="roonodesc.touched && !roonodesc.valid">
                                            Route Description Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <mat-slide-toggle [(ngModel)]="root.isActive" name="status">Client Active:
                            {{root.isActive?'Yes':'No'}}</mat-slide-toggle>

                        <div class="float-right">
                            <button type="reset" class="mt-2 btn btn-link">Cancel</button>
                            <button [disabled]="!rootNoForm.valid" type="submit"
                                class="mt-2 btn btn-primary btn-lg">submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>