<h1 mat-dialog-title> {{mytitle}}</h1>
<div mat-dialog-content>

  <form  #subtaskForm="ngForm" (ngSubmit)="addsub(subtaskForm)">
    <div class="form-row">
      <div class="col-md-12">
        <div class="position-relative form-group">
         
          <mat-form-field class="full-width">
            <input matInput required 
             name="title"
             #title="ngModel"
             id="title"
             [(ngModel)]="task.title"
             placeholder="Enter Sub Task Title"
             type="text">
             <mat-error *ngIf="title.touched && !title.valid">
              Sub Title Required</mat-error>
             </mat-form-field>

          
        </div>

      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <mat-form-field class="full-width">
            <input matInput required  
             name="description"
             id="description"
             #description="ngModel"
             [(ngModel)]="task.description"
             placeholder="Enter Sub Description"
             type="text">
             <mat-error *ngIf="description.touched && !description.valid">
              Sub Description Required</mat-error>
            
             </mat-form-field>
         </div>
      </div>
    </div>
    
    <!-- startdate -->       
    <div class="form-row">
        <div class="col-md-6">
            <div class="position-relative form-group">
              <mat-form-field class="full-width">
                <input type="text" matInput
ngxDaterangepickerMd
[timePicker]="true"
[locale]="{format: 'DD MMM, YYYY hh:mm a'}"
[autoApply]="true"
[singleDatePicker]="true"
[(ngModel)]="task.expectedStartTime1"
placeholder="Enter Start Date"
#expectedStartTime="ngModel"
name="expectedStartTime" autocomplete="off" required/>
                
                <mat-error *ngIf="expectedStartTime.touched && !expectedStartTime.valid">
                  ExpStartDate Required </mat-error>
              </mat-form-field>
            </div>
        </div>
      <!-- Enddate   -->
      <div class="col-md-6">
          <div class="position-relative form-group">
            <mat-form-field class="full-width">
              <input type="text" matInput
              ngxDaterangepickerMd
              [timePicker]="true"
              [locale]="{format: 'DD MMM, YYYY hh:mm a'}"
              [autoApply]="true"
              [singleDatePicker]="true"
              [(ngModel)]="task.expectedendTime1"
              placeholder="Enter End Date"
              name="expectedendTime" autocomplete="off"
              required>
            </mat-form-field>
            </div>
        </div>
    </div>
<!-- Sub Priority -->
    <div class="form-row">
      <div class="col-md-12">
          <div class="position-relative form-group">
              <mat-radio-group class="full-width" [(ngModel)]="task.priority" name="priority" required>
                  <mat-label>Priority</mat-label>
                  <mat-radio-button value="HIGH">High</mat-radio-button>
                  <mat-radio-button value="MEDIUM">Medium</mat-radio-button>
                  <mat-radio-button value="LOW">Low</mat-radio-button>
                </mat-radio-group>
          </div>
      </div>
    </div>  


    <button mat-raised-button class="btn btn-primary" type="submit">Submit</button>
    <button mat-button [mat-dialog-close]="data" class="btn btn-danger float-right" cdkFocusInitial>Close</button>
  </form>  

</div>

