<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [btntext]="btntext" [btnLink]="btnLink" [btnIcon]="btnIcon"></app-page-title>
<div class="main-card mb-3 card">
    <div class="card-body">
      <h6 class="p-2">Device Details</h6>
      <form  #deviceForm="ngForm" (ngSubmit)="add(deviceForm)">
<!-- Device Number -->
        <div class="form-row">
           <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="device.driName"  #driName="ngModel" name="driName" id="driName" placeholder="Enter Driver Name"  required>
                    <mat-error *ngIf="driName.touched && !driName.valid">
                      Driver Name Required </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="device.driLicNo" pattern="[0-9]*" #driLicNo="ngModel" name="driLicNo" id="driLicNo" placeholder="Enter Device License Number"  required>
                    <mat-error *ngIf="driLicNo.touched && !driLicNo.valid">
                      Only Numbers Allowed </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="device.driPhone" pattern="[0-9]*" #driPhone="ngModel" name="driPhone" id="driPhone" placeholder="Enter Driver Phone No."  required>
                    <mat-error *ngIf="driPhone.touched && !driPhone.valid">
                      Driver Phone Numbers Required </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="device.pastDriver"  #pastDriver="ngModel" name="pastDriver" id="pastDriver" placeholder="Enter Past Driver "  required>
                    <mat-error *ngIf="pastDriver.touched && !pastDriver.valid">
                      Past Driver Name Required </mat-error>
                  </mat-form-field>
            </div>
             <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="device.vehicleNo"  #vehicleNo="ngModel" name="vehicleNo" id="vehicleNo" placeholder="Enter vehicleNo "  required>
                    <mat-error *ngIf="vehicleNo.touched && !vehicleNo.valid">
                      vehicle No Required </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="device.maxSpeed" pattern="[0-9]*" #maxSpeed="ngModel" name="maxSpeed" id="maxSpeed" placeholder="Enter Max Speed"  required>
                    <mat-error *ngIf="maxSpeed.touched && !maxSpeed.valid">
                      Only Numbers Allowed </mat-error>
                  </mat-form-field>
            </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="device.millage" pattern="[0-9]*" #millage="ngModel" name="millage" id="millage" placeholder="Enter Millage"  required>
                    <mat-error *ngIf="millage.touched && !millage.valid">
                      Only Numbers Allowed </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
             <div class="position-relative form-group selectsecs" class="form-group has-warning">
              <mat-form-field class="full-width full-width">
                <mat-label>Vehicle Type</mat-label>
                <mat-select name="vehicleType"  id="vehicleType" [(value)]="device.vehicleType">
                  <mat-option *ngFor="let vehicle of deviceTypes" [value]=vehicle>{{vehicle}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </div>
           
            <!-- <div class="col-md-12">
                     <mat-checkbox [(ngModel)]="device.check"  #check="ngModel" name="check" id="check">Required Any Quatations</mat-checkbox>
                 </div> -->

            </div>



        
            <div class="float-right">
              <a class="text-primary">Cancel</a>
              <button mat-raised-button class="btn btn-primary ml-2" [disabled]="!deviceForm.valid" type="submit">Update</button>
            </div>
            
      </form>
    </div>
  </div>